<mat-card>
  <mat-card-header>
    <mat-card-title>Command</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <mat-card-title>Command details</mat-card-title>
      <mat-card-content *ngIf="commandRequest">
        <div fxLayout="column" class="mt1 command-request">
          <div fxLayout="row">
            <div class="label-text">Id:</div>
            <div>{{commandRequest.id}}</div>
          </div>
          <div fxLayout="row">
            <div class="label-text">Type:</div>
            <div>
              <div *ngIf="commandRequest.commandType === appConstants.DEVICE.COMMAND.TYPE.EXECUTE">
                Execute
              </div>
              <div *ngIf="commandRequest.commandType === appConstants.DEVICE.COMMAND.TYPE.HEALTH">
                Health
              </div>
              <div *ngIf="commandRequest.commandType === appConstants.DEVICE.COMMAND.TYPE.PING">
                Ping
              </div>
              <div *ngIf="commandRequest.commandType === appConstants.DEVICE.COMMAND.TYPE.FIRMWARE">
                Firmware
              </div>
              <div *ngIf="commandRequest.commandType === appConstants.DEVICE.COMMAND.TYPE.REBOOT">
                Reboot
              </div>
              <div *ngIf="commandRequest.commandType === appConstants.DEVICE.COMMAND.TYPE.SHUTDOWN">
                Shutdown
              </div>
            </div>
          </div>
          <div fxLayout="row">
            <div class="label-text">Execution:</div>
            <div>
              <div
                *ngIf="commandRequest.executionType === appConstants.DEVICE.COMMAND.EXECUTION.ASYNCHRONOUS">
                Asynchronous
              </div>
              <div
                *ngIf="commandRequest.executionType === appConstants.DEVICE.COMMAND.EXECUTION.SYNCHRONOUS">
                Synchronous
              </div>
            </div>
          </div>
          <div fxLayout="row">
            <div class="label-text">Command:</div>
            <div>{{commandRequest.command}}</div>
          </div>
          <div fxLayout="row">
            <div class="label-text">Arguments:</div>
            <div>{{commandRequest.arguments}}</div>
          </div>
          <div fxLayout="row">
            <div class="label-text">Created at:</div>
            <div>{{commandRequest.createdOn | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}</div>
          </div>
          <div fxLayout="row">
            <div class="label-text">Dispatched at:</div>
            <div
              *ngIf="commandRequest.dispatchedOn">{{commandRequest.dispatchedOn | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mt1">
      <mat-card-title>Reply details</mat-card-title>

      <mat-card-content *ngIf="commandReplies">
        <div fxLayout="column" class="mt1 mb2 command-request"
             *ngFor="let reply of commandReplies; let i = index">
          <div fxLayout="row">
            <div class="label-text">Hardware Id:</div>
            <div>{{reply.hardwareId}}</div>
          </div>
          <div fxLayout="row">
            <div class="label-text">Reply type:</div>
            <div *ngIf="reply.success">Successful execution</div>
            <div *ngIf="!reply.success">Failed execution</div>
          </div>
          <div fxLayout="row">
            <div class="label-text">Replied on:</div>
            <div>{{reply.createdOn | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}</div>
          </div>
          <div fxLayout="row" class="mt1">
            <div class="label-text">Output:<br>
              <button mat-button (click)="copyOutputToClipboard(i)" matTooltip="Copy to clipboard">
                <mat-icon>content_paste</mat-icon>
              </button>
              <button mat-button (click)="deleteReply(reply.id!, i)" matTooltip="Delete reply">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
            <pre class="command-output">{{reply.output}}</pre>
          </div>
        </div>
      </mat-card-content>

      <mat-card-content *ngIf="!commandReplies">
        No reply was found for this command.
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn" (click)="deleteReplies()" *ngIf="commandReplies">
      DELETE REPLIES
    </button>
    <button mat-button color="warn" (click)="deleteCommand()">
      DELETE COMMAND
    </button>
  </mat-card-actions>
</mat-card>
