<div class="flex flex-col bg-base-100 mt-1 ml-1 mr-1 p-4 rounded-xl">
  <div class="flex flex-row justify-between">
    <div class="stat-title">{{ widget.title }}</div>
    <div>
      <i class="text-accent  fa-solid {{ widget.icon }}"></i>
    </div>
  </div>
  <div *ngIf="widget.subtitle" class="stat-desc">{{ widget.subtitle }}</div>
  <div class="flex flex-row mt-2 justify-between">
    <div class="flex flex-col">
      <div class=" text-center text-base-content/50">Users</div>
      <fa-icon class="mt-1 mb-1 text-center text-lg text-primary" icon="user"></fa-icon>
      <div class="text-2xl text-center">123</div>
    </div>
    <div class="mt-2 mb-2 bg-base-content/10" style="width: 2px"></div>
    <div class="flex flex-col">
      <div class=" text-center text-base-content/50">Groups</div>
      <fa-icon class="mt-1 mb-1 text-center text-lg text-primary" icon="users"></fa-icon>
      <div class="text-2xl text-center">123
      </div>
    </div>
    <div class="mt-2 mb-2 bg-base-content/10" style="width: 2px"></div>
    <div class="flex flex-col">
      <div class=" text-center text-base-content/50">Roles</div>
      <fa-icon class="mt-1 mb-1 text-center text-lg text-primary" icon="users-between-lines"></fa-icon>
      <div class="text-2xl text-center">123</div>
    </div>
    <div class="mt-2 mb-2 bg-base-content/10" style="width: 2px"></div>
    <div class="flex flex-col">
      <div class=" text-center text-base-content/50">Policies</div>
      <fa-icon class="mt-1 mb-1 text-center text-lg text-primary" icon="building-shield"></fa-icon>
      <div class="text-2xl text-center">123</div>
    </div>
    <div class="mt-2 mb-2 bg-base-content/10" style="width: 2px"></div>
    <div class="flex flex-col">
      <div class=" text-center text-base-content/50">Audits</div>
      <fa-icon class="mt-1 mb-1 text-center text-lg text-primary" icon="xmarks-lines"></fa-icon>
      <div class="text-2xl text-center">123222</div>
    </div>
  </div>
</div>

