<div class="card w-full rounded-b-none" >
  <div class="card-body p-0 pt-4">
    <h2 class="card-title text-2xl flex flex-row justify-between">
      <div class="flex flex-row gap-2">
        <fa-icon icon="dashboard"></fa-icon>
        <div>Dashboard items</div>
      </div>
    </h2>
    <div>Select a dashboard item to add to your dashboard:</div>
    <div class="flex flex-row flex-wrap gap-5 mt-4 justify-center">
      <div *ngFor="let w of itemsList">
        <div *ngIf="w.available;then itemEnabled else itemDisabled"></div>
        <ng-template #itemEnabled>
          <div class="card w-40 bg-base-100 shadow-xl hover:cursor-pointer hover:bg-base-200"
               (click)="selectItem(w)" [matTooltip]="w.description">
            <figure class="pt-4">
              <img class="rounded-xl max-h-24" src="{{'assets/img/widgets/' + w.icon}}" alt=""/>
            </figure>
            <div class="card-body items-center text-center">
              <h2 class="card-title">{{w.name}}</h2>
            </div>
          </div>
        </ng-template>
        <ng-template #itemDisabled>
          <div class="card w-40 shadow-xl bg-base-100 hover:cursor-not-allowed opacity-25"
               matTooltip="You can only have one item of this type in your dashboard.">
            <figure class="pt-4">
              <img class="rounded-xl max-h-24" src="{{'assets/img/widgets/' + w.icon}}" alt=""/>
            </figure>
            <div class="card-body items-center text-center">
              <h2 class="card-title">{{w.name}}</h2>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
