<div class="flex flex-col bg-base-100 mt-1 ml-1 mr-1 p-4 rounded-xl">
  <div class="flex flex-row justify-between">
    <div class="stat-title">{{ item.title }}</div>
  </div>
  <div *ngIf="item.subtitle" class="stat-desc">{{ item.subtitle }}</div>
  <div>
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Device</th>
          <th scope="col">Registration</th>
          <th scope="col">Type</th>
        </tr>
        </thead>
        <tbody *ngIf="!lastMessage && config">
        <tr *ngFor="let i of utilityService.arrayGen(config!.entries)">
          <td colspan="3">
            <div class="skeleton h-5 w-full"></div>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="lastMessage">
        <tr *ngFor="let item of lastMessage.devices">
          <td class="overflow-hidden whitespace-nowrap">{{ item.hardwareId }}</td>
          <td *ngIf="item.hardwareId" class="overflow-hidden whitespace-nowrap">{{ item.registeredOn | amFromUtc | amLocal | amTimeAgo }}</td>
          <td *ngIf="!item.hardwareId" class="overflow-hidden whitespace-nowrap">&nbsp;</td>
          <td *ngIf="item.hardwareId" class="overflow-hidden whitespace-nowrap"><img [src]="'assets/img/logos/' + item.type.toLowerCase() + '-logo.png'"
                   alt="{{item.type.toLowerCase()}}" width="20" height="15" class="inline">
            {{ item.type.toLowerCase() }}
          </td>
          <td *ngIf="!item.hardwareId" class="overflow-hidden whitespace-nowrap">&nbsp;</td>
        </tr>
      </table>
    </div>
  </div>
</div>
