<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="cubes"></fa-icon>
        <div>Provisioning</div>
      </div>
      <app-live-toggle (tick)="changePage()"></app-live-toggle>
    </h2>
    <div>
      <table [dataSource]="datasource" aria-describedby="List of provisioning packages"
             cdk-table class="table w-full" matSort matSortActive="version"
             matSortDirection="desc"
             matSortDisableClear matSortStart="desc">
        <ng-container matColumnDef="name">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Name</th>
          <td *cdkCellDef="let element" cdk-cell>{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="version">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Version</th>
          <td *cdkCellDef="let element" cdk-cell>{{element.version}}</td>
        </ng-container>
        <ng-container matColumnDef="prerequisiteVersion">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Base Version</th>
          <td *cdkCellDef="let element" cdk-cell>
            {{resolveBaseVersion(element.prerequisiteVersion)}}</td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> State</th>
          <td *cdkCellDef="let element" cdk-cell>
            <app-boolean-checkbox [value]="element.available"></app-boolean-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="size">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Size</th>
          <td *cdkCellDef="let element" cdk-cell>{{element["size"] | filesize}}</td>
        </ng-container>
        <ng-container matColumnDef="tags">
          <th *cdkHeaderCellDef cdk-header-cell scope="col"> Tags</th>
          <td *cdkCellDef="let element" cdk-cell>
            {{resolveTag(element.tags)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdOn">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Created</th>
          <td *cdkCellDef="let element" cdk-cell>{{element.createdOn | date:
            constants.DATE_FORMAT}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Type</th>
          <td *cdkCellDef="let element" cdk-cell>{{element.type}}</td>
        </ng-container>
        <ng-container matColumnDef="cacheStatus">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Cache</th>
          <td *cdkCellDef="let element" [ngSwitch]="element.cacheStatus" cdk-cell>
            <div *ngSwitchCase="appConstants.PROVISIONING.CACHE_STATUS.COMPLETED"
                 class="status-completed">Completed
            </div>
            <div *ngSwitchCase="appConstants.PROVISIONING.CACHE_STATUS.FAILED"
                 class="status-failed">Failed
            </div>
            <div *ngSwitchCase="appConstants.PROVISIONING.CACHE_STATUS.IN_PROGRESS"
                 class="status-inprogress">In progress
            </div>
            <div *ngSwitchCase="appConstants.PROVISIONING.CACHE_STATUS.NOT_STARTED"
                 class="status-notstarted">Not started
            </div>
          </td>
        </ng-container>
        <tr *cdkHeaderRowDef="columns" cdk-header-row></tr>
        <tr *cdkRowDef="let row; columns: columns; let element;" [routerLink]="element.id"
            cdk-row class="hover hover:cursor-pointer"></tr>
      </table>

      <mat-paginator #paginator (page)="changePage()"
                     [pageSizeOptions]="[10, 30, 50]"
                     [pageSize]="10"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
    <div class="card-actions justify-start mt-10">
      <button (click)="cacheAll()" *ngIf="allowWrite" class="btn btn-sm btn-secondary">CACHE ALL</button>
      <button *ngIf="allowCreate" [routerLink]="appConstants.NEW_RECORD_ID" class="btn btn-sm btn-primary">CREATE
      </button>
    </div>
  </div>
</div>
