<mat-card>
  <mat-card-title>Tag edit</mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form">
      <div fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name"
                 cdkTrapFocus cdkTrapFocusAutoCapture (keyup.enter)="save()">
          <mat-icon matSuffix color="warn"
                    *ngIf="form.controls['name'].invalid"
                    matTooltip="{{form.controls['name'].getError('message')}}"
                    matTooltipPosition="above" style="cursor: help">warning
          </mat-icon>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/tags">CANCEL</button>
    <button mat-button color="primary" (click)="save()">SAVE</button>
    <button mat-button color="warn" (click)="delete()" *ngIf="id">DELETE</button>
  </mat-card-actions>
</mat-card>
