<div class="mat-card-title">
  Sensor value setup
  <mat-icon style="float: right;">{{form.value.icon}}</mat-icon>
</div>
<div fxLayout="column">
  <form novalidate [formGroup]="form" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="1rem">
      <mat-form-field fxFlex="70%">
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
      <mat-form-field fxFlex="30%">
        <input matInput placeholder="Unit" formControlName="unit">
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-select placeholder="Icon" formControlName="icon">
        <mat-option></mat-option>
        <mat-option *ngFor="let icon of extendedConstants.MATERIAL_ICONS" [value]="icon">
          <mat-icon>{{icon}}</mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="1rem">
      <mat-form-field fxFlex="50%">
        <input placeholder="Text color" matInput [ngxMatColorPicker]="fgPicker" formControlName="fgColor">
        <ngx-mat-color-toggle matSuffix [for]="fgPicker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #fgPicker [color]="form.value['fgColor']"></ngx-mat-color-picker>
      </mat-form-field>
      <mat-form-field fxFlex="50%">
        <input placeholder="Background color" matInput [ngxMatColorPicker]="bgPicker" formControlName="bgColor">
        <ngx-mat-color-toggle matSuffix [for]="bgPicker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #bgPicker [color]="form.value['bgColor']"></ngx-mat-color-picker>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="1rem">
      <mat-form-field fxFlex="50%">
        <mat-select placeholder="Columns" formControlName="gridCols">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
          <mat-option [value]="2">4</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="50%">
        <mat-select placeholder="Rows" formControlName="gridRows">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
          <mat-option [value]="2">4</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field>
      <input type="text" matInput placeholder="Device" [matAutocomplete]="auto"
             formControlName="hardwareId">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let device of devices" [value]="device.hardwareId">
          {{device.hardwareId}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Measurement" formControlName="measurement">
      <mat-hint>e.g. telemetry.health.cpuTemperature</mat-hint>
    </mat-form-field>

    <label class="sm-pt2">Update frequency: {{form.value.updateEvery}} seconds</label>
    <mat-slider min="30" max="600" thumbLabel tickInterval="5" step="5" formControlName="updateEvery"></mat-slider>
  </form>

  <div>
    <button mat-button (click)="close()">CANCEL</button>
    <button mat-button color="accent" (click)="delete()" [disabled]="data.id === 0">DELETE</button>
    <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
  </div>
</div>
