<table [dataSource]="datasource" aria-describedby="List of MQTT servers" cdk-table
       class="table w-full" matSort
       matSortActive="name" matSortDirection="asc" matSortDisableClear
       matSortStart="asc">
  <ng-container cdkColumnDef="name">
    <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Name</th>
    <td *cdkCellDef="let element" cdk-cell>{{element.name}}</td>
  </ng-container>
  <ng-container cdkColumnDef="url">
    <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> URL</th>
    <td *cdkCellDef="let element" cdk-cell>{{element.url}}</td>
  </ng-container>
  <ng-container cdkColumnDef="active">
    <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Status</th>
    <td *cdkCellDef="let element" cdk-cell> {{element.active ? 'Active' : 'Inactive'}}</td>
  </ng-container>
  <tr *cdkHeaderRowDef="columns" cdk-header-row></tr>
  <tr *cdkRowDef="let row; columns: columns; let element;" [routerLink]="'mqtt/' + element.id"
      cdk-row class="hover:bg-base-300 hover:cursor-pointer bg-base-content/5 text-base"></tr>
</table>
<mat-paginator (page)="changePage()"
               [pageSizeOptions]="[10, 30, 50]"
               [pageSize]="10"
               [showFirstLastButtons]="true">
</mat-paginator>
<button *ngIf="allowCreate" [routerLink]="['mqtt', appConstants.NEW_RECORD_ID]" class="btn btn-sm btn-primary">
  REGISTER
</button>
