<div *ngIf="enabled" class="fixed rounded-3xl bottom-4 right-4 avatar bg-primary/20 p-2
            hover:bg-primary transition-all duration-300 ease-in-out hover:cursor-pointer
            z-10">
  <fa-icon class="text-2xl select-none" icon="robot" (click)="toggleState()"></fa-icon>
</div>

<div *ngIf="enabled" class="fixed bg-base-300 w-96 h-[500px] p-4 rounded-t-xl bottom-[70px] right-[10px]
            shadow-lg z-50 border-t-2 border-x-2 border-base-100 flex flex-col"
     [ngClass]="{'hidden': !state}">

  <div class="divider text-error">Technology Preview Feature</div>
  <div class="overflow-y-auto" #chatbox>
    <div *ngFor="let message of messages">
      <div *ngIf="message.isError" class="alert alert-error text-sm p-2 my-4 w-[90%] mx-auto">
        <div>{{ message.message }}</div>
      </div>
      <div class="chat chat-start" *ngIf="!message.isError"
           [ngClass]="{'chat-start': !message.isUserInput, 'chat-end': message.isUserInput}">
        <div class="chat-header">
          <div class="flex flex-row flex-nowrap gap-2 items-center">
            <div class="flex flex-row gap-1" *ngIf="!message.isUserInput">
              <fa-icon icon="robot"></fa-icon>
              <div>Bot</div>
            </div>
            <div class="flex flex-row gap-1" *ngIf="message.isUserInput">
              <div>You</div>
            </div>
            <time class="text-xs opacity-50">{{ message.timestamp | amTimeAgo}}</time>
          </div>
        </div>
        <div class="chat-bubble">{{ message.message }}</div>
      </div>
    </div>
    <div class="chat chat-start" *ngIf="waitingForAnswer">
      <div class="chat-bubble">
        <div class="flex items-end gap-1 mt-2.5">
          <span class="w-2 h-2 rounded-full bg-base-content animate-bounce"></span>
          <span class="w-2 h-2 rounded-full bg-base-content animate-bounce [animation-delay:200ms]"></span>
          <span class="w-2 h-2 rounded-full bg-base-content animate-bounce [animation-delay:400ms]"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-auto pt-3 flex flex-row place-items-center">
    <input #userinput type="text" class="input input-md w-full input-bordered pr-9"
            placeholder="Type here..." (keyup.enter)="sendMessage()">
    <fa-icon icon="paper-plane" matTooltip="Send message"
             class="absolute right-[80px] hover:cursor-pointer" (click)="sendMessage()"></fa-icon>
    <button (click)="clearChat()" class="btn btn-sm ml-2 tooltip" matTooltip="Clear chat">
      <fa-icon icon="recycle"></fa-icon>
    </button>
  </div>
</div>

