<!-- component -->
<!-- Foooter -->
<section class="text-primary-content/50">
  <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
    <!--    <nav class="flex flex-wrap justify-center -mx-5 -my-2">-->
    <!--      <div class="px-5 py-2">-->
    <!--        <a href="#" class="leading-6 link-hover" target="_blank">-->
    <!--          About-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="px-5 py-2">-->
    <!--        <a href="#" class="leading-6 link-hover" target="_blank">-->
    <!--          Blog-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="px-5 py-2">-->
    <!--        <a href="#" class="leading-6 link-hover" target="_blank">-->
    <!--          Team-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="px-5 py-2">-->
    <!--        <a href="#" class="leading-6 link-hover" target="_blank">-->
    <!--          Contact-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="px-5 py-2">-->
    <!--        <a href="#" class="leading-6 link-hover" target="_blank">-->
    <!--          Terms-->
    <!--        </a>-->
    <!--      </div>-->
    <!--    </nav>-->
    <!--    <div class="flex justify-center mt-8 space-x-6">-->
    <!--      <a href="#">-->
    <!--        <span class="sr-only">Instagram</span>-->
    <!--        <fa-icon [icon]="['fab', 'instagram']" size="lg"></fa-icon>-->
    <!--      </a>-->
    <!--      <a href="#">-->
    <!--        <span class="sr-only">Twitter</span>-->
    <!--        <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>-->
    <!--      </a>-->
    <!--      <a href="#">-->
    <!--        <span class="sr-only">GitHub</span>-->
    <!--        <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>-->
    <!--      </a>-->
    <!--    </div>-->
    <p class="mt-8  leading-6 text-center">
      &copy; <a target="_blank" href="https://www.eurodyn.com" class="link-hover">European
      Dynamics</a>
    </p>
  </div>
</section>
