<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  {{ data.question }}
  <br>
  <mat-form-field fxFlexFill>
    <input #answer matInput name="answer"/>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button tabindex="-1" (click)="dialogRef.close(false)" *ngIf="data.buttons.cancel"
          class="cancel-button">{{data.cancelValue ? data.cancelValue : "CANCEL"}}</button>
  <button mat-button tabindex="-1" (click)="reload()" *ngIf="data.buttons.reload">RELOAD</button>
  <button mat-button color="primary" tabindex="-1" (click)="dialogRef.close(answer.value)"
          *ngIf="data.buttons.ok">{{data.okValue ? data.okValue : "OK"}}</button>
</mat-dialog-actions>
