.widget {
  height: 100%;
  padding: 0.5rem;
  border-radius: 5px;

  .body {
    height: 100%;
  }

  &:hover .buttons {
    opacity: 1;
    transition: opacity 1s;
    background-color: #aaaaaa;
    border-radius: 15px;
  }

  .buttons {
    opacity: 0;
    position: absolute;
    top: 3px;
    right: 3px;
    padding-left: 1px;
    &:hover {
      color: #eeeeee;
      background-color: #000000;
      cursor: pointer;
    }
  }
}
