<mat-card>
  <mat-card-title>Preregister devices</mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form" fxLayout="column">
      <mat-form-field>
          <textarea cdkTextareaAutosize [cdkAutosizeMinRows]=1 [cdkAutosizeMaxRows]=30
                    matInput placeholder="Hardware IDs" formControlName="ids"
                    cdkTrapFocus cdkTrapFocusAutoCapture></textarea>
        <app-field-error matSuffix
                         [displayError]="isFieldValid(form, 'ids')"
                         [errorMessage]="form.controls['ids'].getError('message')">
        </app-field-error>
        <mat-hint>You can preregister multiple devices, adding each hardware ID on a separate line
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Tags" multiple formControlName="tags">
          <mat-option *ngFor="let tag of availableTags" [value]="tag.name">{{tag.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="useCam()">USE CAMERA</button>
    <button mat-button routerLink="/devices">CANCEL</button>
    <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
  </mat-card-actions>
</mat-card>
