.widget {
  color: #ffffff;

  .body {
    .icon {
      mat-icon {
        transform: scale(2);
      }
    }
    .value {
      font-size: 2rem;
      //padding-right: 0;
      //margin-right: 0;
      //transform: scale(3);
    }

    .title {
      padding-right: 2px;
      font-size: 1.05rem;
    }
  }

}
