<mat-card>
  <mat-card-title>MQTT server</mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form">
      <input type="hidden" formControlName="id">
      <div fxLayout="row" fxLayoutGap="1rem">
        <div fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Protocol, IP address, port" formControlName="ipAddress" required>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="State" formControlName="state">
              <mat-option [value]="true">Active</mat-option>
              <mat-option [value]="false">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Tags" multiple formControlName="tags">
              <mat-option *ngFor="let tag of availableTags"
                          [value]="tag.id">{{tag.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div fxLayout="column" style="padding-top: 2rem">
            <div fxLayout="row">
              <mat-form-field>
                <input matInput placeholder="CA certificate" formControlName="caCert">
              </mat-form-field>
              <button mat-button [matMenuTriggerFor]="caCertificatesMenu">
                <mat-icon>search</mat-icon>
              </button>
              <mat-menu #caCertificatesMenu="matMenu">
                <button mat-menu-item *ngFor="let ca of cas"
                        (click)="pickCaCertificate(ca.id, 'caCert')">{{ca.cn}}</button>
              </mat-menu>
            </div>

            <div fxLayout="row">
              <mat-form-field>
                <input matInput placeholder="Client certificate" formControlName="clientCert">
              </mat-form-field>
              <button mat-button [matMenuTriggerFor]="clientCertificatesMenu">
                <mat-icon>search</mat-icon>
              </button>
              <mat-menu #clientCertificatesMenu="matMenu">
                <button mat-menu-item *ngFor="let cert of certificates"
                        (click)="pickCertificate(cert.id, 'clientCert')">{{cert.cn}}</button>
              </mat-menu>
            </div>

            <div fxLayout="row">
              <mat-form-field>
                <input matInput placeholder="Client private key" formControlName="clientKey">
              </mat-form-field>
              <button mat-button [matMenuTriggerFor]="clientKeysMenu">
                <mat-icon>search</mat-icon>
              </button>
              <mat-menu #clientKeysMenu="matMenu">
                <button mat-menu-item *ngFor="let cert of certificates"
                        (click)="pickPrivateKey(cert.id, 'clientKey')">{{cert.cn}}</button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button routerLink="/infra" fragment="mqtt">CANCEL</button>
    <button mat-button color="accent" (click)="delete()" [disabled]="this.id == 0">DELETE</button>
    <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
  </mat-card-actions>
</mat-card>
