<form [formGroup]="settingsForm" class="flex flex-col" novalidate>
  <div class="font-bold text-xl mt-5">Geolocation telemetry attributes</div>
  <div class="mb-2">
    If your devices transmit geolocation coordinates you can choose which telemetry data
    corresponds to the latitude and the longitude. If these values are set, you can see your
    device's location on the device page on a map.
  </div>
  <mat-form-field>
    <mat-label>Longitude</mat-label>
    <input [formControlName]="this.constants.DEVICE.SETTING.DEVICE_GEO_LON" [matAutocomplete]="autoLon"
           matInput>
    <mat-autocomplete #autoLon="matAutocomplete">
      <mat-option
        *ngFor="let measurement of allUniqueMeasurements" [value]="measurement">
        {{measurement}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Latitude</mat-label>
    <input [formControlName]="this.constants.DEVICE.SETTING.DEVICE_GEO_LAT" [matAutocomplete]="autoLat"
           matInput>
    <mat-autocomplete #autoLat="matAutocomplete">
      <mat-option
        *ngFor="let measurement of allUniqueMeasurements" [value]="measurement">
        {{measurement}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngIf="fetchingGeoAttributes" class="flex flex-row">
    <fa-icon animation="spin" class="text-accent" icon="spinner"></fa-icon>
    <div class="ml-2">fetching device measurements...</div>
  </div>


</form>

<form [formGroup]="profileDataForm" class="flex flex-col" novalidate>
  <div class="font-bold text-xl mt-5">Device profile data</div>
  <div>
    Select which device data will be visible on device profile page. Custom formatting is
    supported via
    <a href="https://quarkus.io/guides/qute-reference" rel="noopener noreferrer" target="_blank">Qute</a>.
    The value can be referenced as <span class="font-mono">&#123;val&#125;</span>.
  </div>

  <div class="mt-2 flex flex-col grow">
    <div *ngFor="let field of getFormFields(); let i = index" class="grow" formArrayName="fields">
      <div [formGroupName]="i" class="flex flex-row mr-4">
        <input name="id" type="hidden" value="{{field.controls.id.value}}">
        <mat-checkbox class="mt-3" formControlName="shown"></mat-checkbox>
        <mat-form-field class="grow">
          <mat-label>Measurement</mat-label>
          <input [matAutocomplete]="auto" formControlName="measurement"
                 matInput>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let measurement of allUniqueMeasurements" [value]="measurement">
              {{measurement}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="grow">
          <mat-label>UI label</mat-label>
          <input formControlName="label" matInput>
        </mat-form-field>

        <mat-form-field class="grow">
          <mat-label>Formatter</mat-label>
          <input formControlName="formatter" matInput>
        </mat-form-field>

        <fa-icon (click)="deleteField(i)" class="cursor-pointer mt-2" icon="trash-can"
                 matTooltip="Remove field"></fa-icon>
      </div>
    </div>
  </div>
  <button (click)="newMeasurement()" *ngIf="allowWrite" class="btn btn-sm btm-secondary">Add measurement</button>
</form>

<button (click)="save()" *ngIf="allowWrite" [disabled]="profileDataForm.invalid" class="btn btn-sm btn-primary mt-10">
  SAVE
</button>
