<mat-card>
  <mat-card-title>Standard infrastructure data wizard</mat-card-title>
  <mat-card-content>

    <form novalidate [formGroup]="form" fxLayout="column">
      <div class="inline-header">esthesis database</div>
      <div class="inline-subheader">
        The details of the database where the esthesis server points at.
      </div>
      <mat-form-field>
        <input matInput placeholder="Database connection URI" formControlName="esthesisDbUri">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Database driver" formControlName="esthesisDbDriver">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Database driver location" formControlName="esthesisDbDriverLocation">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Database user" formControlName="esthesisDbUser">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Database password" formControlName="esthesisDbPassword">
      </mat-form-field>

      <div class="inline-header">MQTT server</div>
      <div class="inline-subheader">
        The details of the MQTT server used to interact with devices.
      </div>
      <mat-form-field>
        <input matInput placeholder="MQTT connection URI" formControlName="mqttUri">
      </mat-form-field>

      <div class="inline-header">InfluxDB database</div>
      <div class="inline-subheader">
        The details of the INfluxDB where telemetry data is persisted.
      </div>
      <mat-form-field>
        <input matInput placeholder="InfluxDB connection URI" formControlName="influxDbUri">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="InfluxDB user" formControlName="influxDbUser">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Database password" formControlName="influxDbPassword">
      </mat-form-field>

    </form>

  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row">
      <button mat-button (click)="executeWizard()" [disabled]="wizardProgress > 0">EXECUTE WIZARD
      </button>
      <mat-spinner class="spinner" [diameter]="20" [strokeWidth]="1" *ngIf="wizardProgress > 0"></mat-spinner>
      <mat-progress-bar class="pbar" mode="determinate" *ngIf="wizardProgress > 0"
                        [value]="wizardProgress"></mat-progress-bar>
    </div>
  </mat-card-actions>
</mat-card>
