<mat-card>
  <mat-card-title>Dashboard</mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutGap="1.5rem">
    <!-- Top info-boxes -->
    <app-dashboard-info-boxes fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between"></app-dashboard-info-boxes>

    <!-- Map and charts -->
    <div fxLayout="row" fxLayoutGap="15px">
      <app-dashboard-map style="height: 400px" fxFlex="grow"></app-dashboard-map>
      <app-dashboard-charts fxLayout="column"></app-dashboard-charts>
    </div>

    <!-- Lists and messages -->
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start">
        <app-dashboard-inactive-devices fxFlex="grow"></app-dashboard-inactive-devices>
      <app-dashboard-new-registrations fxFlex="grow"></app-dashboard-new-registrations>
      <app-dashboard-error-log fxFlex="grow"></app-dashboard-error-log>
    </div>
  </mat-card-content>
</mat-card>
