<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between">
      <div class="flex flex-row gap-2">
        <fa-icon icon="broadcast-tower"></fa-icon>
        <div>Command</div>
      </div>
      <app-live-toggle (tick)="changePage()"></app-live-toggle>
    </h2>
    <div>
      <div fxLayout="column">
        <!-- Filter -->
        <div [formGroup]="filterForm" class="mb-10 mt-5">
          <fa-icon icon="search" class="mr-5 ml-1"></fa-icon>
          <input type="text" placeholder="Command"
                 class="input w-full max-w-xs placeholder-primary-content/30"
                 formControlName="command"/>
          <button (click)="clearFilter()" class="btn btn-secondary btn-ghost ml-2">CLEAR</button>
        </div>

        <table cdk-table #table [dataSource]="dataSource" class="table w-full"
               matSort matSortActive="createdOn" matSortDirection="desc" matSortStart="desc"
               matSortDisableClear id="results" aria-describedby="List of commands issued">
          <ng-container matColumnDef="command">
            <th cdk-header-cell *matHeaderCellDef scope="col">Description/Command</th>
            <td cdk-cell *cdkCellDef="let element">
            <span *ngIf="element.description">
              {{element.description | truncate: 100 : "…"}}
            </span>
              <span *ngIf="!element.description">
              {{element.command | truncate: 100 : "…"}}
            </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="createdOn">
            <th cdk-header-cell *matHeaderCellDef mat-sort-header scope="col"> Created</th>
            <td cdk-cell
                *cdkCellDef="let element">{{element.createdOn | date: constants.DATE_FORMAT}}</td>
          </ng-container>
          <ng-container matColumnDef="dispatchedOn">
            <th cdk-header-cell *matHeaderCellDef mat-sort-header scope="col"> Dispatched at</th>
            <td cdk-cell
                *cdkCellDef="let element">{{element.dispatchedOn | date: constants.DATE_FORMAT}}</td>
          </ng-container>
          <ng-container matColumnDef="pills">
            <th cdk-header-cell *matHeaderCellDef scope="col">Type</th>
            <td cdk-cell *cdkCellDef="let element">
              <div class="flex flex-row gap-2">
                <div [ngSwitch]="element.commandType">
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.TYPE.EXECUTE">
                    <span class="badge badge-info">EXECUTE</span>
                  </div>
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.TYPE.HEALTH">
                    <span class="badge badge-info">HEALTH</span>
                  </div>
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.TYPE.PING">
                    <span class="badge badge-info">PING</span>
                  </div>
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.TYPE.FIRMWARE">
                    <span class="badge badge-info">FIRMWARE</span>
                  </div>
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.TYPE.REBOOT">
                    <span class="badge badge-info">REBOOT</span>
                  </div>
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.TYPE.SHUTDOWN">
                    <span class="badge badge-info">SHUTDOWN</span>
                  </div>
                </div>
                <div [ngSwitch]="element.executionType">
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.EXECUTION.ASYNCHRONOUS">
                    <span class="badge badge-error">ASYNC</span>
                  </div>
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.EXECUTION.SYNCHRONOUS">
                    <span class="badge badge-success">SYNC</span>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
          <tr cdk-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr cdk-row *matRowDef="let row; let element; columns: displayedColumns;"
              [routerLink]="'/command/reply/' + element.id" class="hover hover:cursor-pointer"></tr>
        </table>
        <mat-paginator #paginator (page)="changePage()"
                       [pageSize]="10"
                       [pageSizeOptions]="[10, 30, 50]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </div>
    <div class="card-actions justify-start">
      <button class="btn btn-sm btn-accent" [matMenuTriggerFor]="menu">PURGE
        <fa-icon icon="chevron-down" class="ml-2"></fa-icon>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="purgeAll()">All</button>
          <button mat-menu-item (click)="purgeKeep(1)">Keep last 24h</button>
          <button mat-menu-item (click)="purgeKeep(7)">Keep last week</button>
          <button mat-menu-item (click)="purgeKeep(30)">Keep last month</button>
        </mat-menu>
      </button>
      <button class="btn btn-sm btn-primary" routerLink="create">CREATE</button>
    </div>
  </div>
</div>

