<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Send a command to devices</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <form [formGroup]="searchDevicesForm">
      <div class="inline-header" fxLayout="row">
        <div>Devices</div>
        <div *ngIf="isSearching">
          <mat-spinner [diameter]="15" [strokeWidth]="1"></mat-spinner>
        </div>
      </div>
      <div class="mt1 mb1">
        <mat-chip-listbox>
          <ng-container *ngFor="let id of selectedHardwareIds">
            <mat-chip-option (click)="removeChip(id)">
              {{ id }}
              <mat-icon class="mat-chip-remove">cancel</mat-icon>
            </mat-chip-option>
          </ng-container>
        </mat-chip-listbox>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex>
          <input matInput placeholder="Search by hardware Id" [matAutocomplete]="auto"
                 formControlName="hardwareId">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let device of searchDevices" [value]="device.hardwareId"
                        (click)="selectHardwareId(device.hardwareId)">
              <span>{{device.hardwareId}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="inline-header" fxLayout="row" style="margin-top:0 !important">
        <div>Tags</div>
      </div>
      <mat-select multiple formControlName="tags" class="mt1" placeholder="Select a tag">
        <mat-option *ngFor="let tag of availableTags"
                    [value]="tag.name">{{tag.name}}</mat-option>
      </mat-select>
    </form>

    <div class="inline-header">Command</div>
    <form [formGroup]="commandForm" fxLayout="column">
      <mat-form-field>
        <mat-select placeholder="Command type" formControlName="commandType">
          <mat-option *ngFor="let o of appConstants.DEVICE.COMMAND.TYPE| keyvalue"
                      [value]="o.value">
            {{ lookupByValue(appConstants.DEVICE.COMMAND.TYPE, o.value) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="commandForm.value['commandType'] == appConstants.DEVICE.COMMAND.TYPE.EXECUTE">
        <mat-select placeholder="Command execution type" formControlName="executionType">
          <mat-option *ngFor="let o of appConstants.DEVICE.COMMAND.EXECUTION| keyvalue"
                      [value]="o.value">
            {{ lookupByValue(appConstants.DEVICE.COMMAND.EXECUTION, o.value) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="commandForm.value['commandType'] == appConstants.DEVICE.COMMAND.TYPE.EXECUTE">
        <input matInput placeholder="Command" formControlName="command">
      </mat-form-field>
      <mat-form-field
        *ngIf="commandForm.value['commandType'] == appConstants.DEVICE.COMMAND.TYPE.EXECUTE">
        <input matInput placeholder="Command arguments" formControlName="arguments">
      </mat-form-field>
      <mat-form-field
        *ngIf="commandForm.value['commandType'] == appConstants.DEVICE.COMMAND.TYPE.FIRMWARE">
        <mat-select placeholder="Provisioning package" formControlName="command">
          <mat-option *ngFor="let pp of provisioningPackages"
                      [value]="pp.id">{{pp.name}} - {{pp.version}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
            <textarea cdkTextareaAutosize [cdkAutosizeMinRows]=1 [cdkAutosizeMaxRows]=10
                      matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/command">CANCEL</button>
    <button mat-button color="primary" [disabled]="!canDispatch()" (click)="save()">DISPATCH
    </button>
  </mat-card-actions>
</mat-card>
