<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between">
      <div class="flex flex-row gap-2">
        <fa-icon icon="broadcast-tower"></fa-icon>
        <div>Command</div>
      </div>
      <app-live-toggle (tick)="changePage()"></app-live-toggle>
    </h2>
    <div>
      <div fxLayout="column">
        <!-- Filter -->
        <div [formGroup]="filterForm" class="mb-10 mt-5">
          <fa-icon class="mr-5 ml-1" icon="search"></fa-icon>
          <input class="input w-full max-w-xs placeholder-primary-content/30" formControlName="command"
                 placeholder="Command"
                 type="text"/>
          <button (click)="clearFilter()" class="btn btn-secondary btn-ghost ml-2">CLEAR</button>
        </div>

        <table #table [dataSource]="dataSource" aria-describedby="List of commands issued" cdk-table
               class="table w-full" id="results" matSort matSortActive="createdOn"
               matSortDirection="desc" matSortDisableClear matSortStart="desc">
          <ng-container matColumnDef="command">
            <th *matHeaderCellDef cdk-header-cell scope="col">Description/Command</th>
            <td *cdkCellDef="let element" cdk-cell>
            <span *ngIf="element.description">
              {{element.description | truncate: 100 : "…"}}
            </span>
              <span *ngIf="!element.description">
              {{element.command | truncate: 100 : "…"}}
            </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="createdOn">
            <th *matHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Created</th>
            <td *cdkCellDef="let element"
                cdk-cell>{{element.createdOn | date: constants.DATE_FORMAT}}</td>
          </ng-container>
          <ng-container matColumnDef="dispatchedOn">
            <th *matHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Dispatched at</th>
            <td *cdkCellDef="let element"
                cdk-cell>{{element.dispatchedOn | date: constants.DATE_FORMAT}}</td>
          </ng-container>
          <ng-container matColumnDef="pills">
            <th *matHeaderCellDef cdk-header-cell scope="col">Type</th>
            <td *cdkCellDef="let element" cdk-cell>
              <div class="flex flex-row gap-2">
                <div [ngSwitch]="element.commandType">
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.TYPE.EXECUTE">
                    <span class="badge badge-info">EXECUTE</span>
                  </div>
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.TYPE.HEALTH">
                    <span class="badge badge-info">HEALTH</span>
                  </div>
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.TYPE.PING">
                    <span class="badge badge-info">PING</span>
                  </div>
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.TYPE.FIRMWARE">
                    <span class="badge badge-info">FIRMWARE</span>
                  </div>
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.TYPE.REBOOT">
                    <span class="badge badge-info">REBOOT</span>
                  </div>
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.TYPE.SHUTDOWN">
                    <span class="badge badge-info">SHUTDOWN</span>
                  </div>
                </div>
                <div [ngSwitch]="element.executionType">
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.EXECUTION.ASYNCHRONOUS">
                    <span class="badge badge-error">ASYNC</span>
                  </div>
                  <div *ngSwitchCase="appConstants.DEVICE.COMMAND.EXECUTION.SYNCHRONOUS">
                    <span class="badge badge-success">SYNC</span>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="displayedColumns" cdk-header-row></tr>
          <tr *matRowDef="let row; let element; columns: displayedColumns;" [routerLink]="'/command/reply/' + element.id"
              cdk-row class="hover hover:cursor-pointer"></tr>
        </table>
        <mat-paginator #paginator (page)="changePage()"
                       [pageSizeOptions]="[10, 30, 50]"
                       [pageSize]="10"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </div>
    <div class="card-actions justify-start">
      <button *ngIf="allowDelete" [matMenuTriggerFor]="menu" class="btn btn-sm btn-accent">PURGE
        <fa-icon class="ml-2" icon="chevron-down"></fa-icon>
        <mat-menu #menu="matMenu" xPosition="before">
          <button (click)="purgeAll()" mat-menu-item>All</button>
          <button (click)="purgeKeep(1)" mat-menu-item>Keep last 24h</button>
          <button (click)="purgeKeep(7)" mat-menu-item>Keep last week</button>
          <button (click)="purgeKeep(30)" mat-menu-item>Keep last month</button>
        </mat-menu>
      </button>
      <button *ngIf="allowCreate" class="btn btn-sm btn-primary" routerLink="create">CREATE</button>
    </div>
  </div>
</div>

