/** Material Design elements customization */
@import 'styles-variables.scss';

// PAGINATOR
mat-paginator {
  @apply bg-inherit font-inter #{!important};
  font-size: inherit #{!important};
  color: inherit #{!important};

  .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
    @apply fill-base-content/30 #{!important};
  }

  .mdc-notched-outline__leading, .mdc-notched-outline__trailing {
    border: 0;
  }

  .mat-mdc-select-value {
    font-size: inherit !important;
    @apply text-base-content #{!important};
  }

  .mat-mdc-select-arrow svg {
    @apply fill-base-content;
  }

}

.mat-mdc-select-panel {
  @apply bg-neutral-content #{!important};
  @apply shadow-none #{!important};
  @apply text-base-content #{!important};
}

.cdk-row:hover {
  //cursor: pointer;
  //background-color: red !important;
}
