<app-info-box-icon-value-legend color="#9178B0" icon="developer_board"
               measurement="19/25" legend="registered" fxFlex="noshrink"></app-info-box-icon-value-legend>
<app-info-box-icon-value-legend color="#FF92CE" icon="graphic_eq"
               measurement="17 - 80%" legend="active" fxFlex="noshrink"></app-info-box-icon-value-legend>
<app-info-box-icon-value-legend color="#F95F6C" icon="flash_on"
               measurement="19456" legend="Energy (kWh)" fxFlex="noshrink"></app-info-box-icon-value-legend>
<app-info-box-icon-value-legend color="#FBB54F" icon="grain"
               measurement="1923" legend="Gas (kWh)" fxFlex="noshrink"></app-info-box-icon-value-legend>
<app-info-box-icon-value-legend color="#775624" icon="local_drink"
               measurement="214" legend="Oil (lt)" fxFlex="noshrink"></app-info-box-icon-value-legend>
<app-info-box-icon-value-legend color="#50A7D7" icon="opacity"
               measurement="542" legend="Water (lt)" fxFlex="noshrink"></app-info-box-icon-value-legend>
