<mat-card>
  <mat-card-title>Certificate</mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Common name" formControlName="cn">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Subject Alternative Names" formControlName="san">
        <mat-hint >You can add multiple SANs separated by comma.</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Expires at" formControlName="validity"
               [matDatepicker]="validityPicker">
        <mat-datepicker-toggle matSuffix [for]="validityPicker"></mat-datepicker-toggle>
        <mat-datepicker #validityPicker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="!form.controls['id'].value">
        <mat-select placeholder="Signed by" formControlName="issuer">
          <mat-option *ngFor="let issuer of issuers" [value]="issuer.cn">
            {{ issuer.cn }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="form.controls['id'].value">
        <input matInput placeholder="Signed by" formControlName="issuer">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [matMenuTriggerFor]="menu" [disabled]="this.id == 0">DOWNLOAD
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="downloadPublicKey(false)">Public key</button>
        <button mat-menu-item (click)="downloadPrivateKey(false)">Private key</button>
        <button mat-menu-item (click)="downloadCertificate(false)">Certificate</button>
        <button mat-menu-item (click)="downloadBackup()">Backup</button>
        <button mat-menu-item (click)="downloadPublicKey(true)">Public key (base64)</button>
        <button mat-menu-item (click)="downloadPrivateKey(true)">Private key (base64)</button>
        <button mat-menu-item (click)="downloadCertificate(true)">Certificate (base64)</button>
      </mat-menu>
    </button>
    <button mat-button routerLink="/certificates">CANCEL</button>
    <button mat-button color="warn" (click)="delete()" [disabled]="this.id == 0">DELETE</button>
    <button mat-button color="primary" (click)="save()"
            [disabled]="form.invalid || id !== 0">SAVE
    </button>
  </mat-card-actions>
</mat-card>
