<form [formGroup]="form" class="flex flex-col" novalidate>
  <div class="font-bold text-xl mt-5">Provisioning URL</div>
  <mat-form-field>
    <input formControlName="DEVICE_PROVISIONING_URL" matInput>
    <mat-hint>The URL devices contact to inquiry and download firmware updates, e.g.
      https://esthesis.mydomain.com
    </mat-hint>
  </mat-form-field>

  <div class="font-bold text-xl mt-5">Provisioning request mode</div>
  <mat-form-field>
    <mat-select [formControlName]="appConstants.NAMED_SETTING.DEVICE_PROVISIONING_SECURE"
                placeholder="Provisioning type">
      <mat-option value="true">Secure provisioning, using tokens</mat-option>
      <mat-option value="false">Insecure provisioning, anyone can query for provisioning
        packages
      </mat-option>
    </mat-select>
    <mat-hint>Specifies whether devices need to provide a signed token to request information on
      available provisioning packages.
    </mat-hint>
  </mat-form-field>

  <div class="font-bold text-xl mt-5">Provisioning caching timer</div>
  <mat-form-field>
    <input formControlName="DEVICE_PROVISIONING_CACHE_TIME" matInput
           placeholder="Tokens caching duration">
    <mat-hint>The time for which a provisioning package download token remains valid (in minutes)
    </mat-hint>
  </mat-form-field>

  <div class="font-bold text-xl mt-5">Provisioning versions follow semantic versioning</div>
  <mat-form-field>
    <mat-select [formControlName]="appConstants.NAMED_SETTING.DEVICE_PROVISIONING_SEMVER"
                placeholder="Semantic versioning">
      <mat-option value="true">Pprovisioning packages follow semantic versioning</mat-option>
      <mat-option value="false">Provisioning packages do not follow semantic versioning
      </mat-option>
    </mat-select>
    <mat-hint>If your provisioning packages follow semantic versioning, the most recent version
      of a provisioning package for a device can be automatically suggested. If you do not follow
      semantic versioning, turn this feature off as it may have unexpected results.
    </mat-hint>
  </mat-form-field>
</form>

<button (click)="save()" *ngIf="allowWrite" [disabled]="form.invalid"
        class="btn btn-sm btn-primary mt-10">SAVE
</button>
