<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="microchip"></fa-icon>
        <div>Device</div>
      </div>
    </h2>

    <div class="flex row">
      <!-- Device info -->
      <div class="w-96 pr-10">
        <form [formGroup]="deviceInfoForm" class="flex flex-col gap-3" novalidate>
          <div>
            <div class="font-bold">Hardware ID</div>
            <div>{{ device?.hardwareId }}</div>
          </div>

          <div>
            <div class="font-bold">Last seen</div>
            <div *ngIf="device?.lastSeen">
              {{ device?.lastSeen | amFromUtc | amLocal }}<br>
              {{ device?.lastSeen | amFromUtc | amLocal | amTimeAgo }}
            </div>
            <div *ngIf="!device?.lastSeen" class="value-text">
              Never
            </div>
          </div>

          <div>
            <div class="font-bold">Created</div>
            <div *ngIf="device?.createdOn">
              {{ device?.createdOn | amFromUtc | amLocal }}
            </div>
            <div *ngIf="!device?.createdOn" class="value-text">
              Never
            </div>
          </div>

          <div>
            <div class="font-bold">Registered on</div>
            <div *ngIf="device?.registeredOn">
              {{ device?.registeredOn | amFromUtc | amLocal }}
            </div>
            <div *ngIf="!device?.registeredOn" class="value-text">
              Never
            </div>
          </div>

          <div>
            <mat-form-field class="w-full -mt-5">
              <div class="font-bold">Registration Status</div>
              <mat-select formControlName="status">
                <mat-option *ngFor="let o of appConstants.DEVICE.STATUS | keyvalue"
                            [value]="o.value">
                  {{ lookupByValue(appConstants.DEVICE.STATUS, o.value) }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="-mt-8">
            <app-tag-select class="flex flex-grow"
                            [parentForm]="deviceInfoForm" parentFormTagsField="tags">
            </app-tag-select>
          </div>

          <div *ngIf="mapOptions && geolocation && mapLayers">
            <div class="flex flex-row">
              <div class="font-bold">Location</div>
              <fa-icon (click)="showMap()" (keydown)="showMap()" class="ml-1 cursor-pointer"
                       icon="up-right-from-square"></fa-icon>
            </div>
            <div class="mt-2 h-[200px]"
                 leaflet
                 [leafletOptions]="mapOptions"
                 [leafletLayers]="mapLayers">
            </div>
            <div class="geoAgo">{{ geolocation.lastUpdated | amFromUtc | amLocal | amTimeAgo }}
            </div>
          </div>
        </form>
      </div>

      <!-- Tabs -->
      <div class="grow">
        <mat-tab-group [disableRipple]="true" animationDuration="0ms">
          <mat-tab>
            <ng-template mat-tab-label>
              <fa-icon class="mr-1" icon="memory"></fa-icon>
              Profile
            </ng-template>
            <ng-template matTabContent>
              <app-device-profile></app-device-profile>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <fa-icon class="mr-1" icon="database"></fa-icon>
              Data
            </ng-template>
            <ng-template matTabContent>
              <app-device-data></app-device-data>
            </ng-template>
          </mat-tab>
          <mat-tab *ngIf="allowWrite"
                   [disabled]="device?.type === appConstants.DEVICE.TYPE.EDGE">
            <ng-template mat-tab-label>
              <fa-icon class="mr-1" icon="terminal"></fa-icon>
              Pseudo-terminal
            </ng-template>
            <ng-template matTabContent>
              <app-device-terminal [hardwareId]="hardwareId"></app-device-terminal>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <div class="card-actions justify-start mt-10">
      <button (click)="delete()"
              *ngIf="allowDelete"
              [disabled]="this.id == appConstants.NEW_RECORD_ID"
              class="btn btn-sm btn-accent">
        DELETE
      </button>
      <button *ngIf="allowRead" [matMenuTriggerFor]="menu"
              class="btn btn-sm btn-secondary">
        DOWNLOAD
        <fa-icon class="ml-2" icon="caret-down"></fa-icon>
        <mat-menu #menu="matMenu" xPosition="before">
          <button (click)="downloadPublicKey()" mat-menu-item>Public key</button>
          <button (click)="downloadPrivateKey()" mat-menu-item>Private key</button>
          <button (click)="downloadCertificate()" mat-menu-item>Certificate</button>
        </mat-menu>
      </button>
      <button (click)="saveDeviceInfo()"
              *ngIf="allowWrite"
              [disabled]="deviceInfoForm.invalid || !deviceInfoForm.dirty"
              class="btn btn-sm btn-primary">SAVE
      </button>
    </div>
  </div>
</div>
