<div fxLayout="row">
  <div class="vertical-title" fxFlex="0.5rem" fxFlexAlign="end">ENERGY</div>
  <div style="height: 100px;">
    <ngx-charts-area-chart
      [scheme]="{domain: ['#F95F6C']}"
      [results]="areaChartEnergy"
      [gradient]="false"
      [xAxis]="false"
      [yAxis]="false"
      [legend]="false"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [xAxisLabel]="'Date'"
      [yAxisLabel]="'kWh'"
      [autoScale]="true">
    </ngx-charts-area-chart>
  </div>
</div>
<div fxLayout="row">
  <div class="vertical-title" fxFlex="0.5rem" fxFlexAlign="end">GAS</div>
  <div style="height: 100px;">
    <ngx-charts-area-chart
      [scheme]="{domain: ['#FBB54F']}"
      [results]="areaChartGas"
      [gradient]="false"
      [xAxis]="false"
      [yAxis]="false"
      [legend]="false"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [autoScale]="true">
    </ngx-charts-area-chart>
  </div>
</div>
<div fxLayout="row">
  <div class="vertical-title" fxFlex="0.5rem" fxFlexAlign="end">OIL</div>
  <div style="height: 100px;">
    <ngx-charts-area-chart
      [scheme]="{domain: ['#775624']}"
      [results]="areaChartOil"
      [gradient]="false"
      [xAxis]="false"
      [yAxis]="false"
      [legend]="false"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [autoScale]="true">
    </ngx-charts-area-chart>
  </div>
</div>
<div fxLayout="row">
  <div class="vertical-title" fxFlex="0.5rem" fxFlexAlign="end">WATER</div>
  <div style="height: 100px;">
    <ngx-charts-area-chart
      [scheme]="{domain: ['#50A7D7']}"
      [results]="areaChartWater"
      [gradient]="false"
      [xAxis]="false"
      [yAxis]="false"
      [legend]="false"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [autoScale]="true">
    </ngx-charts-area-chart>
  </div>
</div>
