<form novalidate [formGroup]="form" fxLayout="column">
  <div class="inline-header">Registration mode</div>
  <mat-radio-group formControlName="deviceRegistration" class="xs-mt2">
    <h4>
      <mat-radio-button
        [value]="settings.SETTING_VALUES.DEVICE_REGISTRATION.REGISTRATION_MODE.DISABLED">Disabled
      </mat-radio-button>
    </h4>
    <div class="inline-subheader">No devices can be registered with the platform.</div>

    <h4 class="xs-mt1">
      <mat-radio-button
        [value]="settings.SETTING_VALUES.DEVICE_REGISTRATION.REGISTRATION_MODE.OPEN">Open
        registration
      </mat-radio-button>
    </h4>
    <div class="inline-subheader">Allow any device to be registered with the platform.
    </div>

    <h4 class="xs-mt1">
      <mat-radio-button
        [value]="settings.SETTING_VALUES.DEVICE_REGISTRATION.REGISTRATION_MODE.OPEN_WITH_APPROVAL">
        Open registration with approval
      </mat-radio-button>
    </h4>
    <div class="inline-subheader">Similar to the the Open Registration, however a successful device
      registration needs to be manually approved
      by an administrator of the system before the device is allowed to further communicate with the
      platform.
    </div>

    <h4 class="xs-mt1">
      <mat-radio-button [value]="settings.SETTING_VALUES.DEVICE_REGISTRATION.REGISTRATION_MODE.ID">
        Preregistered ID
      </mat-radio-button>
    </h4>
    <div class="inline-subheader">Devices can only register using a unique
      device-specific identification provisioned to the device prior to the registration.
    </div>
  </mat-radio-group>

  <div class="inline-header xs-mt2">Allow device to choose tags</div>
  <div class="inline-subheader">Devices can choose which tags they support. Tags need to be already
    created on the platform.
  </div>
  <mat-form-field>
    <mat-select placeholder="Device chooses tags" formControlName="devicePushTags" required>
      <mat-option *ngFor="let o of settings.SETTING_VALUES.DEVICE_REGISTRATION.PUSH_TAGS | keyvalue"
                  [value]="o.value">
        {{ lookupByValue(settings.SETTING_VALUES.DEVICE_REGISTRATION.PUSH_TAGS, o.value) }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="inline-header xs-mt1">Root Certificate Authority</div>
  <div class="inline-subheader">
    The root CA to be pushed to devices.
  </div>
  <mat-form-field>
    <mat-select [compareWith]="compareByStringValue" placeholder="Root CA"
                [formControlName]="settings.SETTING.DEVICE_REGISTRATION.ROOT_CA">
      <mat-option *ngFor="let o of cas" [value]="o.id">
        {{ o.cn }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div class="xs-pt2">
  <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
</div>
