<mat-card>
  <mat-card-header>
    <mat-card-title>Infrastructure</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group #tabs animationDuration="0ms">
      <mat-tab label="MQTT">
        <ng-template mat-tab-label>
          <mat-icon>settings_remote</mat-icon>
          MQTT
        </ng-template>
        <ng-template matTabContent>
          <app-infrastructure-mqtt></app-infrastructure-mqtt>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
