<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="xmarks-lines"></fa-icon>
        <div>Edit role</div>
      </div>
    </h2>
    <div>
      <form [formGroup]="form" novalidate>
        <div class="flex flex-col">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <input formControlName="description" matInput>
          </mat-form-field>

          <!-- Display all policies in a table -->
          <div class="mt-10 text-xl">Policies</div>
          <mat-form-field>
            <input [formControl]="policiesFilterCtrl" [matAutocomplete]="auto"
                   matInput placeholder="Search for a policy to add...">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (click)="addPolicy()" *ngFor="let policy of filteredPolicies"
                          [value]="policy.id">
                <span class="font-bold">{{policy.name}}</span><br>
                <span class="font-thin">{{policy.rule}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <table class="table w-full">
            <thead>
            <tr>
              <th class="text-left">Name</th>
              <th class="text-left">Description</th>
              <th class="text-left">Rule</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let policyId of form.controls.policies.value as string">
              <td>{{getPolicyName(policyId)}}</td>
              <td>{{getPolicyDescription(policyId)}}</td>
              <td>{{getPolicyRule(policyId)}}</td>
              <td>
                <button (click)="removePolicy(policyId)"
                        class="btn btn-sm btn-ghost" matTooltip="Remove policy">
                  <fa-icon icon="trash-can"></fa-icon>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
    <div class="card-actions justify-start mt-10">
      <button class="btn btn-sm btn-secondary" routerLink="/security/roles">CANCEL</button>
      <button (click)="delete()" *ngIf="allowDelete && id !== appConstants.NEW_RECORD_ID"
              class="btn btn-sm btn-accent">DELETE
      </button>
      <button (click)="save()" *ngIf="allowWrite" [disabled]="form.invalid"
              class="btn btn-sm btn-primary">SAVE
      </button>
    </div>
  </div>
</div>
