<mat-card>
  <mat-card-title>Provisioning package</mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form">
      <div fxLayout="column">
        <!-- Package type -->
        <mat-form-field>
          <mat-select placeholder="Package type" formControlName="type">
            <mat-option [value]="appConstants.PROVISIONING.TYPE.ESTHESIS">Esthesis</mat-option>
            <mat-option [value]="appConstants.PROVISIONING.TYPE.FTP">FTP</mat-option>
            <mat-option [value]="appConstants.PROVISIONING.TYPE.MINIO">Minio</mat-option>
            <mat-option [value]="appConstants.PROVISIONING.TYPE.S3">S3</mat-option>
            <mat-option [value]="appConstants.PROVISIONING.TYPE.WEB">Web</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Common elements for all package types -->
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Version" formControlName="version">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Depends on version" formControlName="prerequisiteVersion">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Availability" formControlName="available">
            <mat-option [value]="true">Active</mat-option>
            <mat-option [value]="false">Inactive</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
           <textarea cdkTextareaAutosize [cdkAutosizeMinRows]=1 matInput
                     placeholder="Description"
                     formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Tags" multiple formControlName="tags">
            <mat-option *ngFor="let tag of availableTags" [value]="tag.id">{{tag.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Attributes" formControlName="attributes">
        </mat-form-field>

        <!-- Esthesis package type -->
        <div
          *ngIf="form.value.type === appConstants.PROVISIONING.TYPE.ESTHESIS
            && id === appConstants.NEW_RECORD_ID">
          <div class="inline-subheader">Esthesis package type</div>
          <mat-form-field fxFlexFill>
            <input matInput placeholder="Select a file to upload"
                   (click)="this.id === appConstants.NEW_RECORD_ID ? file.click() : null"
                   formControlName="fileName" readonly>
            <div fxFlex="row" fxLayoutAlign="start center">
              <input type="file" (change)="selectFile($event)" #file hidden>
            </div>
          </mat-form-field>
        </div>

      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button *ngIf="this.id !== appConstants.NEW_RECORD_ID" (click)="download()">
      DOWNLOAD
    </button>
    <button mat-button routerLink="/provisioning">CANCEL</button>
    <button mat-button color="accent" (click)="delete()"
            [disabled]="id === appConstants.NEW_RECORD_ID">DELETE
    </button>
    <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
  </mat-card-actions>
</mat-card>
