<mat-card>
  <mat-card-title>Provisioning package</mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form">
      <input type="hidden" formControlName="id">
      <div fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="File" (click)="this.id == 0 ? file.click() : null"
                 formControlName="fileName"
                 readonly>
          <div fxFlex="row" fxLayoutAlign="start center">
            <input type="file" (change)="selectFile($event)" #file hidden>
          </div>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Version" formControlName="packageVersion">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="State" formControlName="state">
            <mat-option [value]="true">Active</mat-option>
            <mat-option [value]="false">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
           <textarea cdkTextareaAutosize [cdkAutosizeMinRows]=1 matInput
                     placeholder="Description"
                     formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Tags" multiple formControlName="tags">
            <mat-option *ngFor="let tag of availableTags" [value]="tag.id">{{tag.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button [disabled]="this.id == 0" (click)="download()">DOWNLOAD</button>
    <button mat-button routerLink="/provisioning">CANCEL</button>
    <button mat-button color="accent" (click)="delete()" [disabled]="this.id == 0">DELETE</button>
    <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
  </mat-card-actions>
</mat-card>
