<form novalidate [formGroup]="form" fxLayout="row" fxLayoutGap="2rem">
  <div fxLayout="column" fxFlex="300px">
    <mat-form-field>
      <select matNativeControl matInput #deviceSelector
              (change)="onDeviceSelectChange(deviceSelector.value)">
        <option value="" [selected]="!currentDevice">No Device Selected</option>
        <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}
        </option>
      </select>
    </mat-form-field>
    <mat-selection-list>
      <mat-list-option (click)="toggleTryHarder()" [selected]="tryHarder">
        Advanced matching
      </mat-list-option>
      <mat-list-option (click)="toggleTorch()" [selected]="torchEnabled"
                       *ngIf="torchAvailable$ | async">
        Torch
      </mat-list-option>
    </mat-selection-list>

    <div class="cam-viewer">
      <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice"
                     (scanSuccess)="onCodeResult($event)"
                     [formats]="formatsEnabled"
                     [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
                     (camerasFound)="onCamerasFound($event)"
                     (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
    </div>

    <div fxLayout="row">
      <button mat-button (click)="close()">CANCEL</button>
      <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
    </div>
  </div>
  <div>
    <mat-form-field>
          <textarea [matTextareaAutosize]="true" [matAutosizeMinRows]=1 [matAutosizeMaxRows]=30 matInput
                    placeholder="Device id(s)"
                    formControlName="ids"></textarea>
    </mat-form-field>
  </div>
</form>
