<div class="flex flex-col bg-base-100 mt-1 ml-1 mr-1 p-4 rounded-xl">
  <div class="flex flex-row justify-between">
    <div class="stat-title">{{ item.title }}</div>
  </div>
  <div *ngIf="item.subtitle" class="stat-desc">{{ item.subtitle }}</div>

  <div class="stats" [ngClass]="config?.orientation == 'vertical' ? 'stats-vertical h-[400px]' : 'stats-horizontal h-[90px]'">
    <div class="stat">
      <div class="stat-title">Users</div>
      <div class="stat-value" [ngClass]="!lastMessage ? 'skeleton w-15 h-8 mt-2' : ''">{{lastMessage?.users}}</div>
    </div>
    <div class="stat">
      <div class="stat-title">Groups</div>
      <div class="stat-value" [ngClass]="!lastMessage ? 'skeleton w-15 h-8 mt-2' : ''">{{ lastMessage?.groups }}</div>
    </div>
    <div class="stat">
      <div class="stat-title">Roles</div>
      <div class="stat-value" [ngClass]="!lastMessage ? 'skeleton w-15 h-8 mt-2' : ''">{{ lastMessage?.roles }}</div>
    </div>
    <div class="stat">
      <div class="stat-title">Policies</div>
      <div class="stat-value" [ngClass]="!lastMessage ? 'skeleton w-15 h-8 mt-2' : ''">{{ lastMessage?.policies }}</div>
    </div>
    <div class="stat">
      <div class="stat-title">Audits</div>
      <div class="stat-value" [ngClass]="!lastMessage ? 'skeleton w-15 h-8 mt-2' : ''">{{ lastMessage?.audits }}</div>
    </div>
  </div>
</div>

