<div class="flex flex-col bg-base-100 mt-1 ml-1 mr-1 p-4 rounded-xl">
  <div class="flex flex-row justify-between">
    <div class="stat-title">{{ item.title }}</div>
  </div>
  <div *ngIf="item.subtitle" class="stat-desc">{{ item.subtitle }}</div>
  <div class="">
    <app-chart-host chartType="line">
      <canvas class=""
        baseChart
        [data]="chartData"
        [options]="chartOptions"
        type="line"
        height="{{config?.height}}">
      </canvas>
    </app-chart-host>
  </div>
</div>

