<mat-card class="mat-card-flat">
  <mat-card-title>Deploy container</mat-card-title>
  <mat-card-content>
    <mat-horizontal-stepper linear="true" #stepper>

      <mat-step [stepControl]="serverForm">
        <form [formGroup]="serverForm">
          <ng-template matStepLabel>Select virtualization infrastructure</ng-template>
          <div class="containers-toggle">
            <mat-button-toggle-group formControlName="server" fxLayout="row" fxLayoutGap="0.5rem">
              <mat-button-toggle *ngFor="let server of virtualizationServers" [value]="server" >
                <div class="inline-header">{{server.name}}</div>
                <div class="inline-subheader">{{lookupByValue(constants.VIRTUALIZATION.TYPE, server.serverType)}}</div>
                <div [ngSwitch]="server.serverType">
                  <img *ngSwitchCase="constants.VIRTUALIZATION.TYPE.DOCKER_ENGINE" mat-card-image src="../../../assets/img/docker-engine.png">
                  <img *ngSwitchCase="constants.VIRTUALIZATION.TYPE.DOCKER_SWARM" mat-card-image src="../../../assets/img/docker-swarm.png">
                </div>

              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="xs-pt2">
            <button mat-button matStepperNext>NEXT <mat-icon>arrow_right_alt</mat-icon></button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="containerForm">
        <form [formGroup]="containerForm">
          <ng-template matStepLabel>Select container & parameters</ng-template>
          <div [ngSwitch]="serverForm.controls['server'].value.serverType">
            <div fxLayout="column" fxLayoutGap="1rem">
              <div> <!-- top row -->
                <div fxLayout="row" fxLayoutGap="1rem">
                  <div fxLayout="column">
                    <div class="inline-subheader">Docker image</div>
                    <mat-form-field>
                      <input matInput placeholder="Name & tag" formControlName="image" required>
                    </mat-form-field>
                  </div>
                  <div fxLayout="column">
                    <div class="inline-subheader">Name</div>
                    <mat-form-field>
                      <input matInput [placeholder]="serverForm.controls['server'].value.serverType === constants.VIRTUALIZATION.TYPE.DOCKER_SWARM ? 'Service name' : 'Container name'"
                             formControlName="name">
                    </mat-form-field>
                  </div>
                  <div fxLayout="column">
                    <div class="inline-subheader">Restart policy</div>
                    <mat-form-field>
                      <mat-select placeholder='Policy' formControlName='restart'>
                        <mat-option *ngIf="serverForm.controls['server'].value.serverType === constants.VIRTUALIZATION.TYPE.DOCKER_ENGINE"
                                    value="ALWAYS">Always</mat-option>
                        <mat-option *ngIf="serverForm.controls['server'].value.serverType === constants.VIRTUALIZATION.TYPE.DOCKER_SWARM"
                                    value="ANY">Any</mat-option>
                        <mat-option value="NONE">None</mat-option>
                        <mat-option value="ON_FAILURE">On failure</mat-option>
                        <mat-option *ngIf="serverForm.controls['server'].value.serverType === constants.VIRTUALIZATION.TYPE.DOCKER_ENGINE"
                                    value="UNLESS_STOPPED">Unless stopped</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxLayout="column">
                    <div class="inline-subheader">Network</div>
                    <mat-form-field>
                      <input matInput placeholder="Network name" formControlName="network">
                    </mat-form-field>
                  </div>
                  <div fxLayout="column">
                    <div class="inline-subheader">Registry authentication</div>
                    <div fxLayout="row">
                      <mat-form-field>
                        <input matInput placeholder="Registry username" formControlName="registryUsername" readonly
                               onfocus="this.removeAttribute('readonly');">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Registry password" formControlName="registryPassword"
                               type="password" readonly onfocus="this.removeAttribute('readonly');">
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column" *ngIf="serverForm.controls['server'].value.serverType === constants.VIRTUALIZATION.TYPE.DOCKER_SWARM">
                    <div class="inline-subheader">Scale</div>
                    <mat-form-field>
                      <input matInput placeholder="Replicas number" formControlName="scale">
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div> <!-- ENV row -->
                <div fxLayout="column">
                  <div class="inline-subheader">Environmental parameters</div>
<!--                  <div formArrayName="env"-->
<!--                       *ngFor="let item of containerForm.controls['env'].controls; let i = index">-->
                    <div formArrayName="env"
                       *ngFor="let item of containerForm.controls['env']['controls']; let i = index">
                    <div [formGroupName]="i">
                      <mat-form-field>
                        <input matInput placeholder="Name" formControlName='envName' required>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Value" formControlName='envValue' required>
                      </mat-form-field>

                      <button mat-button [matMenuTriggerFor]="rootMenu"><mat-icon>search</mat-icon></button>
                      <mat-menu #rootMenu="matMenu">
                        <button mat-menu-item [matMenuTriggerFor]="certificatesMenu">Certificates</button>
                        <button mat-menu-item [matMenuTriggerFor]="privateKeyMenu">Private keys</button>
                      </mat-menu>
                      <mat-menu #certificatesMenu="matMenu">
                        <button mat-menu-item *ngFor="let cert of certificates"
                                (click)="pickCertificate(cert.id, i)">{{cert.cn}}</button>
                      </mat-menu>
                      <mat-menu #privateKeyMenu="matMenu">
                        <button mat-menu-item *ngFor="let cert of certificates"
                                (click)="pickPrivateKey(cert.id, i)">{{cert.cn}}</button>
                      </mat-menu>

                      <button color="accent" mat-button (click)="removeEnv(i)">
                        <mat-icon>clear</mat-icon>
                      </button>
                    </div>
                  </div>
                  <button color="primary" class="button-left" mat-button (click)="addEnv()">
                    <mat-icon>add</mat-icon>
                    ADD
                  </button>
                </div>
              </div>

              <div> <!-- PORTS row -->
                <div fxLayout="column">
                  <div class="inline-subheader">Ports</div>
<!--                  <div formArrayName="ports"-->
<!--                       *ngFor="let item of containerForm.controls['ports'].controls; let i = index">-->
                    <div formArrayName="ports"
                       *ngFor="let item of containerForm.controls['ports']['controls']; let i = index">
                    <div [formGroupName]="i">
                      <mat-form-field>
                        <input matInput placeholder="Host port" formControlName="host" required>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Container port" formControlName="container" required>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Protocol" formControlName="protocol" required>
                          <mat-option value="TCP">TCP</mat-option>
                          <mat-option value="UDP">UDP</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <button color="accent" mat-button (click)="removePort(i)">
                        <mat-icon>clear</mat-icon>
                      </button>
                    </div>
                  </div>
                  <button color="primary" class="button-left" mat-button (click)="addPort()">
                    <mat-icon>add</mat-icon>
                    ADD
                  </button>
                </div>
              </div>

              <div> <!-- VOLUMES row -->
                <div fxLayout="column">
                  <div class="inline-subheader">Volumes</div>
<!--                  <div formArrayName="volumes"-->
<!--                       *ngFor="let item of containerForm.controls['volumes'].controls; let i = index">-->
                    <div formArrayName="volumes"
                       *ngFor="let item of containerForm.controls['volumes']['controls']; let i = index">
                    <div [formGroupName]="i">
                      <mat-form-field>
                        <input matInput placeholder="Source volume" formControlName="source" required>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Target volume" formControlName="target" required>
                      </mat-form-field>

                      <button color="accent" mat-button (click)="removeVolume(i)">
                        <mat-icon>clear</mat-icon>
                      </button>
                    </div>
                  </div>
                  <button color="primary" class="button-left" mat-button (click)="addVolume()">
                    <mat-icon>add</mat-icon>
                    ADD
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="xs-pt2">
            <button mat-button matStepperPrevious>BACK</button>
            <button mat-button matStepperNext>NEXT <mat-icon>arrow_right_alt</mat-icon></button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Deploy</ng-template>
        <div fxLayout="column">
          <button color="primary" mat-button (click)="deploy()">
            <mat-icon>play_arrow</mat-icon> DEPLOY
          </button>
          <div #console [ngClass]="showConsole ? 'console-on' : 'console-off'" class="console"
               fxFlex="100px 200px" [innerHTML]="consoleOutput"></div>
          <button [ngClass]="showConsole ? 'console-on' : 'console-off'" mat-button (click)="clearConsole()">
            <mat-icon>delete_sweep</mat-icon> CLEAR
          </button>
          <div class="xs-pt2">
            <button mat-button matStepperPrevious>BACK</button>
            <button mat-button (click)="close()">CLOSE</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
