<div fxLayout="column" *ngIf="report">
  <div fxLayout="row" fxLayoutGap="1rem">
    <div class="field">Node ID:</div>
    <div class="item">{{report.nodeId}}</div>
  </div>

  <div fxLayout="row" fxLayoutGap="1rem">
    <div class="field">Distributed mode:</div>
    <div class="item">
      <ng-container
        *ngIf="report.inClusterMode; then cluster; else noCluster">
      </ng-container>
      <ng-template #cluster>
        <div>
          Cluster
          <ng-container
            *ngIf="report.clusterLeader; then clusterLeader; else clusterFollower">
          </ng-container>
          <ng-template #clusterLeader>
            leader (<a [routerLink]="" (click)="releaseZookeeperLeadership()">release</a>)
          </ng-template>
          <ng-template #clusterFollower>
            follower
          </ng-template>
        </div>
      </ng-template>
      <ng-template #noCluster>
        <div>
          Standalone node
        </div>
      </ng-template>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="1rem">
    <div class="field">MQTT connections:</div>
    <div class="item">
      <div *ngFor="let r of report.mqttServerReports">
        <div class="xs-inline">{{r.ipAddress}}</div>
        <ng-container
          *ngIf="r.leader; then mqttLeader; else mqttFollower">
        </ng-container>
        <ng-template #mqttLeader>
          <div class="xs-inline"> leader (<a [routerLink]="" (click)="releaseMqttLeadership(r.id)">release</a>)</div>
        </ng-template>
        <ng-template #mqttFollower>
          <div class="xs-inline"> follower</div>
        </ng-template>

      </div>
    </div>
  </div>

</div>
