<form novalidate [formGroup]="form" fxLayout="column" fxLayoutGap="0.5rem">
  <div class="inline-header">MQTT ACL Endpoint status</div>
  <div class="inline-subheader">
    Set the status of the MQTT ACL REST endpoint
  </div>
  <mat-form-field>
    <mat-select placeholder="Status" [formControlName]="settings.SETTING.NETWORKING.MQTT_ACL_ENDPOINT_STATUS">
      <mat-option *ngFor="let o of settings.SETTING_VALUES.NETWORKING.MQTT_ACL_ENDPOINT_STATUS | keyvalue" [value]="o.value">
        {{ lookupByValue(settings.SETTING_VALUES.NETWORKING.MQTT_ACL_ENDPOINT_STATUS, o.value) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div class="xs-pt2">
  <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
</div>
