<div class="flex flex-col bg-base-100 mt-1 ml-1 mr-1 p-4 rounded-xl">
  <div class="flex flex-row justify-between">
    <div class="stat-title">{{ item.title }}</div>
  </div>
  <div *ngIf="item.subtitle" class="stat-desc">{{ item.subtitle }}</div>
  <div>
    <div class="stats">
      <div class="stat place-items-center pl-0 ml-0">
        <div class="stat-figure text-secondary">
          <fa-icon icon="circle-play" size="xl"></fa-icon>
        </div>
        <div class="stat-title">Running</div>
        <div class="stat-value">2</div>
      </div>
      <div class="stat place-items-center">
        <div class="stat-figure text-secondary">
          <fa-icon icon="pause" size="xl"></fa-icon>
        </div>
        <div class="stat-title">Paused</div>
        <div class="stat-value">1</div>
      </div>
      <div class="stat place-items-center">
        <div class="stat-figure text-secondary">
          <fa-icon icon="circle-xmark" size="xl"></fa-icon>
        </div>
        <div class="stat-title">Terminated</div>
        <div class="stat-value">3</div>
      </div>
    </div>
  </div>
</div>
