<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <!-- REAL-TIME STATS -->
    <div class="flex flex-row flex-wrap gap-5 mb-10" *ngIf="isStatisticsEnabled">
      <div class="stats shadow">
        <div class="stat">
          <div class="stat-figure">
            <fa-icon size="2xl" icon="heart-circle-bolt"></fa-icon>
          </div>
          <div class="stat-title">Status</div>
          <div class="stat-value">
            <div [ngSwitch]="campaign?.state">
              <span *ngSwitchCase="appConstants.CAMPAIGN.STATE.RUNNING">Running</span>
              <span *ngSwitchCase="appConstants.CAMPAIGN.STATE.PAUSED_BY_USER">Paused</span>
              <span
                *ngSwitchCase="appConstants.CAMPAIGN.STATE.PAUSED_BY_WORKFLOW"
                class="flex flex-row">
                <div>Waiting</div>
                <button class="btn btn-sm bg-primary ml-5 mt-1"
                        *ngIf="isButtonResumeEnabled"
                        (click)="resume()" matTooltip="Resume campaign">
                  <fa-icon icon="forward" class="mr-2"></fa-icon>Resume
                </button>
              </span>
              <span
                *ngSwitchCase="appConstants.CAMPAIGN.STATE.TERMINATED_BY_WORKFLOW">Terminated</span>
              <span *ngSwitchCase="appConstants.CAMPAIGN.STATE.TERMINATED_BY_USER">Terminated (by user)</span>
            </div>
          </div>
          <div class="stat-desc">{{campaignStats?.stateDescription}}</div>
        </div>
      </div>
      <div class="stats shadow">
        <div class="stat">
          <div class="stat-figure">
            <fa-icon size="2xl" icon="percent"></fa-icon>
          </div>
          <div class="stat-title">Progress</div>
          <div class="stat-value">{{campaignStats?.progress}}</div>
          <div class="stat-desc">devices contacted</div>
        </div>
      </div>
      <div class="stats shadow">
        <div class="stat">
          <div class="stat-figure">
            <fa-icon size="2xl" icon="percent"></fa-icon>
          </div>
          <div class="stat-title">Replies</div>
          <div class="stat-value">{{campaignStats?.successRate | number}}</div>
          <div class="stat-desc">devices replied</div>
        </div>
      </div>
      <div class="stats shadow">
        <div class="stat">
          <div class="stat-figure">
            <fa-icon size="2xl" icon="microchip"></fa-icon>
          </div>
          <div class="stat-title">Devices</div>
          <div class="stat-value">{{campaignStats?.allMembers | number}}</div>
          <div class="stat-desc">included in campaign</div>
        </div>
      </div>
      <div class="stats shadow">
        <div class="stat">
          <div class="stat-figure">
            <fa-icon size="2xl" icon="stopwatch"></fa-icon>
          </div>
          <div class="stat-title">Duration</div>
          <div class="stat-value">{{campaignStats?.duration}}</div>
          <div class="stat-desc">
            Started {{campaign?.startedOn | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}</div>
        </div>
      </div>
      <div class="stats shadow" *ngFor="let group of campaignStats?.groupProgress">
        <div class="stat">
          <div class="stat-figure">
            <fa-icon size="2xl" icon="percent"></fa-icon>
          </div>
          <div class="stat-title font-bold">{{group.name}}</div>
          <div class="stat-value">{{group.progress}}</div>
          <div class="stat-desc">devices replied</div>
        </div>
      </div>
    </div>

    <!-- PAGE TITLE -->
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="globe"></fa-icon>
        <div>Campaign</div>
      </div>
    </h2>

    <!-- CAMPAIGN ELEMENTS -->
    <form novalidate [formGroup]="form">
      <div class="flex flex-col xl:flex-row gap-5">
        <div class="flex flex-col 2xl:flex-row gap-5">
          <!-- CAMPAIGN DETAILS -->
          <div class="min-w-[24rem]">
            <div class="flex flex-col">
              <div class="section-title">Campaign details
              </div>
              <div class="validation-errors flex flex-row" *ngIf="errorsMain">
                <div>
                  <mat-icon>rule</mat-icon>
                </div>
                <ul>
                  <li *ngFor="let error of errorsMain">
                    {{error}}
                  </li>
                </ul>
              </div>
              <div class="flex flex-col">
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Description</mat-label>
                  <textarea cdkTextareaAutosize matInput placeholder="Description"
                            formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Type</mat-label>
                  <mat-select formControlName="type">
                    <mat-option *ngFor="let o of appConstants.CAMPAIGN.TYPE| keyvalue"
                                [value]="o.value">{{normaliseString(o.key)}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <div class="flex flex-col ml-5"
                     *ngIf="form.value['type']===appConstants.CAMPAIGN.TYPE.EXECUTE_COMMAND">
                  <mat-form-field>
                    <mat-label>Command</mat-label>
                    <input matInput formControlName="commandName">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Command arguments</mat-label>
                    <input matInput formControlName="commandArguments">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Command execution type</mat-label>
                    <mat-select formControlName="commandExecutionType">
                      <mat-option
                        *ngFor="let o of appConstants.DEVICE.COMMAND.EXECUTION| keyvalue"
                        [value]="o.value">{{normaliseString(o.key)}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div *ngIf="form.value['type']===appConstants.CAMPAIGN.TYPE.PROVISIONING"
                     class="ml-5 flex">
                  <mat-form-field class="flex grow">
                    <mat-label>Provisioning package</mat-label>
                    <mat-select formControlName="provisioningPackageId">
                      <mat-option *ngFor="let pp of provisioningPackages"
                                  [value]="pp.id">{{pp.name}} - {{pp.version}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <mat-expansion-panel>
                <mat-expansion-panel-header class="font-bold">
                  <mat-panel-title>
                    <div class="font-normal text-accent">Advanced settings</div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-col">
                  <mat-form-field>
                    <mat-label>Date/Time condition recheck</mat-label>
                    <input matInput formControlName="advancedDateTimeRecheckTimer">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Property condition recheck</mat-label>
                    <input matInput formControlName="advancedPropertyRecheckTimer">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Update device replies, in group</mat-label>
                    <input matInput formControlName="advancedUpdateRepliesTimer">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Update device replies, final</mat-label>
                    <input matInput formControlName="advancedUpdateRepliesFinalTimer">
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </div>
          </div>
          <!-- DEVICES -->
          <div class="min-w-[24rem]">
            <div class="flex flex-col 2xl:mt-0">
              <div class="section-title">Devices</div>
              <div class="validation-errors flex flex-row" *ngIf="errorsDevices">
                <div>
                  <mat-icon>rule</mat-icon>
                </div>
                <ul>
                  <li *ngFor="let error of errorsDevices">
                    {{error}}
                  </li>
                </ul>
              </div>
              <div class="flex flex-row gap-5" *ngIf="!formDisabled">
                <mat-form-field class="grow">
                  <mat-label>Search by hardware id</mat-label>
                  <input matInput [matAutocomplete]="auto"
                         formControlName="searchByHardwareId">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let device of searchDevices" [value]="device.hardwareId">
                      <span>{{device.hardwareId}}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="grow">
                  <mat-label>Add by tags</mat-label>
                  <mat-select multiple formControlName="searchByTags">
                    <mat-option *ngFor="let tag of availableTags"
                                [value]="tag.name">{{tag.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="flex flex-row gap-2" *ngIf="!formDisabled">
                <button class="btn btn-sm" (click)="addDeviceOrTag()"
                        [disabled]="form.controls.searchByHardwareId.value == ''
                    && form.controls.searchByTags.value == ''">
                  <fa-icon icon="plus" class="mr-1"></fa-icon>
                  ADD
                </button>
                <button class="btn btn-sm" [matMenuTriggerFor]="groupMenu"
                        [disabled]="(form.controls.searchByHardwareId.value == '')
                    && (form.controls.searchByTags.value == '')">
                  <fa-icon icon="layer-group" class="mr-1"></fa-icon>
                  ADD IN GROUP
                </button>
                <mat-menu #groupMenu="matMenu" yPosition="below">
                  <div *ngIf="currentGroup() > 1">
                    <button mat-menu-item
                            *ngFor="let item of [].constructor(currentGroup()); let i = index"
                            (click)="addDeviceOrTag(i+1)">
                      <span>Group {{i + 1}}</span>
                    </button>
                    <mat-divider></mat-divider>
                  </div>
                  <button mat-menu-item (click)="addDeviceOrTag(0)">
                    <span>New group</span>
                  </button>
                </mat-menu>
              </div>

              <div>
                <div *ngFor="let group of memberGroups; index as i"
                     class="flex flex-col">
                  <div
                    class="flex flex-row justify-between align-middle border-b-2 border-b-base-100 mt-5">
                    <div class="font-bold">Group {{i + 1}}</div>
                    <button color="primary" (click)="removeGroup(i)" *ngIf="!formDisabled">
                      <fa-icon icon="trash-can" matTooltip="Delete group"
                               class="text-base-content/50 hover:text-base-content"></fa-icon>
                    </button>
                  </div>
                  <div class="mt-2">
                    <div class="device flex flex-row justify-start align-middle"
                         *ngFor="let item of group">
                      <div [ngSwitch]="item.type" class="mr-2">
                        <fa-icon icon="microchip"
                                 *ngSwitchCase="appConstants.CAMPAIGN.MEMBER_TYPE.DEVICE"></fa-icon>
                        <fa-icon icon="tag"
                                 *ngSwitchCase="appConstants.CAMPAIGN.MEMBER_TYPE.TAG"></fa-icon>
                      </div>
                      <div>{{item.identifier}}</div>
                      <div class="ml-2">
                        <button (click)="removeMember(item.identifier)" *ngIf="!formDisabled">
                          <fa-icon icon="trash-can" matTooltip="Remove"
                                   class="text-base-content/50 hover:text-base-content"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- CONDITIONS -->
        <div class="grow">
          <div class="flex flex-col xl:mt-0">
            <div class="flex flex-row mb-5 section-title">
              <div class="grow">Conditions</div>
              <div>
                <button class="btn btn-xs ml-2" [matMenuTriggerFor]="menu"
                        [disabled]="form.get('members')!.value.length == 0 || formDisabled"
                        *ngIf="!formDisabled">
                  <fa-icon icon="plus"></fa-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item
                          (click)="addCondition(appConstants.CAMPAIGN.CONDITION.TYPE.BATCH)">
                    <fa-icon icon="layer-group" class="mr-2"></fa-icon>
                    <span>Batch</span>
                  </button>
                  <button mat-menu-item
                          (click)="addCondition(appConstants.CAMPAIGN.CONDITION.TYPE.DATETIME)">
                    <fa-icon icon="calendar" class="mr-2"></fa-icon>
                    <span>Date & Time</span>
                  </button>
                  <button mat-menu-item
                          (click)="addCondition(appConstants.CAMPAIGN.CONDITION.TYPE.PAUSE)">
                    <fa-icon icon="pause" class="mr-2"></fa-icon>
                    <span>Pause</span>
                  </button>
                  <button mat-menu-item
                          (click)="addCondition(appConstants.CAMPAIGN.CONDITION.TYPE.PROPERTY)">
                    <fa-icon icon="list-check" class="mr-2"></fa-icon>
                    <span>Property</span>
                  </button>
                  <button mat-menu-item
                          (click)="addCondition(appConstants.CAMPAIGN.CONDITION.TYPE.SUCCESS)">
                    <fa-icon icon="flag" class="mr-2"></fa-icon>
                    <span>Success</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <div class="validation-errors flex flex-row" *ngIf="errorsConditions">
              <div>
                <mat-icon>rule</mat-icon>
              </div>
              <ul>
                <li *ngFor="let error of errorsConditions">
                  {{error}}
                </li>
              </ul>
            </div>
            <div formArrayName="conditions"
                 *ngFor="let condition of getConditions(); let i = index">
              <div [formGroupName]="i">
                <div class="flex flex-row gap-2 font-bold">
                  <div>{{i + 1}}</div>
                  <div>
                    <fa-icon [icon]="getIcon(condition.value.type)" class="mr-2"></fa-icon>
                  </div>
                  <div>{{getDescription(condition.value.type)}}</div>
                  <fa-icon icon="trash-can" (click)="removeCondition(i)"
                           class="text-base-content/50 hover:text-base-content"
                           *ngIf="!formDisabled" matTooltip="Remove condition"></fa-icon>
                </div>
                <div class="flex flex-row gap-2">
                  <div class="flex flex-row gap-2">
                    <mat-form-field>
                      <mat-select placeholder="Target" formControlName="group">
                        <mat-option
                          *ngFor="let item of [].constructor(currentGroup()); let i = index"
                          [value]="i+1">
                          Group {{i + 1}}</mat-option>
                        <mat-divider></mat-divider>
                        <mat-option [value]="0">Global
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field
                      *ngIf="condition.value.type !== appConstants.CAMPAIGN.CONDITION.TYPE.BATCH
                         && condition.value.type !== appConstants.CAMPAIGN.CONDITION.TYPE.SUCCESS">
                      <mat-select placeholder="Stage" formControlName="stage">
                        <mat-option [value]="appConstants.CAMPAIGN.CONDITION.STAGE.ENTRY">Entry
                        </mat-option>
                        <mat-option [value]="appConstants.CAMPAIGN.CONDITION.STAGE.EXIT">Exit
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="flex flex-row" [ngSwitch]="condition.value.type">
                    <!-- DATE TIME -->
                    <div *ngSwitchCase="appConstants.CAMPAIGN.CONDITION.TYPE.DATETIME">
                      <mat-form-field>
                        <mat-select placeholder="Operation" formControlName="operation">
                          <mat-option [value]="appConstants.CAMPAIGN.CONDITION.OP.BEFORE">
                            Before
                          </mat-option>
                          <mat-option [value]="appConstants.CAMPAIGN.CONDITION.OP.AFTER">
                            After
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput [ngxMatDatetimePicker]="picker"
                               placeholder="Choose a date"
                               formControlName="scheduleDate">
                        <mat-datepicker-toggle matSuffix
                                               [for]="$any(picker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker [showSeconds]="false"
                                                 [enableMeridian]="false">
                          <!-- Custom icon or text of Apply icon -->
                          <ng-template>
                            <span>SELECT</span>
                          </ng-template>
                        </ngx-mat-datetime-picker>
                      </mat-form-field>
                    </div>

                    <!-- PAUSE -->
                    <div *ngSwitchCase="appConstants.CAMPAIGN.CONDITION.TYPE.PAUSE">
                      <mat-form-field>
                        <mat-select placeholder="Operation" formControlName="operation">
                          <mat-option [value]="appConstants.CAMPAIGN.CONDITION.OP.FOREVER">
                            Forever
                          </mat-option>
                          <mat-option
                            [value]="appConstants.CAMPAIGN.CONDITION.OP.TIMER_MINUTES">Timer
                            (minutes)
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field
                        *ngIf="condition.value.operation==appConstants.CAMPAIGN.CONDITION.OP.TIMER_MINUTES">
                        <input matInput placeholder="Value" formControlName="value">
                      </mat-form-field>
                    </div>

                    <!-- PROPERTY -->
                    <div *ngSwitchCase="appConstants.CAMPAIGN.CONDITION.TYPE.PROPERTY">
                      <mat-form-field>
                        <input matInput placeholder="Property name"
                               formControlName="propertyName">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Operation" formControlName="operation">
                          <mat-option [value]="appConstants.CAMPAIGN.CONDITION.OP.EQUAL">=
                          </mat-option>
                          <mat-option [value]="appConstants.CAMPAIGN.CONDITION.OP.GT">&gt;
                          </mat-option>
                          <mat-option [value]="appConstants.CAMPAIGN.CONDITION.OP.LT">&lt;
                          </mat-option>
                          <mat-option [value]="appConstants.CAMPAIGN.CONDITION.OP.GTE">&gt;=
                          </mat-option>
                          <mat-option [value]="appConstants.CAMPAIGN.CONDITION.OP.LTE">&lt;=
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Value" formControlName="value">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Ignorable" formControlName="propertyIgnorable">
                          <mat-option [value]="true">Yes</mat-option>
                          <mat-option [value]="false">No</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <!-- SUCCESS -->
                    <div *ngSwitchCase="appConstants.CAMPAIGN.CONDITION.TYPE.SUCCESS">
                      <mat-form-field>
                        <input matInput placeholder="Value" formControlName="value">
                      </mat-form-field>
                    </div>

                    <!-- BATCH -->
                    <div *ngSwitchCase="appConstants.CAMPAIGN.CONDITION.TYPE.BATCH">
                      <mat-form-field>
                        <input matInput placeholder="Value" formControlName="value">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="card-actions justify-start mt-10">
      <button class="btn btn-sm btn-secondary" *ngIf="isButtonCancelEnabled"
              routerLink="/campaigns">CANCEL
      </button>
      <button class="btn btn-sm btn-secondary"
              *ngIf="isButtonReplicateEnabled"
              (click)="replicate()">REPLICATE
      </button>
      <button class="btn btn-sm btn-accent"
              [disabled]="!isButtonDeleteEnabled"
              (click)="delete()">DELETE
      </button>

      <button class="btn btn-sm btn-primary"
              *ngIf="isButtonStartEnabled"
              [disabled]="!form.value.members || form.value.members.length == 0"
              (click)="start()">START
      </button>
      <button *ngIf="isButtonStopEnabled"
              class="btn btn-sm btn-primary" (click)="stop()" matTooltip="Stop campaign">
        STOP
      </button>
      <button class="btn btn-sm btn-primary"
              *ngIf="isButtonSaveEnabled"
              (click)="save(false)">SAVE
      </button>
    </div>
  </div>
</div>
