<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="microchip"></fa-icon>
        <div>Device</div>
      </div>
    </h2>

    <div class="flex row">
      <!-- Device info -->
      <div class="w-96 pr-10">
        <form novalidate [formGroup]="deviceInfoForm" class="flex flex-col gap-3">

          <div>
            <div class="font-bold">Hardware ID</div>
            <div>{{device?.hardwareId}}</div>
          </div>

          <div>
            <div class="font-bold">Last seen</div>
            <div *ngIf="device?.lastSeen">
              {{device?.lastSeen | amFromUtc | amLocal}}<br>
              {{device?.lastSeen | amFromUtc | amLocal | amTimeAgo}}
            </div>
            <div class="value-text" *ngIf="!device?.lastSeen">
              Never
            </div>
          </div>

          <div>
            <div class="font-bold">Created</div>
            <div *ngIf="device?.createdOn">
              {{device?.createdOn | amFromUtc | amLocal}}
            </div>
            <div class="value-text" *ngIf="!device?.createdOn">
              Never
            </div>
          </div>

          <div>
            <div class="font-bold">Registered on</div>
            <div *ngIf="device?.registeredOn">
              {{device?.registeredOn | amFromUtc | amLocal}}
            </div>
            <div class="value-text" *ngIf="!device?.registeredOn">
              Never
            </div>
          </div>

          <div>
            <mat-form-field class="w-full -mt-5">
              <label class="font-bold">Registration Status</label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let o of appConstants.DEVICE.STATUS | keyvalue"
                            [value]="o.value">
                  {{ lookupByValue(appConstants.DEVICE.STATUS, o.value) }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="-mt-8">
            <mat-form-field class="w-full">
              <label class="font-bold">Tags</label>
              <mat-select multiple formControlName="tags">
                <mat-option *ngFor="let tag of availableTags"
                            [value]="tag.id">{{tag.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="geolocation | async as geolocation$">
            <div>
              <div class="flex flex-row">
                <div class="font-bold">Location</div>
                <fa-icon icon="up-right-from-square" class="ml-1 cursor-pointer"
                         (click)="showMap()"></fa-icon>
              </div>
              <app-framed-map
                [latitude]="geolocation$.latitude"
                [longitude]="geolocation$.longitude"
                width="100%" height="200" [zoom]="13">
              </app-framed-map>
              <div
                class="geoAgo">{{geolocation$.lastUpdated | amFromUtc | amLocal | amTimeAgo}}</div>
            </div>
          </div>
        </form>
      </div>

      <!-- Tabs -->
      <div class="grow">
        <mat-tab-group animationDuration="0ms" [disableRipple]="true">
          <mat-tab>
            <ng-template mat-tab-label>
              <fa-icon icon="memory" class="mr-1"></fa-icon>
              Profile
            </ng-template>
            <ng-template matTabContent>
              <app-device-profile></app-device-profile>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <fa-icon icon="database" class="mr-1"></fa-icon>
              Data
            </ng-template>
            <ng-template matTabContent>
              <app-device-data></app-device-data>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <fa-icon icon="terminal" class="mr-1"></fa-icon>
              Pseudo-terminal
            </ng-template>
            <ng-template matTabContent>
              <app-device-terminal [hardwareId]="hardwareId"></app-device-terminal>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <div class="card-actions justify-start mt-10">
      <button class="btn btn-sm btn-accent" (click)="delete()"
              [disabled]="this.id == appConstants.NEW_RECORD_ID">DELETE
      </button>
      <button class="btn btn-sm btn-secondary" [matMenuTriggerFor]="menu">DOWNLOAD
        <fa-icon icon="caret-down" class="ml-2"></fa-icon>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="downloadPublicKey()">Public key</button>
          <button mat-menu-item (click)="downloadPrivateKey()">Private key</button>
          <button mat-menu-item (click)="downloadCertificate()">Certificate</button>
        </mat-menu>
      </button>
      <button class="btn btn-sm btn-primary" (click)="saveDeviceInfo()"
              [disabled]="deviceInfoForm.invalid || deviceInfoForm.pristine">SAVE
      </button>
    </div>
  </div>
</div>
