<div fxLayout="row" fxLayoutGap="1rem">
  <div fxFlex="20rem" class="device-info">
    <mat-card>
      <form novalidate [formGroup]="deviceInfoForm" fxLayout="column">
        <mat-card-title>Device</mat-card-title>
        <mat-card-content>
          <div class="label-text">Hardware ID</div>
          <div class="value-text">{{device?.hardwareId}}</div>

          <div class="label-text mt1">Last seen</div>
          <div class="value-text" *ngIf="device?.lastSeen">
            {{device?.lastSeen | amFromUtc | amLocal}}<br>
            {{device?.lastSeen | amFromUtc | amLocal | amTimeAgo}}
          </div>
          <div class="value-text" *ngIf="!device?.lastSeen">
            Never
          </div>

          <div class="label-text mt1">Created on</div>
          <div class="value-text" *ngIf="device?.createdOn">
            {{device?.createdOn | amFromUtc | amLocal}}
          </div>
          <div class="value-text" *ngIf="!device?.createdOn">
            Never
          </div>

          <div class="label-text mt1">Registered on</div>
          <div class="value-text" *ngIf="device?.registeredOn">
            {{device?.registeredOn | amFromUtc | amLocal}}
          </div>
          <div class="value-text" *ngIf="!device?.registeredOn">
            Never
          </div>

          <div class="label-text mt1">Registration Status</div>
          <mat-select formControlName="status">
            <mat-option *ngFor="let o of constants.DEVICE.STATUS | keyvalue" [value]="o.value">
              {{ lookupByValue(constants.DEVICE.STATUS, o.value) }}
            </mat-option>
          </mat-select>

          <div class="label-text mt1">Tags</div>
          <mat-select multiple formControlName="tags">
            <mat-option *ngFor="let tag of availableTags"
                        [value]="tag.id">{{tag.name}}</mat-option>
          </mat-select>

          <div *ngIf="geoUrl">
            <div class="label-text mt1">Location</div>
            <!-- q=lon/lat -->
            <iframe [src]="geoUrl"
                    width="100%" height="200" style="border:0"
                    class="mt1" title="map"></iframe>
            <div class="geoAgo">{{geoLastUpdated | amFromUtc | amLocal | amTimeAgo}}</div>
          </div>
        </mat-card-content>
      </form>
      <mat-card-actions>
        <button mat-button [matMenuTriggerFor]="menu">DOWNLOADS
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="downloadPublicKey()">Public key</button>
            <button mat-menu-item (click)="downloadPrivateKey()">Private key</button>
            <button mat-menu-item (click)="downloadCertificate()">Certificate</button>
          </mat-menu>
        </button>
        <button mat-button color="accent" (click)="delete()"
                [disabled]="this.id == constants.NEW_RECORD_ID">DELETE
        </button>
        <button mat-button color="primary" (click)="saveDeviceInfo()"
                [disabled]="deviceInfoForm.invalid">SAVE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card>
      <mat-card-content>
        <mat-tab-group animationDuration="0ms">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>developer_board</mat-icon>
              Profile
            </ng-template>
            <ng-template matTabContent>
              <app-device-profile></app-device-profile>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>bar_chart</mat-icon>
              Data
            </ng-template>
            <ng-template matTabContent>
              <app-device-data></app-device-data>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>keyboard</mat-icon>
              Pseudo-terminal
            </ng-template>
            <ng-template matTabContent>
              <app-device-terminal [hardwareId]="hardwareId"></app-device-terminal>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

