<ng-template #AboutTab >
  <div>
    <div>
      <div class="font-bold">Version</div>
      <div>{{about.gitVersion ? about.gitVersion : 'N/A'}}</div>
    </div>
    <div class="mt-2">
      <div class="font-bold">Git commit id</div>
      <div>{{about.gitCommitId ? about.gitCommitId : 'N/A'}}</div>
    </div>
    <div class="mt-2">
      <div class="font-bold">Git build date</div>
      <div
        *ngIf="about.gitBuildTime">{{about.gitBuildTime | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}</div>
      <div *ngIf="!about.gitBuildTime">N/A</div>
    </div>
    <div class="mt-2">
      <div class="font-bold">Digital Twin OpenAPI specification</div>
      <div>
        <a [href]="dtJsonUrl" target="_blank">{{dtJsonUrl}}</a>
        <fa-icon icon="arrow-up-right-from-square" class="ml-2"></fa-icon>
      </div>
    </div>
    <div class="mt-2">
      <div class="font-bold">Digital Twin OpenAPI UI</div>
      <div>
        <a [href]="dtSwaggerUrl" target="_blank">{{dtSwaggerUrl}}</a>
        <fa-icon icon="arrow-up-right-from-square" class="ml-2"></fa-icon>
      </div>
    </div>
  </div>
</ng-template>

<div [ngClass]="!embedded ? 'bg-base-200 card w-full rounded-b-none' : ''">
  <div [ngClass]="!embedded ? 'card-body' : ''">
    <h2 *ngIf="!embedded" class="card-title text-2xl flex flex-row justify-between">
      <div class="flex flex-row gap-2">
        <fa-icon icon="address-card"></fa-icon>
        <div>About</div>
      </div>
    </h2>
    <div *ngIf="!embedded">
      <mat-tab-group animationDuration="0ms">
        <mat-tab>
          <ng-template mat-tab-label>General</ng-template>
          <ng-template matTabContent>
            <ng-template [ngTemplateOutlet]="AboutTab"></ng-template>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div *ngIf="embedded">
      <ng-template [ngTemplateOutlet]="AboutTab"></ng-template>
    </div>
  </div>
</div>
