<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Audit</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column">
      <!-- Filter -->
      <div [formGroup]="filterForm" fxFlex="row" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="Date from" formControlName="dateFrom"
                 [matDatepicker]="dateFromPicker">
          <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateFromPicker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date to" formControlName="dateTo"
                 [matDatepicker]="dateToPicker">
          <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateToPicker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Category" formControlName="category">
            <mat-option *ngFor="let i of auditCategories" [value]="i">
              {{ i }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Operation" formControlName="operation">
            <mat-option *ngFor="let i of auditOperations" [value]="i">
              {{ i}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="User" formControlName="createdBy"/>
        </mat-form-field>
        <button mat-button (click)="clearFilter()">CLEAR</button>
      </div>

      <!-- Table -->
      <table mat-table #table [dataSource]="datasource"
             matSort matSortActive="createdOn"
             matSortDirection="desc"
             matSortStart="desc" matSortDisableClear aria-describedby="List of audit events">
        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Date</th>
          <td mat-cell *matCellDef="let element">
            {{element.createdOn | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> User</th>
          <td mat-cell *matCellDef="let element"> {{element.createdBy}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Category</th>
          <td mat-cell *matCellDef="let element"> {{element.category}}</td>
        </ng-container>
        <ng-container matColumnDef="operation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Operation</th>
          <td mat-cell *matCellDef="let element"> {{element.operation}}</td>
        </ng-container>
        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Message</th>
          <td mat-cell *matCellDef="let element"> {{element.message}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let element; columns: displayedColumns;"
            [routerLink]="element.id"></tr>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 30, 50]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

