<mat-card>
  <mat-card-title>Device {{id}}</mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form">
      <mat-form-field>
        <mat-select formControlName="state" placeholder="Status">
          <mat-option *ngFor="let o of constants.DEVICE.STATE | keyvalue" [value]="o.value">
            {{ lookupByValue(constants.DEVICE.STATE, o.value) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxLayout="column">
        <div fxLayout="row" *ngIf="!fetchingDeviceData">
          <div fxLayout="row wrap" fxFlex="80%" fxFlexAlign="start" *ngIf="!isArrayEmpty(fields)">
            <div class="xs-mb05" fxLayout="row" fxFlex="40%" *ngFor="let field of fields; let i = index">
              <div class="label">{{field.label ? field.label : field.field}}:</div>
              <div [matTooltip]="field.lastUpdatedOn|date: 'medium'" class="value">{{fieldsValues.get(field.measurement + "." + field.field)}}</div>
            </div>
          </div>
          <div fxLayout="row" fxFlex="20%" *ngIf="lonSetting && latSetting">
            <div fxLayout="column">
              <div class="map-container" leaflet fxFlex="150px"
                   [leafletOptions]="options"
                   [leafletLayers]="layer1">
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" *ngIf="fetchingDeviceData">
          <mat-spinner [diameter]="15" [strokeWidth]="1"></mat-spinner>
        </div>

        <mat-form-field class="xs-mt1">
          <mat-select placeholder="Tags" multiple formControlName="tags">
            <mat-option *ngFor="let tag of availableTags" [value]="tag.id">{{tag.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-card-actions>
          <button mat-button [matMenuTriggerFor]="menu">DOWNLOAD
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="downloadKeys()">Cryptographic keys</button>
            </mat-menu>
          </button>
          <button mat-button routerLink="/devices" fragment="mqtt">CANCEL</button>
          <button mat-button color="accent" (click)="delete()" [disabled]="this.id == 0">DELETE
          </button>
          <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE
          </button>
        </mat-card-actions>

        <mat-tab-group animationDuration="0ms">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>developer_board</mat-icon>
              Profile
            </ng-template>
            <ng-template matTabContent>
              <app-device-profile></app-device-profile>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>keyboard</mat-icon>
              Pseudo-terminal
            </ng-template>
            <ng-template matTabContent>
              <app-device-terminal [deviceId]="id"></app-device-terminal>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </form>
  </mat-card-content>
</mat-card>
