<div class="mat-card-title">
  Map setup
</div>
<div fxLayout="column">
  <form novalidate [formGroup]="form" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="1rem">
      <mat-form-field fxFill>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="1rem">
      <mat-form-field fxFlex="50%">
        <input placeholder="Text color" matInput [ngxMatColorPicker]="fgPicker" formControlName="fgColor">
        <ngx-mat-color-toggle matSuffix [for]="fgPicker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #fgPicker [color]="form.value['fgColor']"></ngx-mat-color-picker>
      </mat-form-field>
      <mat-form-field fxFlex="50%">
        <input placeholder="Background color" matInput [ngxMatColorPicker]="bgPicker" formControlName="bgColor">
        <ngx-mat-color-toggle matSuffix [for]="bgPicker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #bgPicker [color]="form.value['bgColor']"></ngx-mat-color-picker>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="1rem">
      <mat-form-field fxFlex="50%">
        <mat-select placeholder="Columns" formControlName="gridCols">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
          <mat-option [value]="2">4</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="50%">
        <mat-select placeholder="Rows" formControlName="gridRows">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
          <mat-option [value]="2">4</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <label class="sm-mt1">Update frequency: {{form.value.updateEvery}} seconds</label>
    <mat-slider min="30" max="600" thumbLabel tickInterval="5" step="5" formControlName="updateEvery"></mat-slider>

    <h3 class="sm-mt1">Add devices</h3>
    <div fxLayout="row" fxLayoutGap="1rem" class="sm-mb2">
      <mat-form-field fxFlex="60">
        <input matInput placeholder="Search by hardware Id" [matAutocomplete]="auto"
               formControlName="hardwareIds">
        <mat-hint>Add multiple devices separated by comma</mat-hint>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let device of searchDevices"
                      [value]="getCurrentDevices() + device.hardwareId">
            <span>{{device.hardwareId}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field fxFlex="40">
        <mat-select placeholder="Tags" multiple formControlName="tags">
          <mat-option *ngFor="let tag of availableTags"
                      [value]="tag.name">{{tag.name}}</mat-option>
        </mat-select>
        <mat-hint>Include devices with all selected tags</mat-hint>
      </mat-form-field>
    </div>
  </form>

  <div>
    <button mat-button (click)="close()">CANCEL</button>
    <button mat-button color="accent" (click)="delete()" [disabled]="data.id === 0">DELETE</button>
    <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
  </div>
</div>
