<div [ngClass]="embedded ? '' : 'bg-base-200'" class="card w-full rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between">
      <div class="flex flex-row gap-2">
        <fa-icon icon="microchip"></fa-icon>
        <div>Devices</div>
      </div>
      <app-live-toggle (tick)="changePage()" *ngIf="!embedded"></app-live-toggle>
    </h2>
    <div>
      <!-- Filters -->
      <div [formGroup]="filterForm" class="mb-10 mt-5">
        <fa-icon class="mr-5 ml-1" icon="search"></fa-icon>
        <input class="input w-full max-w-xs placeholder-primary-content/30" formControlName="hardwareId"
               placeholder="Hardware id"
               type="text"/>
        <button (click)="clearFilter()" class="btn btn-secondary btn-ghost ml-2">CLEAR</button>
      </div>

      <!-- Table -->
      <table #table [dataSource]="datasource" aria-describedby="List of devices"
             cdk-table class="table w-full" matSort
             matSortActive="createdOn" matSortDirection="desc" matSortDisableClear
             matSortStart="desc">
        <ng-container cdkColumnDef="hardwareId">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Hardware ID</th>
          <td *cdkCellDef="let element" cdk-cell> {{element.hardwareId}}</td>
        </ng-container>
        <ng-container cdkColumnDef="type">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Type</th>
          <td *cdkCellDef="let element" cdk-cell class="whitespace-nowrap">
            <img [ngSrc]="'assets/img/logos/' + element.type.toLowerCase() + '-logo.png'"
                 alt="{{element.type.toLowerCase()}}" width="20" height="22" class="inline">
            {{element.type.toLowerCase()}}</td>
        </ng-container>
        <ng-container cdkColumnDef="lastSeen">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Last seen</th>
          <td *cdkCellDef="let element" cdk-cell>
            <div *ngIf="element.lastSeen">
              {{element.lastSeen | amFromUtc | amLocal | amTimeAgo}}
            </div>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="status">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Status</th>
          <td *cdkCellDef="let element" cdk-cell> {{element.status | titlecase}}</td>
        </ng-container>
        <ng-container cdkColumnDef="createdOn">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Created</th>
          <td *cdkCellDef="let element" cdk-cell>
            {{element.createdOn | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="registeredOn">
          <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"> Registration</th>
          <td *cdkCellDef="let element" cdk-cell>
            <span *ngIf="element.registeredOn">
              {{element.registeredOn | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}
            </span>
          </td>
        </ng-container>
        <tr *cdkHeaderRowDef="displayedColumns" cdk-header-row></tr>
        <ng-template [ngIf]="!embedded">
          <tr *cdkRowDef="let row; columns: displayedColumns; let element;"
              [routerLink]="element.id"
              cdk-row class="hover:bg-base-300 hover:cursor-pointer bg-base-content/5 text-base"></tr>
        </ng-template>
        <ng-template [ngIf]="embedded">
          <tr (click)="embeddedClick(element)" (keydown)="embeddedClick(element)"
              *cdkRowDef="let row; columns: displayedColumns; let element;"
              cdk-row class="hover:bg-base-300 hover:cursor-pointer bg-base-content/5 text-base"></tr>
        </ng-template>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSizeOptions]="[10, 30, 50]"
                     [pageSize]="10"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
    <div *ngIf="!embedded" class="card-actions justify-start">
      <button *ngIf="allowCreate" class="btn btn-sm btn-primary"
              routerLink="preregister">
        PREREGISTER</button>
    </div>
  </div>
</div>

