<mat-card>
  <mat-card-title>Settings</mat-card-title>
  <mat-card-content>

    <mat-tab-group animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>domain</mat-icon>
          Device page
        </ng-template>
        <ng-template matTabContent>
          <app-settings-device-page></app-settings-device-page>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>track_changes</mat-icon>
          Device registration
        </ng-template>
        <ng-template matTabContent>
          <app-settings-devreg></app-settings-devreg>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>security</mat-icon>
          Security
        </ng-template>
        <ng-template matTabContent>
          <app-settings-security></app-settings-security>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>cloud</mat-icon>
          Provisioning
        </ng-template>
        <ng-template matTabContent>
          <app-settings-provisioning></app-settings-provisioning>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>aspect_ratio</mat-icon>
          User Interface
        </ng-template>
        <ng-template matTabContent>
          <app-settings-ui></app-settings-ui>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>attractions</mat-icon>
          Kubernetes
        </ng-template>
        <ng-template matTabContent>
          <app-settings-kubernetes></app-settings-kubernetes>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
