<div fxLayout="column">
  <div fxLayout="row wrap" fxLayoutGap="1rem">
    <div *ngFor="let dataField of dataFields" class="field-box"
         [matTooltip]="dataField.lastUpdate | amFromUtc | amLocal | amTimeAgo">
      <div fxLayout="row" fxLayoutGap="0.5rem">
        <div fxLayoutAlign="center center" *ngIf="dataField.icon">
          <mat-icon>{{dataField.icon}}</mat-icon>
        </div>
        <div>
          <div fxLayoutAlign="space-around center" class="title">{{dataField.label}}</div>
          <div fxLayoutAlign="space-around center" class="value">{{dataField.value}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt3">
    <form [formGroup]="deviceProfileForm">
      <formly-form [form]="deviceProfileForm"
                   [fields]="deviceProfileFormFields"
                   [model]="deviceProfileFormModel">
      </formly-form>

      <mat-card-actions>
        <button mat-button color="accent" [matMenuTriggerFor]="menu">DELETE NOTE
          <mat-menu #menu="matMenu" xPosition="before">
            <button *ngFor="let field of deviceProfileFormFields"
                    mat-menu-item
                    (click)="remove(field.key, field.props!.label!)">{{field.props?.label}}
            </button>
          </mat-menu>
        </button>
        <button mat-button (click)="add()">ADD NOTE</button>
        <button mat-button color="primary" (click)="save()"
                [disabled]="!deviceProfileForm.dirty">SAVE
        </button>
      </mat-card-actions>
    </form>
  </div>
</div>
