<div class="flex flex-col">
  <!-- DEVICE FIELDS -->
  <div class="flex flex-row flex-wrap gap-2">
    <div *ngFor="let field of deviceProfileFields" class="stats shadow">
      <div class="stat">
        <div class="stat-title">{{field.label}}</div>
        <div *ngIf="field.value" class="stat-value">{{field.value}}</div>
        <div *ngIf="!field.value" class="stat-value">---</div>
        <div *ngIf="field.value"
             class="stat-desc">{{field.lastUpdate | amFromUtc | amLocal | amTimeAgo}}</div>
        <div *ngIf="!field.value"
             class="stat-desc">value not received
        </div>
      </div>
    </div>
  </div>

  <!-- DEVICE ATTRIBUTES -->
  <div class="flex flex-col mt-3">
    <div class="mt-5 font-bold text-xl">Attributes</div>
    <form [formGroup]="deviceProfileForm">
      <div *ngFor="let attribute of getAttributeFormGroup(); let i = index"
           formArrayName="attributes">
        <div [formGroupName]="i" class="flex flex-row gap-2">
          <mat-form-field class="flex grow">
            <mat-label>{{attribute.value.attributeName}}</mat-label>
            <input [value]="attribute.value.attributeValue" formControlName="attributeValue" matInput
                   type="text">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="attributeType">
              <mat-option *ngFor="let o of appConstants.DEVICE.ATTRIBUTE.TYPE| keyvalue"
                          [value]="o.value">{{normaliseString(o.key)}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button (click)="deleteAttribute(i)" class="btn btn-sm btn-ghost mt-4"
                  matTooltip="Delete attribute">
            <fa-icon icon="trash-can"></fa-icon>
          </button>
        </div>
      </div>

      <div class="card-actions justify-start mt-10">
        <button (click)="addAttribute()" *ngIf="allowWrite" class="btn btn-secondary btn-sm">ADD ATTRIBUTE</button>
        <button (click)="save()" *ngIf="allowWrite" class="btn btn-primary btn-sm">SAVE ATTRIBUTES
        </button>
      </div>
    </form>
  </div>
</div>
