<div *ngIf="allowWrite && allowRead" class="mb-5">
  <div class="flex flex-row gap-5">
    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">Latency</div>
        <div *ngIf="counters.latency > 0" class="stat-value">{{counters.latency}} msec</div>
        <div *ngIf="counters.latency === 0" class="stat-value">---</div>
      </div>
      <div class="stat">
        <div class="stat-title">Bytes sent</div>
        <div *ngIf="counters.bytesSent > 0" class="stat-value">{{counters.bytesSent}}</div>
        <div *ngIf="counters.bytesSent === 0" class="stat-value">---</div>
      </div>
      <div class="stat">
        <div class="stat-title">Bytes received</div>
        <div *ngIf="counters.bytesReceived > 0" class="stat-value">{{counters.bytesReceived}}</div>
        <div *ngIf="counters.bytesReceived === 0" class="stat-value">---</div>
      </div>
    </div>
    <div class="flex flex-col grow">
      <div>
        <mat-label>Timeout</mat-label>
        <div class="flex flex-row gap-5">
          <input [(ngModel)]="timeout" class="range" max="30000" min="1000" type="range"/>
          <div class="whitespace-nowrap">{{timeout}} msec</div>
        </div>
      </div>
      <div>
        <mat-label>Polling</mat-label>
        <div class="flex flex-row gap-5">
          <input [(ngModel)]="polling" class="range" max="5000" min="100" type="range"/>
          <div class="whitespace-nowrap">{{polling}} msec</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex grow bg-black">
  <ng-terminal #term [cols]="80" [rows]="25"></ng-terminal>
</div>
