<form novalidate [formGroup]="settingsForm" fxLayout="column">
  <div class="inline-header">Geolocation telemetry attributes</div>
  <div class="mt1 mb2">
    If your devices transmit geolocation coordinates you can choose which telemetry data
    corresponds to the latitude and the longitude. If these values are set, you can see your
    device's location on the device page on a map.
  </div>
  <mat-form-field>
    <mat-select placeholder="Longitude"
                [formControlName]="this.constants.DEVICE.SETTING.DEVICE_GEO_LON">
      <mat-option value=""></mat-option>
      <mat-option
        *ngFor="let measurement of allUniqueMeasurements" [value]="measurement">
        {{measurement}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Latitude"
                [formControlName]="this.constants.DEVICE.SETTING.DEVICE_GEO_LAT">
      <mat-option value=""></mat-option>
      <mat-option
        *ngFor="let measurement of allUniqueMeasurements" [value]="measurement">
        {{measurement}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div fxLayout="row" *ngIf="fetchingGeoAttributes">
    <mat-spinner [diameter]="15" [strokeWidth]="1"></mat-spinner>
    <div class="ml1" style="color:#999999;font-style: italic">fetching device measurements...</div>
  </div>
</form>

<form novalidate [formGroup]="form" fxLayout="column">
  <div class="inline-header">Device profile data</div>
  <div class="mt1 mb2">
    Select which device data will be visible on device profile page. Custom formatting is
    supported via
    <a href="https://github.com/alexei/sprintf.js#readme" target="_blank" rel="noopener noreferrer">sprintf-js</a>.
  </div>
  <div formArrayName="fields" *ngFor="let field of getFormFields(); let i = index">
    <div [formGroupName]="i" fxLayout="row" fxLayoutGap="1rem">
      <input type="hidden" name="id" value="{{field.controls.id.value}}">
      <mat-checkbox formControlName="shown" color="primary"></mat-checkbox>
      <mat-form-field>
        <input matInput placeholder="Measurement" formControlName="measurement"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let measurement of allUniqueMeasurements" [value]="measurement">
            {{measurement}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="UI label" formControlName="label">
      </mat-form-field>

      <mat-form-field fxFlex="grow">
        <input matInput placeholder="Formatter" formControlName="formatter">
      </mat-form-field>

      <button type="button" mat-icon-button (click)="deleteField(i)"
              matTooltip="Remove field">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <button mat-button (click)="newMeasurement()">Add measurement</button>
</form>

<div>
  <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
</div>
