<div class="card w-full rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="building-shield"></fa-icon>
        <div>Policy rule editor</div>
      </div>
    </h2>
    <div>
      <div class="alert alert-info mb-10">
        <div class="flex flex-row gap-0">
          {{getErnAsString()}}
        </div>
      </div>

      <form [formGroup]="form" novalidate>
        <div class="flex flex-col">
          <mat-form-field>
            <mat-label>Root</mat-label>
            <input formControlName="root" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>System</mat-label>
            <input formControlName="system" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Subsystem</mat-label>
            <input formControlName="subsystem" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Object type</mat-label>
            <mat-select formControlName="objectType">
              <mat-option *ngFor="let o of appConstants.SECURITY.CATEGORY| keyvalue"
                          [value]="o.value">{{normaliseString(o.key)}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Object ID (use * for everything)</mat-label>
            <input formControlName="objectId" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Operation</mat-label>
            <mat-select formControlName="operation">
              <mat-option *ngFor="let o of appConstants.SECURITY.OPERATION| keyvalue"
                          [value]="o.value">{{normaliseString(o.key)}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Permission</mat-label>
            <mat-select formControlName="permission">
              <mat-option *ngFor="let o of appConstants.SECURITY.PERMISSION| keyvalue"
                          [value]="o.value">{{normaliseString(o.key)}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="card-actions justify-start mt-10">
      <button (click)="close()" class="btn btn-sm btn-secondary">CANCEL</button>
      <button (click)="save()" [disabled]="form.invalid"
              class="btn btn-sm btn-primary">SAVE
      </button>
    </div>
  </div>
</div>
