<mat-card>
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
    <div>MQTT client</div>
    <img alt="" mat-card-avatar src="assets/img/dataflows/mqtt.png">
  </mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form">
      <div fxLayout="column">
        <mat-form-field>
          <mat-select placeholder="Status" formControlName="status">
            <mat-option [value]="true">Active</mat-option>
            <mat-option [value]="false">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name"
                 cdkTrapFocus cdkTrapFocusAutoCapture (keyup.enter)="save()">
          <mat-icon matSuffix color="warn"
                    *ngIf="form.controls['name'].invalid"
                    matTooltip="{{form.controls['name'].getError('message')}}"
                    matTooltipPosition="above" style="cursor: help">warning
          </mat-icon>
        </mat-form-field>
        <mat-form-field>
      <textarea cdkTextareaAutosize [cdkAutosizeMinRows]=1 [cdkAutosizeMaxRows]=30
                matInput placeholder="Description" formControlName="description"></textarea>
          <mat-icon matSuffix color="warn"
                    *ngIf="form.controls['description'].invalid && form.dirty"
                    matTooltip="{{form.controls['description'].getError('message')}}"
                    matTooltipPosition="above" style="cursor: help">warning
          </mat-icon>
        </mat-form-field>

        <div class="inline-subheader">Address</div>
        <mat-form-field>
          <input matInput placeholder="Protocol, IP address, port" formControlName="url"
                 required>
          <mat-hint align="start">ex: tcp://mqtt.server:1883, ssl://mqtt.server:8883</mat-hint>
        </mat-form-field>

        <div class="inline-subheader">Tags</div>
        <mat-form-field>
          <mat-select placeholder="Tags" multiple formControlName="tags">
            <mat-option *ngFor="let tag of availableTags"
                        [value]="tag.id">{{tag.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="inline-subheader">Topics</div>
        <mat-form-field>
          <input matInput formControlName="topicPing" required>
          <mat-hint align="start">The topic receiving heartbeat messages from devices</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="topicTelemetry" required>
          <mat-hint align="start">The topic receiving telemetry data from devices</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="topicMetadata" required>
          <mat-hint align="start">The topic receiving metadata data from devices</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="topicControlRequest" required>
          <mat-hint align="start">The topic in which control requests are submitted by the platform
            to be executed by the devices
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="topicControlReply" required>
          <mat-hint align="start">The topic in which control replies are submitted back from
            devices
          </mat-hint>
        </mat-form-field>

        <div class="inline-subheader">Scheduling</div>
        <div>Minimum pods: {{form.controls["minPods"].value}}</div>
        <mat-slider min="0" max="100" step="1" value="1"
                    formControlName="minPods" (change)="minPodsChanged()"></mat-slider>
        <div>Maximum pods: {{form.controls["maxPods"].value}}</div>
        <mat-slider min="0" max="100" step="1" value="1"
                    formControlName="maxPods" (change)="maxPodsChanged()"></mat-slider>
        <div *ngIf="form.controls.minPods.value == 0">
          <mat-icon>info</mat-icon>
          Minimum pods are set to zero. This component will not be
          scheduled.
        </div>
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/dataflow">CANCEL</button>
    <button mat-button color="primary" (click)="save()">SAVE</button>
    <button mat-button color="warn" (click)="delete()" *ngIf="id !== appConstants.NEW_RECORD_ID">
      DELETE
    </button>
  </mat-card-actions>
</mat-card>
