<div class="flex flex-col bg-base-100 mt-1 ml-1 mr-1 p-4 rounded-xl"
     [ngStyle]="{ 'background-color': computeBackgroundColor()}">

  <div class="flex flex-row justify-between">
    <div class="stat-title">{{ item.title }}</div>
    <div *ngIf="config?.icon">
      <i class="text-accent text-xl fa-solid {{ config?.icon }}"></i>
    </div>
  </div>

  <div class="flex flex-row mt-2" *ngIf="lastMessage">
    <div *ngIf="getValue()" class="stat-value">{{ getValue() }}</div>
    <div *ngIf="!getValue()" class="stat-value">&nbsp;</div>
    <div *ngIf="config?.unit" class="mt-3 text-xl ml-2 text-base-content/50">{{ config?.unit }}</div>
    <div *ngIf="!config?.unit" class="mt-3 text-xl ml-2 text-base-content/50">&nbsp;</div>
  </div>
  <div class="flex flex-row mt-2" *ngIf="!lastMessage">
    <div class="stat-value skeleton">&nbsp;</div>
    <div class="mt-3 text-xl ml-2 text-base-content/50 skeleton">&nbsp;</div>
  </div>


  <div *ngIf="item.subtitle && lastMessage" class="stat-desc">{{ item.subtitle }}</div>
  <div *ngIf="item.subtitle && !lastMessage" class="stat-desc">
    <div class="skeleton w-full">&nbsp;</div>
  </div>

  <div *ngIf="lastMessage && config?.sparkline" class="mt-3 min-h-[30px]">
    <app-chart-host chartType="line">
      <canvas
        baseChart
        [data]="sparkLineData"
        [options]="sparkLineOptions"
        type="line"
        height="30">
      </canvas>
    </app-chart-host>
  </div>
  <div *ngIf="!lastMessage && config?.sparkline" class="skeleton h-15 mt-2 mb-2 w-full min-h-[30px]">
  </div>
</div>
