@import "../shared/style/table-highlight-pointer";

.gw-connected {
  color: #249926;
}

.gw-missing {
  color: #F95754;
}

.gw-disabled {
  color: #999999;
}

.refresh-icon {
  margin-bottom: 0.2rem;
}
