<mat-card>
  <mat-card-title>Import a Certificate</mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form">
      <div fxLayout="row">
        <button mat-button (click)="backup.click()">SELECT BACKUP</button>
        <div fxFlex="row" fxLayoutAlign="start center">
          <input type="file" (change)="selectFile($event)" #backup hidden>
          <div *ngIf="form.controls['backup'].value">{{form.controls['backup'].value.name}}</div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/cas">CANCEL</button>
    <button mat-button color="primary" (click)="import()" [disabled]="form.invalid">IMPORT</button>
  </mat-card-actions>
</mat-card>
