<mat-card>
  <mat-card-header>
    <mat-card-title>About</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>info</mat-icon>
          General
        </ng-template>
        <ng-template matTabContent>
          <div fxLayout="column" fxLayoutGap="1rem">
            <div>
              <div class="about-label">Version</div>
              <div>{{about.gitVersion}}</div>
            </div>
            <div>
              <div class="about-label">Git commit id</div>
              <div>{{about.gitCommitId}}</div>
            </div>
            <div>
              <div class="about-label">Git build date</div>
              <div>{{about.gitBuildTime | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}</div>
            </div>
            <div>
              <div class="about-label">Digital Twin OpenAPI specification</div>
              <div>
                <a [href]="dtJsonUrl" target="_blank">{{dtJsonUrl}}</a>
                <mat-icon inline class="ml1">open_in_new</mat-icon>
              </div>
            </div>
            <div>
              <div class="about-label">Digital Twin OpenAPI UI</div>
              <div>
                <a [href]="dtSwaggerUrl" target="_blank">{{dtSwaggerUrl}}</a>
                <mat-icon inline class="ml1">open_in_new</mat-icon>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>
</mat-card>
