<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between">
      <div class="flex flex-row gap-2">
        <fa-icon icon="microchip"></fa-icon>
        <div>Preregister device</div>
      </div>
    </h2>
    <div>
      <form [formGroup]="form" class="flex flex-col" novalidate>
        <mat-form-field>
          <mat-label>Hardware IDs</mat-label>
          <textarea [cdkAutosizeMaxRows]=30 [cdkAutosizeMinRows]=1 cdkTextareaAutosize
                    cdkTrapFocus cdkTrapFocusAutoCapture
                    formControlName="hardwareId" matInput></textarea>
          <app-field-error [displayError]="isFieldValid(form, 'hardwareId')"
                           [errorMessage]="form.controls['hardwareId'].getError('message')"
                           matSuffix>
          </app-field-error>
          <mat-hint>You can preregister multiple devices, adding each hardware ID on a separate line
          </mat-hint>
        </mat-form-field>

        <app-tag-select class="flex flex-grow"
                        [bindValue]="TAG_SELECT_BIND_VALUE.NAME"
                        [parentForm]="form" parentFormTagsField="tags">
        </app-tag-select>
      </form>
    </div>
    <div class="card-actions justify-start mt-10">
      <button (click)="useCam()" class="btn btn-sm btn-secondary">USE CAMERA</button>
      <button class="btn btn-sm btn-secondary" routerLink="/devices">CANCEL</button>
      <button (click)="save()" *ngIf="allowCreate" [disabled]="form.invalid" class="btn btn-sm btn-primary">SAVE
      </button>
    </div>
  </div>
</div>
