<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="cubes"></fa-icon>
        <div>Provisioning</div>
      </div>
      <app-live-toggle (tick)="changePage()"></app-live-toggle>
    </h2>
    <div>
      <table cdk-table [dataSource]="datasource" matSort
             matSortActive="version" matSortDirection="desc" matSortStart="desc" matSortDisableClear
             aria-describedby="List of provisioning packages"
             class="table w-full">
        <ng-container matColumnDef="name">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Name</th>
          <td cdk-cell *cdkCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="version">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Version</th>
          <td cdk-cell *cdkCellDef="let element">{{element.version}}</td>
        </ng-container>
        <ng-container matColumnDef="prerequisiteVersion">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Base Version</th>
          <td cdk-cell *cdkCellDef="let element">
            {{resolveBaseVersion(element.prerequisiteVersion)}}</td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> State</th>
          <td cdk-cell *cdkCellDef="let element">
            <app-boolean-checkbox [value]="element.available"></app-boolean-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="size">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Size</th>
          <td cdk-cell *cdkCellDef="let element">{{element["size"] | filesize}}</td>
        </ng-container>
        <ng-container matColumnDef="tags">
          <th cdk-header-cell *cdkHeaderCellDef scope="col"> Tags</th>
          <td cdk-cell *cdkCellDef="let element">
            {{resolveTag(element.tags)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdOn">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Created at</th>
          <td cdk-cell *cdkCellDef="let element">{{element.createdOn | date:
            constants.DATE_FORMAT}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Type</th>
          <td cdk-cell *cdkCellDef="let element">{{element.type}}</td>
        </ng-container>
        <ng-container matColumnDef="cacheStatus">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Cache</th>
          <td cdk-cell *cdkCellDef="let element" [ngSwitch]="element.cacheStatus">
            <div *ngSwitchCase="appConstants.PROVISIONING.CACHE_STATUS.COMPLETED"
                 class="status-completed">Completed
            </div>
            <div *ngSwitchCase="appConstants.PROVISIONING.CACHE_STATUS.FAILED"
                 class="status-failed">Failed
            </div>
            <div *ngSwitchCase="appConstants.PROVISIONING.CACHE_STATUS.IN_PROGRESS"
                 class="status-inprogress">In progress
            </div>
            <div *ngSwitchCase="appConstants.PROVISIONING.CACHE_STATUS.NOT_STARTED"
                 class="status-notstarted">Not started
            </div>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: columns; let element;"
            [routerLink]="element.id" class="hover hover:cursor-pointer"></tr>
      </table>

      <mat-paginator #paginator (page)="changePage()"
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 30, 50]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
    <div class="card-actions justify-start mt-10">
      <button class="btn btn-sm btn-secondary" (click)="cacheAll()">CACHE ALL</button>
      <button class="btn btn-sm btn-primary" [routerLink]="appConstants.NEW_RECORD_ID">CREATE
      </button>
    </div>
  </div>
</div>
