@import "../../styles-variables.scss";
@import "../shared/style/table-highlight-pointer";

#results {
  .mat-icon {
    color: $e-color-grey;
  }
  .mat-button {
    min-width: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-height: 0;
  }
}
