<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="certificate"></fa-icon>
        <div>Certificate</div>
      </div>
    </h2>
    <div>
      <form [formGroup]="form" class="flex flex-col" novalidate>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput>
          <mat-hint>A name to easily identify this certificate by. This value is not stored inside
            the generated certificate.
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Common name</mat-label>
          <input formControlName="cn" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Subject Alternative Names</mat-label>
          <input formControlName="san" matInput>
          <mat-hint>You can add multiple SANs separated by comma. If you specify SANs, also include the CN.</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Expires at</mat-label>
          <input [matDatepicker]="validityPicker" formControlName="validity" matInput>
          <mat-datepicker-toggle [for]="validityPicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #validityPicker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="!form.controls['id'].value">
          <mat-label>Signed by</mat-label>
          <mat-select formControlName="issuer">
            <mat-option *ngFor="let issuer of issuers" [value]="issuer.cn">
              {{ issuer.cn }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="form.controls['id'].value">
          <mat-label>Signed by</mat-label>
          <input formControlName="issuer" matInput>
        </mat-form-field>
      </form>
    </div>
    <div class="card-actions justify-start mt-10">
      <button class="btn btn-sm btn-secondary" routerLink="/certificates">CANCEL</button>
      <button (click)="delete()" *ngIf="allowDelete" [disabled]="this.id == constants.NEW_RECORD_ID"
              class="btn btn-sm btn-accent">DELETE
      </button>
      <button *ngIf="allowRead && this.id !== constants.NEW_RECORD_ID" [matMenuTriggerFor]="menu"
              class="btn btn-sm btn-secondary">
        DOWNLOAD
        <fa-icon class="ml-2" icon="caret-down"></fa-icon>
        <mat-menu #menu="matMenu" xPosition="before">
          <button (click)="downloadCertificate()" mat-menu-item>Certificate</button>
          <button (click)="downloadPublicKey()" mat-menu-item>Public key</button>
          <button (click)="downloadPrivateKey()" mat-menu-item>Private key</button>
        </mat-menu>
      </button>
      <button (click)="save()" *ngIf="allowCreate" [disabled]="form.invalid || id !== constants.NEW_RECORD_ID"
              class="btn btn-sm btn-primary">SAVE
      </button>
    </div>
  </div>
</div>
