<form novalidate [formGroup]="form" fxLayout="column" fxLayoutGap="0.5rem">
  <div class="inline-header">Device outgoing data encryption</div>
  <div class="inline-subheader">
    Set whether messages to devices should be encrypted or not.
  </div>
  <mat-form-field>
    <mat-select placeholder="Data encryption mode" [formControlName]="settings.SETTING.SECURITY.OUTGOING_ENCRYPTION">
      <mat-option *ngFor="let o of settings.SETTING_VALUES.SECURITY.OUTGOING_ENCRYPTION | keyvalue" [value]="o.value">
        {{ lookupByValue(settings.SETTING_VALUES.SECURITY.OUTGOING_ENCRYPTION, o.value) }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="inline-header xs-mt2">Device incoming data encryption</div>
  <div class="inline-subheader">
    Set whether messages from device should be encrypted or not.
  </div>
  <mat-form-field>
    <mat-select placeholder="Data encryption mode" [formControlName]="settings.SETTING.SECURITY.INCOMING_ENCRYPTION">
      <mat-option *ngFor="let o of settings.SETTING_VALUES.SECURITY.INCOMING_ENCRYPTION | keyvalue" [value]="o.value">
        {{ lookupByValue(settings.SETTING_VALUES.SECURITY.INCOMING_ENCRYPTION, o.value) }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="inline-header xs-mt2">Device outgoing signature</div>
  <div class="inline-subheader">
    Set whether messages to devices should be signed or not.
  </div>
  <mat-form-field>
    <mat-select placeholder="Data signature mode" [formControlName]="settings.SETTING.SECURITY.OUTGOING_SIGNATURE">
      <mat-option *ngFor="let o of settings.SETTING_VALUES.SECURITY.OUTGOING_SIGNATURE | keyvalue" [value]="o.value">
        {{ lookupByValue(settings.SETTING_VALUES.SECURITY.OUTGOING_SIGNATURE, o.value) }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="inline-header xs-mt2">Device incoming signature</div>
  <div class="inline-subheader">
    Set whether messages from devices should be signed or not.
  </div>
  <mat-form-field>
    <mat-select placeholder="Data signature mode" [formControlName]="settings.SETTING.SECURITY.INCOMING_SIGNATURE">
      <mat-option *ngFor="let o of settings.SETTING_VALUES.SECURITY.INCOMING_SIGNATURE | keyvalue" [value]="o.value">
        {{ lookupByValue(settings.SETTING_VALUES.SECURITY.INCOMING_SIGNATURE, o.value) }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="inline-header xs-mt2">Platform certificate</div>
  <div class="inline-subheader">
    The certificate used to sign and encrypt messages originating from the platform.
  </div>
  <mat-form-field>
      <mat-select [compareWith]="compareByStringValue" placeholder="Certificate" [formControlName]="settings.SETTING.SECURITY.PLATFORM_CERTIFICATE">
        <mat-option *ngFor="let o of certificates" [value]="o.id">
          {{ o.cn }}
        </mat-option>
      </mat-select>
  </mat-form-field>
</form>

<div class="xs-pt2">
  <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
</div>
