<form novalidate [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)" >
  <div fxLayout="column">
    <h4>Profile details</h4>
    <mat-form-field class="default-field-width">
      <input matInput placeholder="First name" formControlName="fn" autofocus>
    </mat-form-field>
    <mat-form-field class="default-field-width">
      <input matInput placeholder="Last name" formControlName="ln">
    </mat-form-field>
    <mat-form-field class="default-field-width">
      <input matInput placeholder="Email" formControlName="email" readonly>
    </mat-form-field>

    <h4>Change password</h4>
    <mat-form-field class="default-field-width">
      <input matInput placeholder="Current password" formControlName="oldPassword" type="password">
    </mat-form-field>
    <mat-form-field class="default-field-width">
      <input matInput placeholder="New password" formControlName="newPassword1" type="password">
    </mat-form-field>
    <mat-form-field class="default-field-width">
      <input matInput placeholder="Verify new password" formControlName="newPassword2" type="password">
    </mat-form-field>

    <h4>Change email</h4>
    <div class="info-message blue">
      <span>For as long as verification of
        your new email address is pending you can still login with your current email address.
        To change your email you need to also enter your current password.
      </span>
    </div>
    <mat-form-field class="default-field-width">
      <input matInput placeholder="New email" formControlName="newEmail">
    </mat-form-field>

  </div>

  <mat-card-actions fxLayoutAlign="end">
    <button mat-button mat-prim type="button" (click)="reset()">RESET</button>
    <button mat-button color="primary" type="submit" [disabled]="profileForm.invalid || !profileForm.dirty">SAVE</button>
  </mat-card-actions>
</form>
