<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row">
        <fa-icon icon="cubes"></fa-icon>
        <div class="ml-2">Provisioning package</div>
      </div>
      <div *ngIf="id != appConstants.NEW_RECORD_ID && provisioningPackage"
           class="flex flex-row gap-2">
        <div *ngIf="provisioningPackage.size">
          <span class="badge">{{provisioningPackage.size | filesize}}</span>
        </div>
        <div *ngIf="provisioningPackage.sha256">
          <span class="badge">{{provisioningPackage.sha256}}</span>
        </div>
      </div>
    </h2>
    <div>
      <!-- LOG - if available -->
      <div *ngIf="provisioningPackage?.log" class="mb-5">
        <div class="alert alert-warning shadow-lg">
          <div>
            <fa-icon icon="triangle-exclamation"></fa-icon>
            <span><pre>{{provisioningPackage?.log}}</pre></span>
          </div>
        </div>
      </div>

      <!-- PACKAGE DETAILS -->
      <form [formGroup]="form" novalidate>
        <div class="flex flex-col">
          <!-- Package type -->
          <mat-form-field>
            <mat-label>Package type</mat-label>
            <mat-select formControlName="type">
              <mat-option [value]="appConstants.PROVISIONING.TYPE.INTERNAL">Internal (uploaded to esthesis)</mat-option>
              <mat-option [value]="appConstants.PROVISIONING.TYPE.EXTERNAL">External (hosted in a URL)</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Common elements for all package types -->
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
            <app-field-error [displayError]="isFieldValid(form, 'name')"
                             [errorMessage]="form.controls['name'].getError('message')"
                             matSuffix>
            </app-field-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Version</mat-label>
            <input formControlName="version" matInput>
            <mat-hint>The version of this package, following semantic versioning rules</mat-hint>
            <app-field-error [displayError]="isFieldValid(form, 'version')"
                             [errorMessage]="form.controls['version'].getError('message')"
                             matSuffix>
            </app-field-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Depends on version</mat-label>
            <mat-select formControlName="prerequisiteVersion">
              <mat-option *ngFor="let version of baseVersions" [value]="version.id">{{version.name}}
                - {{version.version}}</mat-option>
            </mat-select>
            <mat-hint>A previous version required to be installed before this package can be
              installed
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="mt2">
            <mat-label>Availability</mat-label>
            <mat-select formControlName="available">
              <mat-option [value]="true">Active</mat-option>
              <mat-option [value]="false">Inactive</mat-option>
            </mat-select>
            <mat-hint>Indicates whether this package can be made available to devices or not
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea [cdkAutosizeMinRows]=1 cdkTextareaAutosize formControlName="description"
                      matInput></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Tags</mat-label>
            <mat-select formControlName="tags" multiple>
              <mat-option *ngFor="let tag of availableTags"
                          [value]="tag.id">{{tag.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Attributes</mat-label>
            <input formControlName="attributes" matInput>
            <mat-hint>Attributes will be provided as-is as input to device's firmware upgrade script
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Binary hash</mat-label>
            <input formControlName="sha256" matInput>
            <mat-hint>SHA256 hash of the binary file</mat-hint>
          </mat-form-field>

          <!-- Internal package type -->
          <div *ngIf="form.getRawValue().type === appConstants.PROVISIONING.TYPE.INTERNAL
                    && id === appConstants.NEW_RECORD_ID" class="flex">

<!--            <mat-form-field class="flex-grow">-->
<!--              <mat-label>Internal package</mat-label>-->
<!--              <input (click)="this.id === appConstants.NEW_RECORD_ID ? file.click() : null"-->
<!--                     formControlName="fileName" matInput readonly-->
<!--                     placeholder="Choose file" class="cursor-pointer">-->
<!--              <div>-->
<!--                <input #file (change)="selectFile($event)" hidden type="file">-->
<!--              </div>-->
<!--            </mat-form-field>-->


          </div>
            <input type="file" class="file-input file-input-bordered w-full max-w-xs" />

          <!-- External package type -->
          <div
            *ngIf="form.getRawValue().type === appConstants.PROVISIONING.TYPE.EXTERNAL" class="flex flex-row">
            <mat-form-field class="flex-grow">
              <mat-label>Package URL</mat-label>
              <input formControlName="WEB_URL" matInput>
              <mat-hint>An HTTP/HTTPS URL of the location of the package, e.g.
                http://package-server/fw100.zip
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div class="card-actions justify-start mt-10">
      <button class="btn btn-sm btn-secondary" routerLink="/provisioning">CANCEL</button>
      <button (click)="download()"
              *ngIf="allowRead && this.id !== appConstants.NEW_RECORD_ID"
              [disabled]="this.provisioningPackage?.type === appConstants.PROVISIONING.TYPE.EXTERNAL
                       || this.form.dirty" class="btn btn-sm btn-secondary">
        DOWNLOAD
      </button>
      <button (click)="delete()" *ngIf="allowDelete" [disabled]="id === appConstants.NEW_RECORD_ID"
              class="btn btn-sm btn-accent">DELETE
      </button>
      <button (click)="save()" *ngIf="allowWrite || allowCreate" [disabled]="form.invalid" class="btn btn-sm btn-primary">SAVE
      </button>
    </div>
  </div>
</div>
