<div class="flex flex-col bg-base-100 mt-1 ml-1 mr-1 p-4 rounded-xl">
  <div class="flex flex-row justify-between">
    <div class="stat-title">{{ item.title }}</div>
  </div>
  <div class="overflow-hidden cursor-default w-full p-0 m-0">
    <app-chart-host chartType="pie" class="p-0 m-0">
      <canvas class="mt-4 ml-0"
        baseChart
        [data]="pieChartData"
        [options]="pieChartOptions"
        type="pie"
        height="120px">
      </canvas>
    </app-chart-host>
  </div>
</div>
