<div fxLayout="column">
  <table mat-table [dataSource]="datasource" class="mat-elevation-z0" fxFlex="grow" matSort
         matSortActive="name"
         matSortDirection="asc"
         matSortStart="asc" matSortDisableClear aria-describedby="List of MQTT servers">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> URL</th>
      <td mat-cell *matCellDef="let element">{{element.url}}</td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Status</th>
      <td mat-cell *matCellDef="let element"> {{element.active ? 'Active' : 'Inactive'}}</td>
    </ng-container>
    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef scope="col"> Tags</th>
      <td mat-cell *matCellDef="let element">
        {{resolveTag(element.tags)}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns; let element;"
        [routerLink]="'mqtt/' + element.id"></tr>
  </table>
  <mat-paginator (page)="changePage()"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 30, 50]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>

<button mat-button [routerLink]="['mqtt', appConstants.NEW_RECORD_ID]">REGISTER</button>
