.widget {
  .body {
    .icon {
      mat-icon {
        transform: scale(2);
      }
    }
    .value {
      font-size: 2rem;
    }
    .title {
      padding-right: 2px;
      font-size: 1.05rem;
    }
  }
}
