<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="globe"></fa-icon>
        <div>Campaigns</div>
      </div>
      <app-live-toggle (tick)="changePage()"></app-live-toggle>
    </h2>
    <div>
      <div>
        <table [dataSource]="datasource" aria-describedby="List of campaigns" cdk-table
               class="table w-full" matSort matSortActive="createdOn"
               matSortDirection="desc" matSortDisableClear matSortStart="desc">
          <ng-container cdkColumnDef="name">
            <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col">Name</th>
            <td *cdkCellDef="let element" cdk-cell>{{element.name}}</td>
          </ng-container>
          <ng-container cdkColumnDef="state">
            <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col">State</th>
            <td *cdkCellDef="let element" [ngSwitch]="element.state" cdk-cell>
              <span *ngSwitchCase="appConstants.CAMPAIGN.STATE.CREATED">
                <fa-icon class="mr-2" icon="circle-up"></fa-icon> Created
              </span>
              <span *ngSwitchCase="appConstants.CAMPAIGN.STATE.RUNNING">
                <fa-icon class="mr-2" icon="play"></fa-icon> Running
              </span>
              <span *ngSwitchCase="appConstants.CAMPAIGN.STATE.PAUSED_BY_USER">
                <fa-icon class="mr-2" icon="pause"></fa-icon> Paused by user
              </span>
              <span *ngSwitchCase="appConstants.CAMPAIGN.STATE.PAUSED_BY_WORKFLOW">
                <fa-icon class="mr-2" icon="user-clock"></fa-icon> Waiting
              </span>
              <span *ngSwitchCase="appConstants.CAMPAIGN.STATE.TERMINATED_BY_WORKFLOW">
                <fa-icon class="mr-2" icon="circle"></fa-icon> Terminated
              </span>
              <span *ngSwitchCase="appConstants.CAMPAIGN.STATE.TERMINATED_BY_USER">
                 <fa-icon class="mr-2" icon="circle"></fa-icon> Terminated by user
              </span>
            </td>
          </ng-container>
          <ng-container cdkColumnDef="createdOn">
            <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col">Created</th>
            <td *cdkCellDef="let element" cdk-cell>
              {{element.createdOn
              ? (element.createdOn | amFromUtc | amLocal | amDateFormat : 'YYYY-MM-DD HH:mm:ss Z')
              : ''}}</td>
          </ng-container>
          <ng-container cdkColumnDef="startedOn">
            <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col">Started</th>
            <td *cdkCellDef="let element" cdk-cell>
              {{element.startedOn
              ? (element.startedOn | amFromUtc | amLocal | amDateFormat : 'YYYY-MM-DD HH:mm:ss Z')
              : ''}}</td>
          </ng-container>
          <ng-container cdkColumnDef="terminatedOn">
            <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col">Terminated</th>
            <td *cdkCellDef="let element" cdk-cell>
              {{element.terminatedOn
              ? (element.terminatedOn | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z')
              : ''}}</td>
          </ng-container>
          <tr *cdkHeaderRowDef="columns" cdk-header-row></tr>
          <tr *cdkRowDef="let row; columns: columns; let element;" [routerLink]="element.id"
              cdk-row class="hover hover:cursor-pointer"></tr>
        </table>
        <mat-paginator #paginator (page)="changePage()"
                       [pageSizeOptions]="[10, 30, 50]"
                       [pageSize]="10"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </div>
    <div class="card-actions justify-start mt-10">
      <button *ngIf="allowCreate" [routerLink]="appConstants.NEW_RECORD_ID" class="btn btn-sm btn-primary">CREATE
      </button>
    </div>
  </div>
</div>
