<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="shield-halved"></fa-icon>
        <div>Keystore</div>
      </div>
    </h2>
    <div>
      <form novalidate [formGroup]="form">
        <div class="flex flex-col">
          <div *ngIf="form.controls['version'].value > 0" class="text-base-content/50 mb-5">
            Version: {{form.controls['version'].value}}</div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Keystore password</mat-label>
            <input matInput formControlName="password">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Keystore type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of keystoreTypes" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>

      <div class="font-bold text-xl my-5">Key entries</div>
      <table cdk-table [dataSource]="dataSource"
             matSort matSortActive="id" matSortDirection="asc" matSortStart="asc"
             matSortDisableClear aria-describedby="List of keystore entries" class="table w-full">
        <ng-container cdkColumnDef="name">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Name</th>
          <td cdk-cell *cdkCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container cdkColumnDef="resourceType">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Resource</th>
          <td cdk-cell *cdkCellDef="let element">{{element.resourceType}}</td>
        </ng-container>
        <ng-container cdkColumnDef="keyType">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Key type</th>
          <td cdk-cell *cdkCellDef="let element">
            <mat-checkbox
              [checked]="element.keyType.includes(appConstants.KEYSTORE.ITEM.KEY_TYPE.PRIVATE_KEY)"
              (click)="toggleItem(element.keyType, appConstants.KEYSTORE.ITEM.KEY_TYPE.PRIVATE_KEY)">
              Private Key
            </mat-checkbox>
            <mat-checkbox
              [checked]="element.keyType.includes(appConstants.KEYSTORE.ITEM.KEY_TYPE.CERTIFICATE)"
              (click)="toggleItem(element.keyType, appConstants.KEYSTORE.ITEM.KEY_TYPE.CERTIFICATE)">
              Certificate
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="password">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Password</th>
          <td cdk-cell *cdkCellDef="let element">
            <input type="text" class="input w-full max-w-xs" [(ngModel)]="element.password"/>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"></th>
          <td cdk-cell *cdkCellDef="let element">
            <fa-icon icon="trash-can" class="cursor-pointer"
                     (click)="removeItem(form.controls.entries.value, element)"></fa-icon>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let element; columns: displayedColumns;"
            class="hover hover:cursor-pointer"></tr>
      </table>
    </div>
    <div class="card-actions justify-start mt-10">
      <button class="btn btn-sm btn-secondary" routerLink="/keystores">CANCEL</button>
      <button class="btn btn-sm btn-accent" color="warn" (click)="delete()"
              *ngIf="id !== appConstants.NEW_RECORD_ID">DELETE
      </button>
      <button class="btn btn-sm btn-secondary" [matMenuTriggerFor]="menu">ADD
        <fa-icon icon="caret-down" class="ml-2"></fa-icon>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="addDevice()">Device</button>
          <button mat-menu-item (click)="addCertificate()">Certificate</button>
          <button mat-menu-item (click)="addCA()">Certificate Authority</button>
          <button mat-menu-item (click)="addTag()">Tag</button>
        </mat-menu>
      </button>
      <button class="btn btn-sm btn-secondary" (click)="download()">DOWNLOAD</button>
      <button class="btn btn-sm btn-primary" (click)="save()" [disabled]="!form.valid">SAVE</button>
    </div>
  </div>
</div>
