<mat-card class="mat-card-flat">
  <mat-card-title>Send a command to devices</mat-card-title>
  <mat-card-content>
    <div class="inline-header" fxLayout="row" fxLayoutGap="1rem">
      <div>Devices</div>
      <div *ngIf="isSearching">
        <mat-spinner [diameter]="15" [strokeWidth]="1"></mat-spinner>
      </div>
    </div>
    <form [formGroup]="searchDevicesForm" id="searchDevices">
      <div fxLayout="row" fxLayoutGap="1rem">
        <mat-form-field fxFill>
          <input matInput placeholder="Hardware IDs" formControlName="hardwareIds">
          <div matSuffix class="matches">
            {{searchDevicesForm.controls['devicesMatchedByHardwareIds'].value}} devices
          </div>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="1rem">
        <mat-form-field fxFill>
          <input matInput placeholder="Tag" formControlName="tags">
          <div matSuffix class="matches">
            {{searchDevicesForm.controls['devicesMatchedByTags'].value}} devices
          </div>
        </mat-form-field>
      </div>
    </form>

    <div class="inline-header">Command</div>
    <form [formGroup]="commandForm">
      <div fxLayout="row" fxLayoutGap="1rem" fxFill>
        <mat-form-field fxFill>
          <mat-select placeholder="Command" formControlName="command">
            <mat-option *ngFor="let o of appConstants.DEVICE.COMMANDS| keyvalue"
                        [value]="o.value">
              {{ lookupByValue(appConstants.DEVICE.COMMANDS, o.value) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="commandForm.value.command == appConstants.DEVICE.COMMANDS.EXECUTE">
        <mat-form-field fxFill>
          <input matInput placeholder="Command arguments" formControlName="arguments">
        </mat-form-field>
      </div>

      <div *ngIf="commandForm.value.command == appConstants.DEVICE.COMMANDS.PROVISIONING">
        <mat-form-field fxFill>
          <mat-select placeholder="Provisioning package" formControlName="arguments">
            <mat-option *ngFor="let pp of provisioningPackages"
                        [value]="pp.id">{{pp.name}} - {{pp.packageVersion}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="1rem">
        <mat-form-field fxFill>
              <textarea cdkTextareaAutosize [cdkAutosizeMinRows]=1 [cdkAutosizeMaxRows]=10
                        matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/command">CANCEL</button>
    <button mat-button color="primary"
            [disabled]="!canDispatch()"
            (click)="execute()">DISPATCH
    </button>
  </mat-card-actions>
</mat-card>
