<mat-card>
  <mat-card-title>
    Command
    <button mat-mini-fab (click)="refreshCurrentData()" class="refresh-button">
      <mat-icon inline="true">refresh</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="column">
      <!-- Filter -->
      <div [formGroup]="filterForm" fxFlex="row" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="Command" formControlName="command">
        </mat-form-field>
        <button mat-button (click)="clearFilter()">CLEAR</button>
      </div>

      <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z0" fxFlex="grow"
             matSort matSortActive="createdOn" matSortDirection="desc" matSortStart="desc"
             matSortDisableClear id="results" aria-describedby="List of commands issued">

        <ng-container matColumnDef="command">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Command</th>
          <td mat-cell *matCellDef="let element">{{element.command | truncate: 100 : "…"}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Description</th>
          <td mat-cell *matCellDef="let element">{{element.description | truncate: 100 : "…"}}</td>
        </ng-container>
        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Sent On</th>
          <td mat-cell
              *matCellDef="let element">{{element.createdOn | date: constants.DATE_FORMAT}}</td>
        </ng-container>
        <ng-container matColumnDef="executedOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Executed On</th>
          <td mat-cell
              *matCellDef="let element">{{element.executedOn | date: constants.DATE_FORMAT}}</td>
        </ng-container>
        <ng-container matColumnDef="pills">
          <th mat-header-cell *matHeaderCellDef scope="col">Type</th>
          <td mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutGap="0.5rem">
              <mat-chip-list class="pill-command-type">
                <mat-chip *ngIf="element.commandType === appConstants.DEVICE.COMMAND.TYPE.EXECUTE">
                  EXECUTE
                </mat-chip>
                <mat-chip *ngIf="element.commandType === appConstants.DEVICE.COMMAND.TYPE.HEALTH">
                  HEALTH
                </mat-chip>
                <mat-chip *ngIf="element.commandType === appConstants.DEVICE.COMMAND.TYPE.PING">
                  PING
                </mat-chip>
                <mat-chip *ngIf="element.commandType === appConstants.DEVICE.COMMAND.TYPE.FIRMWARE">
                  FIRMWARE
                </mat-chip>
                <mat-chip *ngIf="element.commandType === appConstants.DEVICE.COMMAND.TYPE.REBOOT">
                  REBOOT
                </mat-chip>
                <mat-chip *ngIf="element.commandType === appConstants.DEVICE.COMMAND.TYPE.SHUTDOWN">
                  SHUTDOWN
                </mat-chip>
              </mat-chip-list>
              <mat-chip-list class="pill-execution-type">
                <mat-chip
                  *ngIf="element.executionType === appConstants.DEVICE.COMMAND.EXECUTION.ASYNCHRONOUS">
                  ASYNC
                </mat-chip>
                <mat-chip
                  *ngIf="element.executionType === appConstants.DEVICE.COMMAND.EXECUTION.SYNCHRONOUS">
                  SYNC
                </mat-chip>
              </mat-chip-list>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let element; columns: displayedColumns;"
            [routerLink]="'/command/reply/' + element.id"></tr>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 30, 50]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent" [matMenuTriggerFor]="menu">PURGE
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="purgeAll()">All</button>
        <button mat-menu-item (click)="purgeKeppLastDay()">Keep last 24h</button>
        <button mat-menu-item (click)="purgeKeppLastWeek()">Keep last week</button>
        <button mat-menu-item (click)="purgeKeppLastMonth()">Keep last month</button>
      </mat-menu>
    </button>
    <button mat-button routerLink="create">CREATE</button>
  </mat-card-actions>
</mat-card>
