<div class="flex flex-col bg-base-100 mt-1 ml-1 mr-1 p-4 rounded-xl">
  <div class="flex flex-row justify-between">
    <div class="stat-title">{{ item.title }}</div>
  </div>
  <div class="flex flex-row justify-between">
    <div>
      <div class="flex flex-row mt-2">
        <div class="stat-value">135</div>
      </div>
      <div class="stat-desc">litres</div>
    </div>
    <div class="">
      <i class="text-accent text-6xl fa-solid fa-battery-half fa-rotate-270"></i>
    </div>
  </div>
</div>
