<mat-card>
  <div *ngIf="!activeNiFiId">
    <mat-error>
      No active NiFi instance found. Edit functionality is disabled.
    </mat-error>
  </div>
  <mat-card-title>Data {{type}}</mat-card-title>
  <mat-card-content>
    <div fxLayout="column">
      <table mat-table [dataSource]="datasource" class="mat-elevation-z0" fxFlex="grow" matSort
             matSortActive="name" matSortDirection="asc" matSortStart="asc" matSortDisableClear
            aria-describedby="List of sinks">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Created on</th>
          <td mat-cell
              *matCellDef="let element"> {{element.createdOn | date: constants.DATE_FORMAT}}</td>
        </ng-container>
        <ng-container matColumnDef="handler">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Handler</th>
          <td mat-cell *matCellDef="let element">
            {{lookupByValue(constants.HANDLER, element.handler)}}</td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> State</th>
          <td mat-cell *matCellDef="let element">
            <app-boolean-checkbox [value]="element.state"></app-boolean-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="validationErrors">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">NiFi Status</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.validationErrors"
                      color="warn" [matTooltip]=element.validationErrors>warning
            </mat-icon>
            <app-boolean-checkbox *ngIf="!element.validationErrors" [value]="!element.validationErrors"></app-boolean-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns; let element;"
            [routerLink]="element.id"></tr>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 30, 50]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="!activeNiFiId" mat-button routerLink="0">CREATE</button>
  </mat-card-actions>
</mat-card>
