<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="building-shield"></fa-icon>
        <div>Edit policy</div>
      </div>
    </h2>
    <div>
      <form [formGroup]="form" novalidate>
        <div class="flex flex-col">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <input formControlName="description" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Rule</mat-label>
            <input formControlName="rule" matInput>
            <fa-icon (click)="policyEditor()" class="mr-3 cursor-pointer" icon="file-circle-plus"
                     matSuffix matTooltip="Open policy editor"></fa-icon>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="card-actions justify-start mt-10">
      <button class="btn btn-sm btn-secondary" routerLink="/security/policies">CANCEL</button>
      <button (click)="delete()" *ngIf="id !== appConstants.NEW_RECORD_ID"
              class="btn btn-sm btn-accent">DELETE
      </button>
      <button (click)="save()" [disabled]="form.invalid"
              class="btn btn-sm btn-primary">SAVE
      </button>
    </div>
  </div>
</div>
