<mat-card>
  <mat-card-title>Store</mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Store password" formControlName="password" type="password">
      </mat-form-field>
      <div fxLayout="row" class="xs-pb1">
        <mat-checkbox formControlName="passwordForKeys">Keys have the same password</mat-checkbox>
      </div>
      <div class="inline-header xs-pt1">Add certificates from:</div>
      <div fxLayout="row" fxLayoutGap="2rem" class="xs-pt1">
        <div fxFlex="row">
          <div class="inline-subheader">Certificates</div>
          <mat-form-field fxFill>
            <mat-select formControlName="certCertificates" multiple>
              <mat-option *ngFor="let cert of certs" [value]="cert.id" color="primary">
                {{cert.cn}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="row">
          <div class="inline-subheader">Certificate Authorities</div>
          <mat-form-field fxFill>
            <mat-select formControlName="certCas" multiple>
              <mat-option class="" *ngFor="let ca of cas" [value]="ca.id" color="primary">
                {{ca.cn}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="inline-header xs-pt1">Add private keys from:</div>
      <div fxLayout="row" fxLayoutGap="2rem" class="xs-pt1">
        <div fxFlex="row">
          <div class="inline-subheader">Certificates</div>
          <mat-form-field fxFill>
            <mat-select formControlName="pkCertificates" multiple>
              <mat-option *ngFor="let cert of certs" [value]="cert.id" color="primary">
                {{cert.cn}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="row">
          <div class="inline-subheader">Certificate Authorities</div>
          <mat-form-field fxFill>
            <mat-select formControlName="pkCas" multiple>
              <mat-option class="" *ngFor="let ca of cas" [value]="ca.id" color="primary">
                {{ca.cn}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="download()">DOWNLOAD</button>
    <button mat-button routerLink="/stores">CANCEL</button>
    <button mat-button color="warn" (click)="delete()"
            [disabled]="this.id == appConstants.NEW_RECORD_ID">DELETE
    </button>
    <button mat-button color="primary" (click)="save()"
            [disabled]="form.invalid">SAVE
    </button>
  </mat-card-actions>
</mat-card>
