<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="envelope-open"></fa-icon>
        <div>MQTT server</div>
      </div>
    </h2>
    <div>
      <form [formGroup]="form" novalidate>
        <input formControlName="id" type="hidden">
        <div class="flex flex-col">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>URL</mat-label>
            <input formControlName="url" matInput required>
            <mat-hint align="start">This URL of the MQTT server to be forwarded to devices during
              registration, ex: mqtt://mqtt.server:1883, ssl://mqtt.server:8883
            </mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select formControlName="active">
              <mat-option [value]="true">Active</mat-option>
              <mat-option [value]="false">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
          <app-smart-select class="flex flex-grow"
                          [parentForm]="form" parentFormField="tags"
                          label="Tags" [service]="tagsService"
                          dtoValue="id"
                          dtoLabel="name"
                          searchMethod="find"
                          searchTerm="name"
                          getMethod="findByIds"
          >
          </app-smart-select>
        </div>
      </form>
    </div>
    <div class="card-actions justify-start mt-10">
      <button (click)="delete()" *ngIf="allowDelete && this.id !== appConstants.NEW_RECORD_ID"
              class="btn btn-sm btn-accent">DELETE
      </button>
      <button (click)="save()" *ngIf="allowCreate || allowWrite" [disabled]="form.invalid" class="btn btn-sm btn-primary">SAVE
      </button>
    </div>
  </div>
</div>
