<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="broadcast-tower"></fa-icon>
        <div>Command & Replies</div>
      </div>
    </h2>

    <div class="flex flex-row gap-10">
      <!-- Command -->
      <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-5">
          <div class="text-accent font-bold">Command details</div>
          <div>
            <div class="font-bold">Id</div>
            <div>{{commandRequest?.id}}</div>
          </div>
          <div>
            <div class="font-bold">Type</div>
            <div>
              <div *ngIf="commandRequest?.commandType === appConstants.DEVICE.COMMAND.TYPE.EXECUTE">
                Execute
              </div>
              <div *ngIf="commandRequest?.commandType === appConstants.DEVICE.COMMAND.TYPE.HEALTH">
                Health
              </div>
              <div *ngIf="commandRequest?.commandType === appConstants.DEVICE.COMMAND.TYPE.PING">
                Ping
              </div>
              <div *ngIf="commandRequest?.commandType === appConstants.DEVICE.COMMAND.TYPE.FIRMWARE">
                Firmware
              </div>
              <div *ngIf="commandRequest?.commandType === appConstants.DEVICE.COMMAND.TYPE.REBOOT">
                Reboot
              </div>
              <div *ngIf="commandRequest?.commandType === appConstants.DEVICE.COMMAND.TYPE.SHUTDOWN">
                Shutdown
              </div>
            </div>
          </div>
          <div>
            <div class="font-bold">Execution</div>
            <div>
              <div
                *ngIf="commandRequest?.executionType === appConstants.DEVICE.COMMAND.EXECUTION.ASYNCHRONOUS">
                Asynchronous
              </div>
              <div
                *ngIf="commandRequest?.executionType === appConstants.DEVICE.COMMAND.EXECUTION.SYNCHRONOUS">
                Synchronous
              </div>
            </div>
          </div>
          <div>
            <div class="font-bold">Command</div>
            <div>{{commandRequest?.command}}</div>
          </div>
          <div *ngIf="commandRequest?.arguments">
            <div class="font-bold">Arguments</div>
            <div>{{commandRequest?.arguments}}</div>
          </div>
          <div>
            <div class="font-bold">Created</div>
            <div>{{commandRequest?.createdOn | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}</div>
          </div>
          <div>
            <div class="font-bold">Dispatched</div>
            <div
              *ngIf="commandRequest?.dispatchedOn">{{commandRequest?.dispatchedOn | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}</div>
          </div>
        </div>
        <div class="card-actions justify-start w-40">
          <button (click)="deleteReplies()" *ngIf="commandReplies && allowDelete" class="btn btn-accent btn-sm w-40">
            DELETE REPLIES
          </button>
          <button (click)="deleteCommand()" *ngIf="allowDelete" class="btn btn-accent btn-sm w-40">
            DELETE COMMAND
          </button>
          <div class="tooltip" data-tip="Create a copy of this command and re-execute it as a new command.">
          <button (click)="replayCommand()" *ngIf="allowCreate" class="btn btn-primary btn-sm w-40" >
            REPLAY
          </button>
          </div>
        </div>
      </div>

      <!-- Replies -->
      <div class="flex flex-col gap-5 flex-auto">
        <div class="text-accent font-bold">Replies</div>
        <div *ngIf="!commandReplies">
          <div class="w-full">
            No replies received for this command.
          </div>
        </div>
        <div *ngFor="let reply of commandReplies; let i = index" class="flex flex-col gap-5">
          <div class="flex flex-row gap-2 items-baseline">
            <div class="badge badge-primary">{{reply.hardwareId}}</div>
            <div *ngIf="reply.success" class="badge badge-success">Successful execution</div>
            <div *ngIf="!reply.success" class="badge badge-error">Failed execution</div>
            <div
              class="badge">{{reply.createdOn | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}</div>
            <div>
              <button (click)="copyOutputToClipboard(i)" class="btn btn-sm btn-ghost"
                      matTooltip="Copy to clipboard">
                <fa-icon icon="clipboard"></fa-icon>
              </button>
              <button (click)="deleteReply(reply.id!, i)" *ngIf="allowDelete"
                      class="btn btn-sm btn-ghost" matTooltip="Delete reply">
                <fa-icon icon="trash-can"></fa-icon>
              </button>
            </div>
          </div>
          <div *ngIf="reply.isTrimmed" class="badge badge-error">Reply is trimmed</div>
          <div>
            <div class="mockup-code">
              <pre class="ml-3"><code><br>{{reply.output}}</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
