<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="desktop"></fa-icon>
        <div>Application</div>
      </div>
    </h2>
    <div>
      <form [formGroup]="form" class="flex w-full flex-col" novalidate>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>
        <div class="flex flex-row">
          <mat-form-field class="grow">
            <mat-label>Security token</mat-label>
            <input formControlName="token" matInput>
            <fa-icon *ngIf="allowWrite||allowCreate"  (click)="generateToken()"
                     (keydown)="generateToken()"
                     class="mr-3 cursor-pointer" icon="id-badge"
                     matSuffix matTooltip="Generate token"></fa-icon>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option [value]="true">Active</mat-option>
            <mat-option [value]="false">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="card-actions justify-start mt-10">
      <button class="btn btn-sm btn-secondary" routerLink="/applications">CANCEL</button>
      <button (click)="delete()" *ngIf="allowDelete" [disabled]="id === appConstants.NEW_RECORD_ID"
              class="btn btn-sm btn-accent">DELETE
      </button>
      <button (click)="save()" *ngIf="allowCreate || allowWrite" [disabled]="form.invalid" class="btn btn-sm btn-primary">SAVE
      </button>
    </div>
  </div>
</div>
