<div class="flex flex-col gap-2">
  <table [dataSource]="datasource" cdk-table
         matSort matSortActive="measurement"
         matSortDirection="asc" matSortDisableClear matSortStart="asc"
         class="grow table">
    <caption class="invisible">Sensor data</caption>
    <ng-container cdkColumnDef="measurement">
      <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col">Measurement</th>
      <td *cdkCellDef="let element" cdk-cell> {{element.label}}</td>
    </ng-container>
    <ng-container cdkColumnDef="value">
      <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col">Value</th>
      <td *cdkCellDef="let element" cdk-cell> {{element.value}}</td>
    </ng-container>
    <ng-container cdkColumnDef="lastUpdatedOn">
      <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col">Last updated on</th>
      <td *cdkCellDef="let element"
          cdk-cell> {{element.lastUpdate | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}</td>
    </ng-container>
    <ng-container cdkColumnDef="lastUpdatedOnAgo">
      <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"></th>
      <td *cdkCellDef="let element"
          cdk-cell> {{element.lastUpdate | amFromUtc | amLocal | amTimeAgo}}</td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td *ngIf="tableLoading" class="mat-cell" [attr.colspan]="displayedColumns.length">
        <div class="skeleton h-8 flex-grow"></div>
      </td>
      <td *ngIf="!tableLoading" class="mat-cell" [attr.colspan]="displayedColumns.length">
        No data available to display
      </td>
    </tr>
    <tr *cdkHeaderRowDef="displayedColumns" cdk-header-row></tr>
    <tr *cdkRowDef="let row; columns: displayedColumns; let element;" cdk-row
        (click)="copyValue(row)" class="hover:bg-base-300 hover:cursor-pointer bg-base-content/5 text-base"></tr>
  </table>

  <div class="collapse collapse-arrow" *ngIf="!tableLoading">
    <input type="checkbox" />
    <div class="collapse-title text-accent font-medium">
      Import data
    </div>
    <div class="collapse-content">
      <form [formGroup]="form" novalidate>
        <mat-form-field class="w-full relative -top-4">
          <textarea placeholder="Enter data in eLP format" formControlName="data"
                    matInput cdkTextareaAutosize></textarea>
        </mat-form-field>
        <button (click)="clearData()" [disabled]="!form.controls['data'].value" class="btn btn-accent btn-sm">CLEAR</button>
        <button *ngIf="allowRead" [matMenuTriggerFor]="menu"
                class="btn btn-sm btn-primary ml-2" [disabled]="form.invalid">
          IMPORT AS
          <fa-icon class="ml-2" icon="caret-down"></fa-icon>
          <mat-menu #menu="matMenu" xPosition="before">
            <button (click)="submitTelemetry()" mat-menu-item>Telemetry</button>
            <button (click)="submitMetadata()" mat-menu-item>Metadata</button>
          </mat-menu>
        </button>
      </form>
    </div>
  </div>
</div>
