<div class="flex">
  <table [dataSource]="datasource" cdk-table
         matSort matSortActive="measurement"
         matSortDirection="asc" matSortDisableClear matSortStart="asc"
         class="grow table">
    <caption class="invisible">Sensor data</caption>
    <ng-container cdkColumnDef="measurement">
      <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col">Measurement</th>
      <td *cdkCellDef="let element" cdk-cell> {{element.label}}</td>
    </ng-container>
    <ng-container cdkColumnDef="value">
      <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col">Value</th>
      <td *cdkCellDef="let element" cdk-cell> {{element.value}}</td>
    </ng-container>
    <ng-container cdkColumnDef="lastUpdatedOn">
      <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col">Last updated on</th>
      <td *cdkCellDef="let element"
          cdk-cell> {{element.lastUpdate | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}</td>
    </ng-container>
    <ng-container cdkColumnDef="lastUpdatedOnAgo">
      <th *cdkHeaderCellDef cdk-header-cell mat-sort-header scope="col"></th>
      <td *cdkCellDef="let element"
          cdk-cell> {{element.lastUpdate | amFromUtc | amLocal | amTimeAgo}}</td>
    </ng-container>

    <tr *cdkHeaderRowDef="displayedColumns" cdk-header-row></tr>
    <tr *cdkRowDef="let row; columns: displayedColumns; let element;" cdk-row
        (click)="copyValue(row)" class="hover:bg-base-300 hover:cursor-pointer bg-base-content/5 text-base"></tr>
  </table>
</div>
