<div class="flex flex-row justify-end mt-4 items-center">
  <button [matMenuTriggerFor]="menu" class="btn btn-sm btn-ghost">
    <fa-icon icon="user" size="xl"></fa-icon>
    <fa-icon icon="chevron-down"></fa-icon>
    <mat-menu #menu="matMenu" xPosition="before">
      <ul class="dropdown-content z-[1] menu p-2 rounded-box w-52" style="font-size:1.02rem">
        <li><a routerLink="/user/profile">Profile</a></li>
        <li><a routerLink="/user/themes">Themes</a></li>
        <div class="divider"></div>
        <li><a routerLink="/user/signout">Sign out</a></li>
      </ul>
    </mat-menu>
  </button>
</div>
