<form novalidate [formGroup]="form" fxLayout="column">
  <div class="inline-header">Device telemetry details</div>
  <div class="inline-subheader">
    Select which telemetry data will be visible on device information page.
  </div>
  <div formArrayName="fields" *ngFor="let field of form.get('fields').controls; let i = index">
    <div [formGroupName]="i" fxLayout="row" fxLayoutGap="1rem">
      <mat-checkbox formControlName="shown" class="xs-mt1" color="primary"></mat-checkbox>
      <mat-form-field fxFlex="1 0 auto">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Data type" formControlName="datatype">
      </mat-form-field>
      <mat-form-field fxFlex="1 0 auto">
        <input matInput placeholder="UI label" formControlName="label">
      </mat-form-field>
      <mat-form-field fxFlex="1 0 auto">
        <input matInput placeholder="Formatter" formControlName="formatter"
               [readonly]="field.controls.datetime.value">
      </mat-form-field>
      <mat-checkbox formControlName="datetime" class="xs-mt1" color="primary">is epoch</mat-checkbox>
    </div>
  </div>

</form>

<div class="xs-pt2">
  <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
</div>
