<form novalidate [formGroup]="settingsForm" fxLayout="column">
  <div class="inline-header">Geollocation telemetry attributes</div>
  <div class="inline-subheader">
    If your devices transmit geollocation coordinates you can choose which telemetry data
    corresponds to the latitude and the longitude.
  </div>
  <mat-form-field>
    <mat-select placeholder="Longitude" formControlName="geo_lon">
      <mat-option value=""></mat-option>
      <mat-option *ngFor="let field of allFields" [value]="field.name">
        {{field.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Latitude" formControlName="geo_lat">
      <mat-option value=""></mat-option>
      <mat-option *ngFor="let field of allFields" [value]="field.name">
        {{field.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<form novalidate [formGroup]="form" fxLayout="column" class="xs-mt1">
  <div class="inline-header">Device telemetry details</div>
  <div class="inline-subheader">
    Select which telemetry data will be visible on device information page.
  </div>
  <div formArrayName="fields" *ngFor="let field of form.get('fields')['controls']; let i = index">
    <div [formGroupName]="i" fxLayout="row" fxLayoutGap="1rem">
      <mat-checkbox formControlName="shown" class="xs-mt1" color="primary"></mat-checkbox>
      <mat-form-field fxFlex="1 0 auto">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Data type" formControlName="datatype">
      </mat-form-field>
      <mat-form-field fxFlex="1 0 auto">
        <input matInput placeholder="UI label" formControlName="label">
      </mat-form-field>
      <mat-form-field fxFlex="1 0 auto">
        <input matInput placeholder="Formatter" formControlName="formatter">
      </mat-form-field>

      <mat-select placeholder="Value handler"
                  formControlName="valueHandler" fxFlex="150px">
        <mat-option *ngFor="let o of constants.FIELD_VALUE_FORMATTER| keyvalue"
                    [value]="o.value">
          {{ lookupByValue(constants.FIELD_VALUE_FORMATTER, o.value) }}
        </mat-option>
      </mat-select>
    </div>
  </div>
</form>

<div class="xs-pt2">
  <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
</div>
