<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-5">
      <div class="flex flex-row gap-2">
        <fa-icon icon="broadcast-tower"></fa-icon>
        <div>New Command</div>
      </div>
    </h2>
    <div>
      <form [formGroup]="searchDevicesForm">
        <div>
          <div *ngIf="isSearching">
            <mat-spinner [diameter]="15" [strokeWidth]="1"></mat-spinner>
          </div>
        </div>
        <div>
          <mat-form-field class="w-full">
            <mat-label>Devices</mat-label>
            <input [matAutocomplete]="auto" formControlName="hardwareId" matInput
                   placeholder="Search by hardware Id">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (click)="selectHardwareId(device.hardwareId)"
                          (keydown)="selectHardwareId(device.hardwareId)"
                          *ngFor="let device of searchDevices"
                          [value]="device.hardwareId">
                <span>{{device.hardwareId}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div *ngIf="selectedHardwareIds.length > 0" class="flex flex-row gap-2 flex-wrap mb-5">
          <span *ngFor="let id of selectedHardwareIds" class="badge badge-md badge-primary">
            {{ id }}
            <fa-icon (click)="removeChip(id)" (keydown)="removeChip(id)"
                     class="cursor-pointer" icon="xmark"></fa-icon>
          </span>
        </div>
        <app-tag-select class="flex flex-grow"
                        [parentForm]="searchDevicesForm" parentFormTagsField="tags">
        </app-tag-select>
      </form>

      <form [formGroup]="commandForm" class="flex flex-col">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea [cdkAutosizeMaxRows]=10 [cdkAutosizeMinRows]=1 cdkTextareaAutosize
                    formControlName="description" matInput></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Command type</mat-label>
          <mat-select formControlName="commandType">
            <mat-option *ngFor="let o of appConstants.DEVICE.COMMAND.TYPE| keyvalue"
                        [value]="o.value">
              {{ lookupByValue(appConstants.DEVICE.COMMAND.TYPE, o.value) }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Execute -->
        <div *ngIf="commandForm.value['commandType'] == appConstants.DEVICE.COMMAND.TYPE.EXECUTE"
             class="flex flex-col ml-5">
          <mat-form-field>
            <mat-label>Execution type</mat-label>
            <mat-select formControlName="executionType">
              <mat-option *ngFor="let o of appConstants.DEVICE.COMMAND.EXECUTION| keyvalue"
                          [value]="o.value">
                {{ lookupByValue(appConstants.DEVICE.COMMAND.EXECUTION, o.value) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Command</mat-label>
            <input formControlName="command" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Command arguments</mat-label>
            <input formControlName="arguments" matInput>
          </mat-form-field>
        </div>

        <!-- Firmware -->
        <div *ngIf="commandForm.value['commandType'] == appConstants.DEVICE.COMMAND.TYPE.FIRMWARE"
             class="flex flex-col ml-5">
<!--          <mat-form-field>-->
<!--            <mat-label>Provisioning package</mat-label>-->
<!--            <mat-select formControlName="command">-->
<!--              <mat-option *ngFor="let pp of provisioningPackages"-->
<!--                          [value]="pp.id">{{pp.name}} - {{pp.version}}</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
          <app-provisioning-select class="flex flex-grow"
             [parentForm]="commandForm" parentFormProvisioningField="command"
             label="Provisioning package">
          </app-provisioning-select>
        </div>
      </form>
    </div>
    <div class="card-actions justify-start mt-10">
      <button class="btn btn-sm btn-secondary" routerLink="/command">CANCEL</button>
      <button (click)="save()" *ngIf="allowCreate" [disabled]="!canDispatch()" class="btn btn-sm btn-primary">DISPATCH
      </button>
    </div>
  </div>
</div>
