<div layout="row" class="top-line" layout-align="left center">
  <div fxGrow="0">
    <img src="/assets/img/logo.png" class="logo" alt="esthesis logo">
  </div>
  <div fxFlex fxGrow="1" class="logo-text">
    <div fxLayout="column">
      <div class="main">esthesis</div>
      <div class="sub">IoT platform</div>
    </div>
  </div>
  <div fxFlex fxGrow="0" *ngIf="isLoggedIn()">
    <div>{{ getUserEmail() }}</div>
  </div>
  <div fxFlex fxGrow="0" *ngIf="isLoggedIn()">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item [routerLink]="['/logout']">Sign out</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>account_box</mat-icon>
    </button>
  </div>
</div>
