<div class="sidenav" fxLayout="column" fxLayoutGap="0.5rem">
  <button mat-button routerLink="dashboard" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>
  <button mat-button routerLink="devices" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>developer_board</mat-icon>
    Devices
  </button>
  <button mat-button routerLink="command" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>keyboard</mat-icon>
    Command
  </button>
  <mat-divider></mat-divider>
  <button mat-button routerLink="provisioning" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>tap_and_play</mat-icon>
    Provisioning
  </button>
  <button mat-button routerLink="campaigns" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>campaign</mat-icon>
    Campaigns
  </button>
  <button mat-button routerLink="certificates" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>verified</mat-icon>
    Certificates
  </button>
  <button mat-button routerLink="cas" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>foundation</mat-icon>
    CAs
  </button>
  <button mat-button routerLink="stores" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>vpn_key</mat-icon>
    Stores
  </button>
  <mat-divider></mat-divider>
  <button mat-button routerLink="dataflow" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>account_tree</mat-icon>
    Dataflows
  </button>
  <mat-divider></mat-divider>
  <button mat-button routerLink="tags" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>label</mat-icon>
    Tags
  </button>
  <button mat-button routerLink="infrastructure" routerLinkActive="active"
          fxFlexAlign="start">
    <mat-icon>integration_instructions</mat-icon>
    Infrastructure
  </button>
  <button mat-button routerLink="applications" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>apps</mat-icon>
    Applications
  </button>
  <mat-divider></mat-divider>
  <button mat-button routerLink="settings" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <button mat-button routerLink="users" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>supervisor_account</mat-icon>
    Users
  </button>
  <button mat-button routerLink="audit" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>find_in_page</mat-icon>
    Audit
  </button>
  <mat-divider></mat-divider>
  <button mat-button routerLink="about" routerLinkActive="active" fxFlexAlign="start">
    <mat-icon>info</mat-icon>
    About
  </button>
</div>
