.sidenav {
  .mat-mdc-button {
    border-radius: 0;
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }

  .active {
    background-color: #dddddd !important;
  }

  mat-icon {
    color: #555555;
    min-width: 2rem;
    margin-bottom: 2px;
  }

  mat-divider {
    margin: 0.3rem 0 0.3rem 0.8rem !important
  }
}
