<mat-card>
  <mat-card-title>Campaign</mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form" fxLayout="row" fxLayoutGap="1rem" fxLayout.lt-lg="column">
      <div fxLayout="column" fxFlex="30" fxLayoutGap="1rem">
        <div class="validation-errors" *ngIf="errorsMain" fxLayout="row">
          <div fxFlex="5rem">
            <mat-icon>rule</mat-icon>
          </div>
          <ul>
            <li *ngFor="let error of errorsMain">
              {{error}}
            </li>
          </ul>
        </div>
        <div fxLayout="column">
          <div class="inline-header">Details</div>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>

          <mat-form-field>
            <textarea [matTextareaAutosize]="true" matInput placeholder="Description"
                      formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Type" formControlName="type">
              <mat-option *ngFor="let o of constants.CAMPAIGN.TYPE| keyvalue"
                          [value]="o.value">
                {{ lookupByValue(constants.CAMPAIGN.TYPE, o.value) }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div fxLayout="column" *ngIf="form.value['type']===constants.CAMPAIGN.TYPE.COMMAND">
            <mat-form-field>
              <input matInput placeholder="Command name" formControlName="commandName">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Command arguments" formControlName="commandArguments">
            </mat-form-field>
          </div>
          <div *ngIf="form.value['type']===constants.CAMPAIGN.TYPE.PROVISIONING">
            <mat-form-field fxFlexFill>
              <mat-select placeholder="Provisioning package"
                          formControlName="provisioningPackageId">
                <mat-option *ngFor="let pp of provisioningPackages"
                            [value]="pp.id">{{pp.name}} - {{pp.packageVersion}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="column">
          <div class="inline-header">Devices</div>
          <div class="validation-errors" *ngIf="errorsDevices" fxLayout="row">
            <div fxFlex="5rem">
              <mat-icon>rule</mat-icon>
            </div>
            <ul>
              <li *ngFor="let error of errorsDevices">
                {{error}}
              </li>
            </ul>
          </div>
          <div fxLayout="row" fxLayoutGap="1rem">
            <mat-form-field fxFlex="60">
              <input matInput placeholder="Search by hardware Id" [matAutocomplete]="auto"
                     formControlName="searchByHardwareId">
              <mat-hint>Search by full or partial device hardware Id</mat-hint>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let device of searchDevices" [value]="device.hardwareId">
                  <span>{{device.hardwareId}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field fxFlex="40">
              <mat-select placeholder="Tags" multiple formControlName="searchByTags">
                <mat-option *ngFor="let tag of availableTags"
                            [value]="tag.name">{{tag.name}}</mat-option>
              </mat-select>
              <mat-hint>Devices should have all selected tags assigned</mat-hint>
            </mat-form-field>
          </div>

          <div fxLayout="row" class="xs-mt2">
            <button mat-button (click)="test()">TEST</button>
            <button mat-button (click)="addDeviceOrTag()">ADD</button>
            <button matSuffix mat-button [matMenuTriggerFor]="groupMenu">ADD IN GROUP</button>
            <mat-menu #groupMenu="matMenu" yPosition="below" >
              <div *ngIf="currentGroup() > 1">
                <button mat-menu-item *ngFor="let item of [].constructor(currentGroup()); let i = index"
                        (click)="addDeviceOrTag(i+1)">
                  <span>Group {{i+1}}</span>
                </button>
              <mat-divider></mat-divider>
              </div>
              <button mat-menu-item (click)="addDeviceOrTag(0)">
                <span>New group</span>
              </button>
            </mat-menu>
          </div>

          <div class="xs-mt1 devices-list">
            <div *ngFor="let group of memberGroups; index as i" class="device-group" fxLayout="column">
              <div fxLayout="row" class="group" fxLayoutAlign="space-between center">
                <div>Group {{i + 1}}</div>
                <button mat-button color="primary" (click)="removeGroup(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div>
                <div class="device" *ngFor="let item of group" fxLayout="row" fxLayoutAlign="start center">
                  <div [ngSwitch]="item.type">
                    <mat-icon *ngSwitchCase="constants.CAMPAIGN.MEMBER_TYPE.DEVICE">developer_board</mat-icon>
                    <mat-icon *ngSwitchCase="constants.CAMPAIGN.MEMBER_TYPE.TAG">label</mat-icon>
                  </div>
                  <div fxFlex="20rem">{{item.identifier}}</div>
                  <div>
                    <button mat-button color="primary" (click)="removeMember(item.identifier)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="70" fxLayout="column">
        <div fxLayout="row">
          <div class="inline-header">Conditions
            <button matSuffix mat-button [matMenuTriggerFor]="menu" [disabled]="form.get('members')!.value.length == 0">
              <mat-icon class="add-condition">add_circle_outline</mat-icon>
            </button>
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addCondition(constants.CAMPAIGN.CONDITION.TYPE.BATCH)">
              <mat-icon>layers</mat-icon>
              <span>Batch</span>
            </button>
            <button mat-menu-item
                    (click)="addCondition(constants.CAMPAIGN.CONDITION.TYPE.DATETIME)">
              <mat-icon>alarm</mat-icon>
              <span>Date & Time</span>
            </button>
            <button mat-menu-item (click)="addCondition(constants.CAMPAIGN.CONDITION.TYPE.FAILURE)">
              <mat-icon>flash_off</mat-icon>
              <span>Failure</span>
            </button>
            <button mat-menu-item (click)="addCondition(constants.CAMPAIGN.CONDITION.TYPE.PAUSE)">
              <mat-icon>pause</mat-icon>
              <span>Pause</span>
            </button>
            <button mat-menu-item
                    (click)="addCondition(constants.CAMPAIGN.CONDITION.TYPE.PROPERTY)">
              <mat-icon>tune</mat-icon>
              <span>Property</span>
            </button>
            <button mat-menu-item (click)="addCondition(constants.CAMPAIGN.CONDITION.TYPE.SUCCESS)">
              <mat-icon>outlined_flag</mat-icon>
              <span>Success</span>
            </button>
          </mat-menu>
        </div>
        <div class="validation-errors" *ngIf="errorsConditions" fxLayout="row">
          <div fxFlex="5rem">
            <mat-icon>rule</mat-icon>
          </div>
          <ul>
            <li *ngFor="let error of errorsConditions">
              {{error}}
            </li>
          </ul>
        </div>
        <div formArrayName="conditions" *ngFor="let condition of getConditions(); let i = index">
          <div [formGroupName]="i">
            <div fxLayout="row" fxLayoutGap="1rem" class="conditions">
              <div fxLayout="row" fxLayoutGap="1rem">
                <div fxLayoutAlign="none center">{{i + 1}}</div>
                <div fxLayoutAlign="none center">
                  <mat-icon>{{getIcon(condition.value.type)}}</mat-icon>
                </div>
                <mat-form-field>
                  <mat-select placeholder="Target" formControlName="target">
                    <mat-option *ngFor="let item of [].constructor(currentGroup()); let i = index" [value]="i+1">Group {{i+1}}</mat-option>
                    <mat-divider
                      *ngIf="condition.value.type !== constants.CAMPAIGN.CONDITION.TYPE.SUCCESS && condition.value.type !== constants.CAMPAIGN.CONDITION.TYPE.FAILURE"></mat-divider>
                    <mat-option
                      *ngIf="condition.value.type !== constants.CAMPAIGN.CONDITION.TYPE.SUCCESS && condition.value.type !== constants.CAMPAIGN.CONDITION.TYPE.FAILURE" [value]="0">Global</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field
                  *ngIf="condition.value.type !== constants.CAMPAIGN.CONDITION.TYPE.BATCH">
                  <mat-select placeholder="Stage" formControlName="stage">
                    <mat-option [value]="constants.CAMPAIGN.CONDITION.STAGE.ENTRY">Entry
                    </mat-option>
                    <mat-option [value]="constants.CAMPAIGN.CONDITION.STAGE.EXIT">Exit</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="1rem" [ngSwitch]="condition.value.type">
                <!-- DATE TIME -->
                <div *ngSwitchCase="constants.CAMPAIGN.CONDITION.TYPE.DATETIME" fxLayoutGap="1rem">
                  <mat-form-field>
                    <mat-select placeholder="Operation" formControlName="operation">
                      <mat-option [value]="constants.CAMPAIGN.CONDITION.OP.BEFORE">
                        Before
                      </mat-option>
                      <mat-option [value]="constants.CAMPAIGN.CONDITION.OP.AFTER">
                        After
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="scheduleDate">
                    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [showSeconds]="false"
                                             [enableMeridian]="false">
                      <!-- Custom icon or text of Apply icon -->
                      <ng-template>
                        <span>SELECT</span>
                      </ng-template>
                    </ngx-mat-datetime-picker>
                  </mat-form-field>
                  <button mat-button color="primary" (click)="removeCondition(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

                <!-- FAILURE -->
                <div *ngSwitchCase="constants.CAMPAIGN.CONDITION.TYPE.FAILURE" fxLayoutGap="1rem">
                  <mat-form-field>
                    <mat-select placeholder="Operation" formControlName="operation">
                      <mat-option [value]="constants.CAMPAIGN.CONDITION.OP.ABOVE">
                        Above
                      </mat-option>
                      <mat-option [value]="constants.CAMPAIGN.CONDITION.OP.BELOW">
                        Below
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Value" formControlName="value">
                  </mat-form-field>
                  <button mat-button color="primary" (click)="removeCondition(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

                <!-- PAUSE -->
                <div *ngSwitchCase="constants.CAMPAIGN.CONDITION.TYPE.PAUSE" fxLayoutGap="1rem">
                  <mat-form-field>
                    <mat-select placeholder="Operation" formControlName="operation">
                      <mat-option [value]="constants.CAMPAIGN.CONDITION.OP.FOREVER">
                        Forever
                      </mat-option>
                      <mat-option
                        [value]="constants.CAMPAIGN.CONDITION.OP.TIMER_MINUTES">Timer
                        (minutes)
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field *ngIf="condition.value.operation==constants.CAMPAIGN.CONDITION.OP.TIMER_MINUTES">
                    <input matInput placeholder="Value" formControlName="value">
                  </mat-form-field>
                  <button mat-button color="primary" (click)="removeCondition(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

                <!-- PROPERTY -->
                <div *ngSwitchCase="constants.CAMPAIGN.CONDITION.TYPE.PROPERTY" fxLayoutGap="1rem">
                  <mat-form-field>
                    <input matInput placeholder="Property name" formControlName="propertyName">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Operation" formControlName="operation">
                      <mat-option [value]="constants.CAMPAIGN.CONDITION.OP.EQUAL">=
                      </mat-option>
                      <mat-option [value]="constants.CAMPAIGN.CONDITION.OP.GT">&gt;
                      </mat-option>
                      <mat-option [value]="constants.CAMPAIGN.CONDITION.OP.LT">&lt;
                      </mat-option>
                      <mat-option [value]="constants.CAMPAIGN.CONDITION.OP.GTE">&gt;=
                      </mat-option>
                      <mat-option [value]="constants.CAMPAIGN.CONDITION.OP.LTE">&lt;=
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Value" formControlName="value">
                  </mat-form-field>
                  <button mat-button color="primary" (click)="removeCondition(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

                <!-- SUCCESS -->
                <div *ngSwitchCase="constants.CAMPAIGN.CONDITION.TYPE.SUCCESS" fxLayoutGap="1rem">
                  <mat-form-field>
                    <mat-select placeholder="Operation" formControlName="operation">
                      <mat-option [value]="constants.CAMPAIGN.CONDITION.OP.ABOVE">
                        Above
                      </mat-option>
                      <mat-option [value]="constants.CAMPAIGN.CONDITION.OP.BELOW">
                        Below
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Value" formControlName="value">
                  </mat-form-field>
                  <button mat-button color="primary" (click)="removeCondition(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

                <!-- BATCH -->
                <div *ngSwitchCase="constants.CAMPAIGN.CONDITION.TYPE.BATCH" fxLayoutGap="1rem">
                  <mat-form-field>
                    <input matInput placeholder="Value" formControlName="value">
                  </mat-form-field>
                  <button mat-button color="primary" (click)="removeCondition(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            *ngIf="form.get('state')!.value === constants.CAMPAIGN.STATE.CREATED"
            (click)="start()">START</button>
    <button mat-button
            (click)="testWorkflow()">TEST</button>
    <button mat-button (click)="save()">SAVE</button>
  </mat-card-actions>
</mat-card>
