<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="cog"></fa-icon>
        <div>Settings</div>
      </div>
    </h2>
    <div>
      <nav mat-tab-nav-bar>
        <a mat-tab-link
           routerLink="device-registration"
           routerLinkActive #rla1="routerLinkActive"
           [active]="rla1.isActive">
          Device registration
        </a>
        <a mat-tab-link
           routerLink="device-page"
           routerLinkActive #rla2="routerLinkActive"
           [active]="rla2.isActive">
          Device page
        </a>
        <a mat-tab-link
           routerLink="security"
           routerLinkActive #rla3="routerLinkActive"
           [active]="rla3.isActive">
          Security
        </a>
        <a mat-tab-link
           routerLink="provisioning"
           routerLinkActive #rla4="routerLinkActive"
           [active]="rla4.isActive">
          Provisioning
        </a>
        <a mat-tab-link
           routerLink="messaging"
           routerLinkActive #rla5="routerLinkActive"
           [active]="rla5.isActive">
          Messaging
        </a>
      </nav>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
