<div class="card w-full bg-base-200 rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <fa-icon icon="stamp"></fa-icon>
        <div>Certificate Authority</div>
      </div>
    </h2>
    <div>
      <form [formGroup]="form" novalidate>
        <div class="flex flex-col">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
            <mat-hint>A friendly name to identify this CA.</mat-hint>
            <app-field-error [displayError]="isFieldValid(form, 'name')"
                             [errorMessage]="form.controls['name'].getError('message')"
                             matSuffix
            ></app-field-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Common name</mat-label>
            <input formControlName="cn" matInput>
            <app-field-error [displayError]="isFieldValid(form, 'cn')"
                             [errorMessage]="form.controls['cn'].getError('message')"
                             matSuffix
            ></app-field-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Expires at</mat-label>
            <input [matDatepicker]="validityPicker" formControlName="validity"
                   matInput>
            <mat-datepicker-toggle [for]="validityPicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #validityPicker disabled="false"></mat-datepicker>
          </mat-form-field>
          <app-smart-select class="flex flex-grow"
                            [parentForm]="form"
                            parentFormField="parentCaId"
                            dtoValue="id"
                            dtoLabel="name"
                            searchMethod="find"
                            searchTerm="cn"
                            getMethod="findById"
                            [multiple]="false"
                            label="Parent CA" [service]="caService">
          </app-smart-select>
        </div>
      </form>
    </div>
    <div class="card-actions justify-start mt-10">
      <button class="btn btn-sm btn-secondary" routerLink="/cas">CANCEL</button>
      <button (click)="delete()" *ngIf="allowDelete" [disabled]="this.id === appConstants.NEW_RECORD_ID"
              class="btn btn-sm btn-accent">DELETE
      </button>
      <button *ngIf="allowRead && this.id !== appConstants.NEW_RECORD_ID" [matMenuTriggerFor]="menu"
              class="btn btn-sm btn-secondary">
        DOWNLOAD
        <fa-icon class="ml-2" icon="caret-down"></fa-icon>
        <mat-menu #menu="matMenu" xPosition="before">
          <button (click)="downloadCertificate()" mat-menu-item>Certificate</button>
          <button (click)="downloadPublicKey()" mat-menu-item>Public key</button>
          <button (click)="downloadPrivateKey()" mat-menu-item>Private key</button>
        </mat-menu>
      </button>
      <button (click)="save()" *ngIf="allowCreate" [disabled]="form.invalid || id !== appConstants.NEW_RECORD_ID"
              class="btn btn-sm btn-primary">SAVE
      </button>
    </div>
  </div>
</div>
