<mat-card>
  <div *ngIf="!activeNiFiId">
    <mat-error>
      No active NiFi instance found. Data wizard functionality is disabled.
    </mat-error>
  </div>
  <mat-card-title>Data wizards</mat-card-title>
  <mat-card-content>
    <div class="inline-subheader">Data wizards allow you to create all necessary data management
      configuration in one simple step. Instead of specifying individual readers, writers, and
      producers, data wizards  can create all the necessary components for you.
    </div>

    <form novalidate [formGroup]="form">
      <mat-radio-group formControlName="wizard" class="xs-mt2">
        <div class="subheader xs-mt2 xs-mb1">
          <mat-radio-button [value]="WIZARD_STANDARD" >
            Standard infrastructure
          </mat-radio-button>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="">
          <div class="techvatar">
            <div class="tech">Ping reader</div>
            <div class="desc">An MQTT reader to consume ping messages received from devices.</div>
          </div>
          <div class="techvatar">
            <div class="tech">Ping writer</div>
            <div class="desc">An relational database writer to update last-seen value for each
            device in esthesis database.</div>
          </div>
          <div class="techvatar">
            <div class="tech">Metadata reader</div>
            <div class="desc">An MQTT reader to consume metadata messages received from devices.</div>
          </div>
          <div class="techvatar">
            <div class="tech">Metadata writer</div>
            <div class="desc">A relational database writer to update metadata messages received
              from devices in esthesis database.</div>
          </div>
          <div class="techvatar">
            <div class="tech">Telemetry reader</div>
            <div class="desc">An MQTT reader to consume metadata messages received from devices.</div>
          </div>
          <div class="techvatar">
            <div class="tech">Telemetry writer</div>
            <div class="desc">An InfluxDB writer to update telemetry data received
              from devices in InfluxDB.</div>
          </div>
          <div class="techvatar">
            <div class="tech">Telemetry data producer</div>
            <div class="desc">A data producer providing access to telemetry data gathered from the devices.</div>
          </div>
          <div class="techvatar">
            <div class="tech">Metadata data writer</div>
            <div class="desc">A data producer providing access to metadata data gathered from the devices.</div>
          </div>
          <div class="techvatar">
            <div class="tech">Command Producer</div>
            <div class="desc">A data producer for device commands.</div>
          </div>
          <div class="techvatar">
            <div class="tech">Command Reader</div>
            <div class="desc">A data reader for device commands.</div>
          </div>
          <div class="techvatar">
            <div class="tech">Command Writer</div>
            <div class="desc">A data writer for device commands.</div>
          </div>
        </div>
      </mat-radio-group>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="!activeNiFiId" mat-button (click)="executeWizard()">START WIZARD</button>
  </mat-card-actions>
</mat-card>
