<div class="card w-full rounded-b-none bg-base-200">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between">
      <div class="flex flex-row gap-2">
        <fa-icon icon="building-shield"></fa-icon>
        <div>Policies</div>
      </div>
    </h2>
    <div>
      <!-- Filters -->
       <div [formGroup]="filterForm" class="mb-10 mt-5 gap-2 flex flex-row">
        <fa-icon icon="search" class="mt-2.5"></fa-icon>
        <input type="text" placeholder="Name"
               class="input w-full max-w-xs placeholder-primary-content/30"
               formControlName="name"/>
        <input type="text" placeholder="Description"
               class="input w-full max-w-xs placeholder-primary-content/30"
               formControlName="description"/>
        <input type="text" placeholder="Rule"
               class="input w-full max-w-xs placeholder-primary-content/30"
               formControlName="rule"/>
        <button (click)="clearFilter()" class="btn btn-secondary btn-ghost ml-2">CLEAR</button>
      </div>

      <!-- Table -->
      <table cdk-table [dataSource]="dataSource"
             matSort matSortActive="name" matSortDirection="asc" matSortStart="asc"
             matSortDisableClear aria-describedby="List of users" class="table w-full">
        <ng-container cdkColumnDef="name">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Name</th>
          <td cdk-cell *cdkCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container cdkColumnDef="description">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Description</th>
          <td cdk-cell *cdkCellDef="let element">{{element.description}}</td>
        </ng-container>
        <ng-container cdkColumnDef="rule">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header scope="col"> Rule</th>
          <td cdk-cell *cdkCellDef="let element">{{element.rule}}</td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let element; columns: displayedColumns;"
            [routerLink]="element.id" class="hover hover:cursor-pointer"></tr>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 30, 50]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
    <div class="card-actions justify-start mt-10">
      <button class="btn btn-sm btn-primary" [routerLink]="appConstants.NEW_RECORD_ID">CREATE
      </button>
    </div>
  </div>
</div>
