<form novalidate [formGroup]="form" class="flex flex-col">
  <div class="font-bold text-xl mt-5">Registration mode</div>
  <mat-radio-group formControlName="DEVICE_REGISTRATION_MODE" class="flex flex-col gap-5 mt-2">
    <div>
      <mat-radio-button value="DISABLED">Disabled</mat-radio-button>
      <div class="ml-11">No devices can be registered with the platform.</div>
    </div>

    <div>
      <mat-radio-button value="OPEN">Open registration</mat-radio-button>
      <div class="ml-11">Allow any device to be registered with the platform.</div>
    </div>

    <div>
      <mat-radio-button value="OPEN_WITH_SECRET">Open registration with shared secret
      </mat-radio-button>
      <div class="ml-11">Devices can register with the platform using a shared secret.</div>
      <mat-form-field class="ml-11 mt-2 no-wrap"
                      *ngIf="form.controls['DEVICE_REGISTRATION_MODE'].value === 'OPEN_WITH_SECRET'">
        <mat-label>Registration secret</mat-label>
        <input matInput formControlName="DEVICE_REGISTRATION_SECRET">
      </mat-form-field>
    </div>

    <div>
      <mat-radio-button value="ID">Preregistered ID</mat-radio-button>
      <div class="ml-11">Only devices whose IDs are known to the platform can be registered.</div>
    </div>
  </mat-radio-group>

  <div class="font-bold text-xl mt-10">Root Certificate Authority</div>
  <mat-form-field>
    <mat-select formControlName="DEVICE_ROOT_CA">
      <mat-option *ngFor="let o of cas" [value]="o.id">
        {{ o.cn }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="font-bold text-xl mt-5">Device tags</div>
  <mat-form-field>
    <mat-select formControlName="DEVICE_PUSHED_TAGS">
      <mat-option [value]="'true'">Allowed</mat-option>
      <mat-option [value]="'false'">Ignored</mat-option>
    </mat-select>
    <mat-hint>Allow devices to push tags which do not exist. Such tags will be automatically created
      in the platform.
    </mat-hint>
  </mat-form-field>
</form>

<button class="btn btn-sm btn-primary mt-10" (click)="save()" [disabled]="form.invalid">SAVE
</button>
